<body>
  <div class="thankyoucontent">
    <div class="wrapper-1">
      <div class="wrapper-2">
        <!--<img src="https://i.ibb.co/Lkn7rkG/thank-you-envelope.png" alt="thank-you-envelope" border="0">-->
        <div>
          <img src="../../../../assets/images/404.gif" style="width: 270px" />
        </div>
        <h1 class="blueText">{{language.notFoundTitle}}</h1>
        <p class="blueText">{{language.notFoundText}}</p>
        <button class="go-home" (click)="backButton()">
          {{language.notFoundBackButton}}
        </button>
      </div>
    </div>
  </div>

  <div class="footer">
    <img src="./assets/images/brand-logo.png" />
    <p>{{language.notFoundCopyRight}}</p>
  </div>
</body>