@import url("https://fonts.googleapis.com/css?family=Raleway:400,600,900");

* {
  box-sizing: border-box;
  /* outline:1px solid ;*/
}
body {
  height: 100vh;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background: #fff !important;
}
a {
  color: #fff;
  text-decoration: none;
  transition: all 0.3s linear 0s;
}

.wrapper-1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
.wrapper-2 {
  padding: 90px;
  text-align: center;
}
h1 {
  font-family: "Raleway", Arial Black, Sans-Serif;
  font-size: 4em;
  font-weight: 900;
  letter-spacing: 3px;
  color: #fafafa;
  margin: 0;
  margin-top: 40px;
}
.wrapper-2 p {
  margin: 0;
  font-size: 1.3em;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
}
.go-home {
  background: #01a9e9;
  border: none;
  padding: 15px 15px;
  margin: 30px 0;
  border-radius: 5px;
  cursor: pointer;
  color: #fff;
  font-weight: bold;
}
.go-home:hover {
  opacity: 0.9;
}
.go-home a {
  font-family: "Raleway", Arial Black;
  font-size: 1rem;
  font-weight: 700 !important;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.footer-like {
  margin-top: auto;
  background: rgb(31, 38, 130);
  padding: 6px;
  text-align: center;
}
.footer-like p {
  margin: 0;
  padding: 4px;
  color: #fafafa;
  letter-spacing: 1px;
}
.footer-like p a {
  text-decoration: none;
  color: #5892ff;
  font-weight: 600;
}

.footer-like p a:hover {
  color: #fff;
}

@media (min-width: 360px) {
  h1 {
    font-size: 4.5em;
  }
  .go-home {
    margin-bottom: 20px;
  }
}

@media (min-width: 600px) {
  .thankyoucontent {
    max-width: 1000px;
    margin: 0 auto;
  }
  .wrapper-1 {
    height: initial;
    margin: 0 auto;
  }
}

.jumbotron {
  background-color: #f5f8fc;
}
.jumbotron h2 {
  color: #000;
  font-size: 3em;
  font-weight: bold;
  margin: 0.25em 0;
}
.jumbotron p {
  color: #000;
}
.jumbotron .container-login100-form-btn {
  margin-left: auto;
  margin-right: auto;
  max-width: 250px;
}

.checkMark {
  -webkit-animation: show 1s linear forwards 0.5s;
  -ms-animation: show 1s linear forwards 0.5s;
  animation: show 1s linear forwards 0.5s;
  border: 2px solid #01a9e9;
  border-radius: 50%;
  height: 150px;
  margin: 0 auto;
  padding: 1.5em;
  width: 150px;
}
.checkMark path {
  -webkit-animation: draw 0.5s linear forwards 1s;
  -ms-animation: draw 0.5s linear forwards 1s;
  animation: draw 0.5s linear forwards 1s;
  fill: none;
  stroke: #01a9e9;
  stroke-miterlimit: 10;
  stroke-width: 40px;
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
}
.checkMark svg {
  overflow: visible;
}

@-webkit-@keyframes draw {
  from {
    stroke-linecap: round;
  }
  to {
    stroke-linecap: round;
    stroke-dashoffset: 0;
  }
}
@-ms-@keyframes draw {
  from {
    stroke-linecap: round;
  }
  to {
    stroke-linecap: round;
    stroke-dashoffset: 0;
  }
}
@keyframes draw {
  from {
    stroke-linecap: round;
  }
  to {
    stroke-linecap: round;
    stroke-dashoffset: 0;
  }
}

@-webkit-@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-ms-@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.blueText {
  color: #01a9e9;
}

.footer {
  position: absolute;
  bottom: 0px;
  text-align: center;
  width: 100%;
}

.footer img {
  width: 190px;
}

.footer p {
  font-size: 12px;
}
