<body *ngIf="license">
  <div id="licensePdf" #licensePdf>
    <div class="left">
      <div class="info-box">
        <div class="receipt">
          {{language.licence}}
        </div>
        <div class="entry">
          <span class="fa fa-money" aria-hidden="true"></span>
          <p>{{language.licencePriceTitle}}:<span> {{license.price}} €</span></p>
        </div>
        <div class="entry">
          <span class="fa fa-calendar" aria-hidden="true"></span>
          <p>{{language.licenceExpiration}}:<span> {{license.expiration_date | date :'dd.MM.yyyy' }}</span></p>
        </div>
        <div class="entry">
          <span class="fa fa-id-card" aria-hidden="true"></span>
          <p>{{language.yourLicence}}:<span> {{language[license.name] ? language[license.name] : license.name}}</span>
          </p>
        </div>
      </div>
    </div>
    <div class="right">
      <div class="content">
        <div class="header">
          <!-- <img src="http://app-production.eu:8080/assets/images/brand-logo.png"> -->
          <div class="col-xs-12 text-right">
            <h4>{{license.date_paid | date :'dd.MM.yyyy' }}</h4>
          </div>
        </div>
        <div class="main">
          <h3>{{language.extendedLicenceFor}} {{language[license.name] ? language[license.name] : license.name}}</h3>
          <h5>{{language.licencePriceTitle}}: {{license.price}} €</h5>
        </div>
        <div class="message">
          <p>{{language.greetingForPayment}} {{license.firstname}},</p>
          <p> {{language.messageForPayment}}</p>
        </div>
        <div class="footer">
          <a href="http://clinicnode.com">www.clinicnode.com</a>
        </div>
      </div>
    </div>
  </div>
</body>

<div class="col-xs-12 text-center mt-6">
  <button class="btn btn-success" (click)="generatePDF()">{{language.downloadLicenceDoc}}</button>
</div>