<div #contentWrapper class="content-wrapper w-100" style="height: 100%; overflow: hidden;">

  <div #filterToolbar class="filter-toolbar w-100 h-auto">
    <div class="d-flex w-100 h-auto">
      <ejs-toolbar id="toolbar_options" height="auto" width="100%">
        <e-items>
          <e-item tooltipText="{{ language.filterTooltip }}">
            <ng-template #template>
              <div class="toolbarElement float-left" (click)="showFilterPanel()">
                <div class="icon-child">
                  <div>
                    <span class="fa fa-search"></span>
                  </div>
                </div>
                <div class="text-child">
                  {{ language.filterToolbar }}
                </div>
              </div>
            </ng-template>
          </e-item>

          <e-item tooltipText="{{ language.generatePDFTooltip }}">
            <ng-template #template>
              <div class="toolbarElement float-right" [ngClass]="{'disabled': !isWordOrPDFEnabled}"
                (click)="downloadPDF()">
                <div class="icon-child">
                  <div>
                    <span class="fa fa-file-pdf-o"></span>
                  </div>
                </div>
                <div class="text-child">
                  {{ language.exportToPDF }}
                </div>
              </div>
            </ng-template>
          </e-item>

          <e-item tooltipText="{{ language.printPDFTooltip }}">
            <ng-template #template>
              <div class="toolbarElement float-right" [ngClass]="{'disabled': !isWordOrPDFEnabled}"
                (click)="printPDF()">
                <div class="icon-child">
                  <div>
                    <span class="fa fa-print"></span>
                  </div>
                </div>
                <div class="text-child">
                  {{ language.print }}
                </div>
              </div>
            </ng-template>
          </e-item>
          <e-item tooltipText="{{ language.downloadWordTooltip }}">
            <ng-template #template>
              <div class="toolbarElement float-right" [ngClass]="{'disabled': !isWordOrPDFEnabled}"
                (click)="downloadWord()">
                <div class="icon-child">
                  <div>
                    <span class="fa fa-file-word-o"></span>
                  </div>
                </div>
                <div class="text-child">
                  {{ language.downloadWord }}
                </div>
              </div>
            </ng-template>
          </e-item>
        </e-items>
      </ejs-toolbar>
    </div>
    <div *ngIf="displayToolbar" class="d-flex w-100 h-auto pl-4 ml-3">

      <div class="row">
        <div class="col-sm-6 border-right">
          <div class="row mt-2">
            <div class="col-sm-6">
              <kendo-textbox-container floatingLabel=" {{ language.patient }}">
                <kendo-combobox #fieldName1 id="customerUsers" [suggest]="true" [data]="customerUsers"
                  [textField]="'shortname'" [valueField]="'id'" (valueChange)="onValueChange($event)"
                  [(ngModel)]="customerUser" [filterable]="true" (filterChange)="searchCustomer($event)"
                  [loading]="customerLoading">
                  <ng-template kendoComboBoxItemTemplate let-dataItem>
                    <p style="height: 50px !important">
                      <span style="font-weight: bold">{{ dataItem.shortname }}</span>
                      <br />
                      <span class="customerInfo" *ngIf="dataItem.city !== ''"> {{ dataItem.city }}</span>
                      <span class="customerInfo" *ngIf="dataItem.street !== ''">/{{ dataItem.street }}</span>
                    </p>
                  </ng-template>
                </kendo-combobox>
              </kendo-textbox-container>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-sm-6">
              <kendo-daterange>
                <label class="mr-4">
                  <span class="date-range-label"> {{ language.startDateLabel }}</span>
                  <kendo-dateinput format="dd.MM.yyyy" class="full-width" kendoDateRangeStartInput
                    [navigateCalendarOnFocus]="true" [(value)]="range.start">
                  </kendo-dateinput>
                </label>
                <label>
                  <span class="date-range-label"> {{ language.endDateLabel }} </span>
                  <kendo-dateinput format="dd.MM.yyyy" class="full-width" kendoDateRangeEndInput
                    [navigateCalendarOnFocus]="true" (valueChange)="popup.toggle()" [(value)]="range.end">
                  </kendo-dateinput>
                </label>
                <kendo-daterange-popup [anchor]="anchor" #popup></kendo-daterange-popup>
              </kendo-daterange>


              <div class="row mt-4">
                <div class="col-sm-4">
                  <div class="btn btn-primary" [ngClass]="{'disabled': noDataSelected}" (click)="filter()">
                    {{language.filterToolbar }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="row mt-2">
            <div class="col-sm-12">
              <h4> {{ language.additionalInvoiceOptionsTitle }}</h4>
            </div>
            <div class="col-sm-12 mt-4">
              <input class="k-checkbox" type="checkbox" [(ngModel)]="isPriceIncluded">
              <label class="k-checkbox-label"> {{ language.printBruttoNettoPrice}} </label>
            </div>

            <div class="col-sm-4 mt-4">
              <label class="k-textbox-label"> {{ language.invoicePrefix}} </label>
              <input class="k-textbox" type="textbox" [(ngModel)]="invoiceNumber">
            </div>

            <div class="col-sm-12 mt-5">
              <label class="k-checkbox-label"> {{ language.selectInvoiceLanguage }} </label>
              <br>
              <kendo-dropdownlist [data]="languageList" textField="text" valueField="value"
                [(ngModel)]="selectedInvoiceLanguage" (valueChange)="valueChange($event)">
              </kendo-dropdownlist>
            </div>

            <div class="col-sm-6 mt-5">
              <label class="k-checkbox-label"> {{ language.selectInvoiceStore }} </label>
              <br>
              <kendo-combobox [data]="storeList" textField="text" valueField="value" [valuePrimitive]="true"
                [(ngModel)]="selectedStoreInfo" (valueChange)="storeValueChange($event)">
              </kendo-combobox>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="grid w-100" style="height: 100%; padding-top:1%;">
    <div class="left-panel" style="height: 100%">
      <div class="control-section" style="height: 100%">
        <kendo-grid #grid [style.height.%]="tableHeight"
          [selectable]="{enabled: true, checkboxOnly: true, mode: 'multiple'}" [data]="gridViewData"
          [pageSize]="pageSize" [skip]="state.skip" [pageable]="true" (pageChange)="pageChange($event)"
          [filter]="state.filter" [loading]="loading">

          <ng-template kendoGridToolbarTemplate>
            <div style="float: right; padding-right: 30px;">

              <div class="dropdown-grid">
                <button class="btn-grid" style="border-left: 1px solid #2a3582">
                  <i class="fa fa-caret-down"></i>
                </button>
                <div class="dropdown-content-grid">
                  <a (click)="exportPDF(false)"><span class="k-icon k-i-file-pdf"></span>
                    {{ language.exportPageToPDF }}</a>
                  <a (click)="exportPDF(true)"><span class="k-icon k-i-file-pdf"></span>
                    {{ language.exportToPDF }}</a>

                  <a (click)="exportToExcel(grid, false)"><span class="k-icon k-i-file-excel"></span>
                    {{ language.exportToExcel }}
                  </a>

                  <a (click)="exportToExcel(grid, true)"><span class="k-icon k-i-file-excel"></span>
                    {{ language.exportAllToExcel }}
                  </a>
                </div>
              </div>
            </div>
          </ng-template>

          <ng-template kendoGridNoRecordsTemplate>
            <div class="row mx-auto" style="margin-top:20%" *ngIf="!loading">
              <div class="col-12 d-flex justify-content-center">
                <h4> {{ language.emptyGridMessage }} </h4>
                <div *ngIf="!displayToolbar" class="btn btn-default" (click)="openFilterPanel()"> {{ language.clickHere
                  }} </div>
              </div>
            </div>
          </ng-template>

          <kendo-grid-checkbox-column [width]="100">
            <ng-template kendoGridHeaderTemplate>
              <div class="text-center">
                <input class="k-checkbox" id="chkHeader" type="checkbox" [disabled]="isCheckBoxDisabled"
                  (click)="selectAll()" [(ngModel)]="isAllChecked">
                <label class="k-checkbox-label" for="chkHeader"></label>
              </div>
            </ng-template>

            <ng-template kendoGridCellTemplate let-dataItem>
              <div class="text-center">
                <input type="checkbox" kendoCheckBox (click)=setSelectedItem(dataItem) [(ngModel)]="dataItem.checked" />
              </div>
            </ng-template>
          </kendo-grid-checkbox-column>

          <kendo-grid-column field="complaint_title" title="{{ language.complaintMenu}}"></kendo-grid-column>
          <kendo-grid-column field="date" title="{{ language.date}}"></kendo-grid-column>
          <kendo-grid-column field="storename" title="{{ language.store}}"></kendo-grid-column>
          <kendo-grid-column title="{{ language.doctorColumnTitle}}">
            <ng-template kendoGridCellTemplate let-dataItem>
              <h4>{{ dataItem.firstname }} {{ dataItem.lastname}}</h4>
              <h6>{{ dataItem.email }}</h6>
              <p>{{ dataItem.telephone }}</p>
            </ng-template>
          </kendo-grid-column>

          <kendo-grid-column field="therapies_title" title="{{ language.therapyMenu}}"></kendo-grid-column>
          <kendo-grid-column field="event_category" title="{{ language.eventCategory}}"></kendo-grid-column>

          <kendo-grid-pdf fileName="Invoices.pdf" [allPages]="allPages" paperSize="A4" [scale]="0.8"
            [repeatHeaders]="true" [landscape]="true">
            <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
            <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
              <div class="page-template">
                <div class="header">
                  <div>Page {{ pageNum }} of {{ totalPages }}</div>
                </div>
              </div>
            </ng-template>
            <kendo-grid-column field="complaint_title" title="{{ language.complaintMenu}}"></kendo-grid-column>
            <kendo-grid-column field="date" title="{{ language.date}}"></kendo-grid-column>
            <kendo-grid-column field="storename" title="{{ language.store}}"></kendo-grid-column>
            <kendo-grid-column title="{{ language.doctorColumnTitle}}">
              <ng-template kendoGridCellTemplate let-dataItem>
                <h4>{{ dataItem.firstname }} {{ dataItem.lastname}}</h4>
                <h6>{{ dataItem.email }}</h6>
                <p>{{ dataItem.telephone }}</p>
              </ng-template>
            </kendo-grid-column>

            <kendo-grid-column field="therapies_title" title="{{ language.therapyMenu}}"></kendo-grid-column>
            <kendo-grid-column field="event_category" title="{{ language.eventCategory}}"></kendo-grid-column>

          </kendo-grid-pdf>

          <kendo-grid-excel fileName="Invoices.xlsx" [fetchData]="allData"></kendo-grid-excel>

        </kendo-grid>
      </div>
    </div>
  </div>

</div>