.expand-label {
  cursor: pointer;
}

.check-option {
  font-weight: bold;
}

.date-range-label {
  display: block;
  font-weight: bold;
  color: #656565;
}

.text-child {
  font-size: 14px;
}

.toolbarElement {
  min-width: 45px;
  text-align: center;
}

div.disabled {
  pointer-events: none;

  /* for "disabled" effect */
  opacity: 0.5;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

@media (max-width: 767.98px) {
  .full-width {
    width: 100vw;
  }
}

.border-right {
  border-right: 1px solid lightgray;
}