<div class="vd_content-section clearfix" *ngIf="data !== undefined">
  <div class="row">
    <div class="col-sm-3">
      <div class="panel widget light-widget panel-bd-top">
        <div class="no-title"> </div>
        <div class="panel-body">
          <div class="text-center vd_info-parent"> <img alt="example image" style="width: 190px;"
              [src]="imagePath" class="rounded-circle"> </div>
              <kendo-upload
              [saveUrl]="uploadSaveUrl"
              [removeUrl]="uploadRemoveUrl"
              (upload)="uploadEventHandler($event)"
              (remove)="removeEventHandler($event)">
              <kendo-upload-messages
              select="Upload image"
              >
            </kendo-upload-messages>
            </kendo-upload>
          <h2 class="font-semibold mgbt-xs-5">{{data.firstname}} {{data.lastname}}</h2>
          <h4 *ngIf="data.type === 0">Superadmin</h4>
          <h4 *ngIf="data.type === 1">Admin</h4>
          <h4 *ngIf="data.type === 2">Manager</h4>
          <h4 *ngIf="data.type === 3">Employee</h4>
          <div class="mgtp-20">
            <table class="table table-striped table-hover">
              <tbody>
                <tr>
                  <td style="width:60%;">Status</td>
                  <td>
                    <span *ngIf="data.active" class="label label-success">Active</span>
                    <span *ngIf="!data.active" class="label label-danger">Inactive</span>
                  </td>
                </tr>
                <!--<tr>
                  <td>User Rating</td>
                  <td><i class="fa fa-star vd_yellow fa-fw"></i><i class="fa fa-star vd_yellow fa-fw"></i><i
                      class="fa fa-star vd_yellow fa-fw"></i><i class="fa fa-star vd_yellow fa-fw"></i><i
                      class="fa fa-star vd_yellow fa-fw"></i></td>
                </tr>
                <tr>
                  <td>Member Since</td>
                  <td> Jan 07, 2014 </td>
                </tr>-->
              </tbody>
            </table>
          </div>
        </div>
      </div>

    </div>
    <div class="col-sm-9">
      <div class="tabs widget">
        <ul class="nav nav-tabs widget">
          <li [ngClass]="currentTab === 'profile' ? 'active' : ''"> <a (click)="changeTab('profile')">Profile</a></li>
          <li [ngClass]="currentTab === 'company' ? 'active' : ''"> <a (click)="changeTab('company')">Company</a></li>
        </ul>
        <div class="tab-content" *ngIf="currentTab === 'profile'">
          <div id="profile-tab" class="tab-pane active">
            <div class="pd-20">
              <div class="vd_info tr" style="float: right;"> <a class="btn vd_btn btn-xs vd_bg-yellow" (click)="user.open()"> <i
                    class="fa fa-pencil append-icon"></i> Edit </a> </div>
              <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="fa fa-user"></i> ABOUT</h3>
              <div class="row">
                <div class="col-sm-6">
                  <div class="row mgbt-xs-0">
                    <label class="col-xs-5 control-label">First Name:</label>
                    <div class="col-xs-7 controls">{{data.firstname}}</div>
                    <!-- col-sm-10 -->
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row mgbt-xs-0">
                    <label class="col-xs-5 control-label">Last Name:</label>
                    <div class="col-xs-7 controls">{{data.lastname}}</div>
                    <!-- col-sm-10 -->
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row mgbt-xs-0">
                    <label class="col-xs-5 control-label">User Name:</label>
                    <div class="col-xs-7 controls">{{data.shortname}}</div>
                    <!-- col-sm-10 -->
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row mgbt-xs-0">
                    <label class="col-xs-5 control-label">Email:</label>
                    <div class="col-xs-7 controls">{{data.email}}</div>
                    <!-- col-sm-10 -->
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row mgbt-xs-0">
                    <label class="col-xs-5 control-label">Street:</label>
                    <div class="col-xs-7 controls">{{data.street}}</div>
                    <!-- col-sm-10 -->
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row mgbt-xs-0">
                    <label class="col-xs-5 control-label">Zip code:</label>
                    <div class="col-xs-7 controls">{{data.zipcode}}</div>
                    <!-- col-sm-10 -->
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row mgbt-xs-0">
                    <label class="col-xs-5 control-label">Place:</label>
                    <div class="col-xs-7 controls">{{data.place}}</div>
                    <!-- col-sm-10 -->
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row mgbt-xs-0">
                    <label class="col-xs-5 control-label">Phone:</label>
                    <div class="col-xs-7 controls">{{data.phone}}</div>
                    <!-- col-sm-10 -->
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row mgbt-xs-0">
                    <label class="col-xs-5 control-label">Telephone:</label>
                    <div class="col-xs-7 controls">{{data.telephone}}</div>
                    <!-- col-sm-10 -->
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row mgbt-xs-0">
                    <label class="col-xs-5 control-label">Birthday:</label>
                    <div class="col-xs-7 controls">{{data.birthday}}</div>
                    <!-- col-sm-10 -->
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="row mgbt-xs-0">
                    <label class="col-xs-5 control-label">In company since:</label>
                    <div class="col-xs-7 controls">{{data.incompanysince}}</div>
                    <!-- col-sm-10 -->
                  </div>
                </div>
              </div>
              <hr class="pd-10">

            </div>
            <!-- pd-20 -->
          </div>
          <!-- home-tab -->





        </div> <!-- row -->
        <div *ngIf="currentTab === 'company'">
            <div id="profile-tab" class="tab-pane active">
                <div class="pd-20">
                  <div class="vd_info tr" style="float: right;"> 
                  <h3 class="mgbt-xs-15 mgtp-10 font-semibold"><i class="fa fa-map-marker"></i> ABOUT LOCATION</h3>
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">Store Name:</label>
                        <div class="col-xs-7 controls">{{companyData.storename}}</div>
                        <!-- col-sm-10 -->
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">Street:</label>
                        <div class="col-xs-7 controls">{{companyData.street}}</div>
                        <!-- col-sm-10 -->
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">Zip code:</label>
                        <div class="col-xs-7 controls">{{companyData.zipcode}}</div>
                        <!-- col-sm-10 -->
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">Place:</label>
                        <div class="col-xs-7 controls">{{companyData.place}}</div>
                        <!-- col-sm-10 -->
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">Email:</label>
                        <div class="col-xs-7 controls">{{companyData.email}}</div>
                        <!-- col-sm-10 -->
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">Telephone:</label>
                        <div class="col-xs-7 controls">{{companyData.telephone}}</div>
                        <!-- col-sm-10 -->
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">Mobile:</label>
                        <div class="col-xs-7 controls">{{companyData.mobile}}</div>
                        <!-- col-sm-10 -->
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-5 control-label">Comment:</label>
                        <div class="col-xs-7 controls">{{companyData.comment}}</div>
                        <!-- col-sm-10 -->
                      </div>
                    </div>
                  </div>
                  <hr class="pd-10">
    
                </div>
                <!-- pd-20 -->
              </div>
        </div>
      </div>
    </div>
  </div>
</div>

<modal #user modalClass="modal-md top-margin loggerModal adminModal">
    <modal-header>
        <h2>Update info</h2>
    </modal-header>
    <modal-content>
        <form name="loginForm" class="loginForm" (ngSubmit)="createUser(user)">
            <div class="form-group">
                <input type="text" class="email col-md-6 col-xs-12" name="shortname" placeholder="Username" [(ngModel)]="data.shortname" shortname.value=''>
                <input type="{{hideShow}}" class="col-md-6 col-xs-12 password" name="password" placeholder="Password" [(ngModel)]="data.password" password.value=''>
                <span class="fa {{hideShowEye}} pwd-toggle" (click)="hideShowPassword()"></span>
            </div>
            <div class="form-group">
                <input type="text" class="email col-md-6 col-xs-12" name="firstname" placeholder="Firstname" [(ngModel)]="data.firstname" firstname.value=''>
                <input type="text" class="email col-md-6 col-xs-12" name="lastname" placeholder="Lastname" [(ngModel)]="data.lastname" lastname.value=''>
            </div>
            <div class="form-group">
                <input type="text" class="email col-md-12 col-xs-12" name="street" placeholder="Street" [(ngModel)]="data.street" street.value=''>
            </div>
            <div class="form-group">
                <input type="text" class="email col-md-6 col-xs-12" name="zipcode" placeholder="Zipcode" [(ngModel)]="data.zipcode" zipcode.value=''>
                <input type="text" class="email col-md-6 col-xs-12" name="place" placeholder="Place" [(ngModel)]="data.place" place.value=''>
            </div>
            <div class="form-group">
                <input type="text" class="email col-md-4 col-xs-12" name="telephone" placeholder="Telephone" [(ngModel)]="data.telephone" telephone.value=''>
                <input type="text" class="email col-md-4 col-xs-12" name="mobile" placeholder="mobile" [(ngModel)]="data.mobile" mobile.value=''>
                <input type="email" class="email col-md-4 col-xs-12" name="email" placeholder="Email" [(ngModel)]="data.email" disabled>
            </div>
            <div class="form-group">
                <input type="text" class="email col-md-6 col-xs-12" name="birthday" placeholder="Birthday" [(ngModel)]="data.birthday" disabled>
                <input type="text" class="email col-md-6 col-xs-12" name="incompanysince" placeholder="Since in company" [(ngModel)]="data.incompanysince" disabled>
            </div>

            <!-- ./remember-row -->
            <div class="form-group">
                <button class="btn btn-lg btn-primary btn-block" type="submit">Update</button>
            </div>
        </form>

    </modal-content>
    <modal-footer>
        <button class="btn btn-primary" (click)="user.close()">Close</button>
    </modal-footer>
</modal>