<div class="row" *ngIf="data !== undefined">
  <div class="col-md-12">
    <!-- BEGIN PROFILE SIDEBAR -->
    <div class="profile-sidebar">
      <div class="card card-topline-aqua">
        <div class="card-body no-padding height-9">
          <div class="row">
            <div class="profile-userpic">
              <img [src]="imagePath" class="img-responsive" alt="" />
              <button
                kendoButton
                [icon]="'edit'"
                class="edit-button-icon"
                (click)="updateImage()"
              ></button>
            </div>
          </div>
          <div class="profile-usertitle">
            <div class="profile-usertitle-name">
              <span
                class="username username-hide-on-mobile"
                *ngIf="data.lastname !== '' && data.firstname !== ''"
              >
                {{ data.lastname }} {{ data.firstname }}
              </span>
              <span
                class="username username-hide-on-mobile"
                *ngIf="data.lastname === '' || data.firstname === ''"
              >
                {{ data.shortname }}
              </span>
            </div>
            <div class="profile-usertitle-job">
              <span *ngIf="data.type === 0">Superadmin</span>
              <span *ngIf="data.type === 1">Admin</span>
              <span *ngIf="data.type === 2">Manager</span>
              <span *ngIf="data.type === 3">Employee</span>
            </div>
          </div>
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>{{ language["firstname"] }}</b>
              <span class="pull-right a-color" *ngIf="data.firstname === ''">{{
                language["noInformation"]
              }}</span>
              <span class="pull-right a-color" *ngIf="data.firstname !== ''">{{
                data.firstname
              }}</span>
            </li>
            <li class="list-group-item">
              <b>{{ language["lastname"] }}</b>
              <span class="pull-right a-color" *ngIf="data.lastname === ''">{{
                language["noInformation"]
              }}</span>
              <span class="pull-right a-color" *ngIf="data.lastname !== ''">{{
                data.lastname
              }}</span>
            </li>
            <li class="list-group-item">
              <b>{{ language["email"] }}</b>
              <span class="pull-right a-color" *ngIf="data.email === ''">{{
                language["noInformation"]
              }}</span>
              <span class="pull-right a-color" *ngIf="data.email !== ''">{{
                data.email
              }}</span>
            </li>
          </ul>
          <!-- END SIDEBAR USER TITLE -->
          <!-- SIDEBAR BUTTONS -->
          <div class="profile-userbuttons">
            <span *ngIf="data.active" class="label status-green">Active</span>
            <span *ngIf="!data.active" class="label status-red">Inactive</span>
          </div>
          <!-- END SIDEBAR BUTTONS -->
        </div>
      </div>
      <div class="card">
        <div class="card-head card-topline-aqua">
          <header>{{ language["aboutMe"] }}</header>
        </div>
        <div class="card-body no-padding height-9">
          <div class="profile-desc">
            <span
              *ngIf="data.description === undefined || data.description === ''"
            >
              {{ language["noInformation"] }}
            </span>
            <span
              *ngIf="data.description !== undefined && data.description !== ''"
            >
              {{ data.description }}
            </span>
          </div>
          <ul class="list-group list-group-unbordered">
            <li class="list-group-item">
              <b>{{ language["birthday"] }} </b>
              <div class="profile-desc-item pull-right">
                <span *ngIf="data.birthday === ''">
                  {{ language["noInformation"] }}
                </span>
                <span *ngIf="data.birthday !== ''">
                  {{ data.birthday | date: "dd.MM.yyyy" }}
                </span>
              </div>
            </li>
            <li class="list-group-item">
              <b>{{ language["sincecompany"] }} </b>
              <div class="profile-desc-item pull-right">
                <span *ngIf="data.incompanysince === ''">
                  {{ language["noInformation"] }}
                </span>
                <span *ngIf="data.incompanysince !== ''">
                  {{ data.incompanysince }}
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
      <div class="card">
        <div class="card-head card-topline-aqua">
          <header>{{ language["place"] }}</header>
        </div>
        <div class="card-body no-padding height-9">
          <div class="row text-center m-t-10">
            <div class="col-md-12">
              <p *ngIf="data.street === ''">{{ language["noInformation"] }}</p>
              <p *ngIf="data.street !== ''">
                {{ data.street }} <br />
                {{ data.place }}, {{ data.zipcode }}
              </p>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="card">
        <div class="card-head card-topline-aqua">
          <header>Work Progress</header>
        </div>
        <div class="card-body no-padding height-9">
          <div class="work-monitor work-progress">
            <div class="states">
              <div class="info">
                <div class="desc pull-left">OPD</div>
                <div class="percent pull-right">50%</div>
              </div>
              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-danger progress-bar-striped active" role="progressbar"
                  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                  <span class="sr-only">50% </span>
                </div>
              </div>
            </div>
            <div class="states">
              <div class="info">
                <div class="desc pull-left">Operations</div>
                <div class="percent pull-right">85%</div>
              </div>
              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar"
                  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 45%">
                  <span class="sr-only">85% </span>
                </div>
              </div>
            </div>
            <div class="states">
              <div class="info">
                <div class="desc pull-left">Patient visit</div>
                <div class="percent pull-right">20%</div>
              </div>
              <div class="progress progress-xs">
                <div class="progress-bar progress-bar-info progress-bar-striped active" role="progressbar"
                  aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 35%">
                  <span class="sr-only">20% </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
    </div>
    <!-- END BEGIN PROFILE SIDEBAR -->
    <!-- BEGIN PROFILE CONTENT -->
    <div class="profile-content">
      <div class="row">
        <div class="card">
          <div class="card-topline-aqua">
            <header></header>
          </div>
          <div class="white-box">
            <!-- Nav tabs -->
            <div class="p-rl-20">
              <ul class="nav customtab nav-tabs" role="tablist">
                <li class="nav-item">
                  <a
                    (click)="changeTab('profile')"
                    class="nav-link"
                    [ngClass]="currentTab === 'profile' ? 'active' : ''"
                    >{{ language["aboutMe"] }}</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    (click)="changeTab('company')"
                    class="nav-link"
                    [ngClass]="currentTab === 'company' ? 'active' : ''"
                    >{{ language["company"] }}</a
                  >
                </li>
              </ul>
            </div>
            <!-- Tab panes -->
            <div class="tab-content" *ngIf="currentTab === 'profile'">
              <div class="tab-pane active fontawesome-demo" id="tab1">
                <div id="biography">
                  <div class="row">
                    <div class="col-md-3 col-xs-6 b-r">
                      <strong> {{ language["fullName"] }} </strong>
                      <br />
                      <p class="text-muted">
                        <span
                          *ngIf="data.firstname === '' || data.lastname === ''"
                        >
                          {{ language["noInformation"] }}
                        </span>
                        <span
                          *ngIf="data.firstname !== '' && data.lastname !== ''"
                        >
                          {{ data.lastname }} {{ data.firstname }}
                        </span>
                      </p>
                    </div>
                    <div class="col-md-3 col-xs-6 b-r">
                      <strong>{{ language["mobile"] }}</strong>
                      <br />
                      <p class="text-muted">
                        <span *ngIf="data.mobile === ''">
                          {{ language["noInformation"] }}
                        </span>
                        <span *ngIf="data.mobile !== ''">
                          {{ data.mobile }}
                        </span>
                      </p>
                    </div>
                    <div class="col-md-3 col-xs-6 b-r">
                      <strong>{{ language["email"] }}</strong>
                      <br />
                      <p class="text-muted">
                        <span *ngIf="data.email === ''">
                          {{ language["noInformation"] }}
                        </span>
                        <span *ngIf="data.email !== ''">
                          {{ data.email }}
                        </span>
                      </p>
                    </div>
                    <div class="col-md-3 col-xs-6">
                      <strong>{{ language["place"] }}</strong>
                      <br />
                      <p class="text-muted">
                        <span *ngIf="data.place === ''">
                          {{ language["noInformation"] }}
                        </span>
                        <span *ngIf="data.place !== ''">
                          {{ data.place }}
                        </span>
                      </p>
                    </div>
                  </div>
                  <hr />
                  <p class="m-t-30">No description available!</p>
                </div>
              </div>
              <div class="tab-pane" id="tab2">
                <div class="container-fluid">
                  <div class="row">
                    <div class="full-width p-rl-20">
                      <div class="panel">
                        <form>
                          <textarea
                            class="form-control p-text-area"
                            rows="4"
                            placeholder="Whats in your mind today?"
                          ></textarea>
                        </form>
                        <footer class="panel-footer">
                          <button class="btn btn-post pull-right">Post</button>
                          <ul class="nav nav-pills p-option">
                            <li>
                              <a href="#"><i class="fa fa-user"></i></a>
                            </li>
                            <li>
                              <a href="#"><i class="fa fa-camera"></i></a>
                            </li>
                            <li>
                              <a href="#"
                                ><i class="fa fa-location-arrow"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"><i class="fa fa-meh-o"></i></a>
                            </li>
                          </ul>
                        </footer>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="tab-content" *ngIf="currentTab === 'company'">
              <div class="tab-pane active fontawesome-demo" id="tab1">
                <div id="biography">
                  <div class="row">
                    <div class="col-md-3 col-xs-6 b-r">
                      <strong>{{ language["storename"] }}</strong>
                      <br />
                      <p class="text-muted">
                        <span
                          *ngIf="
                            companyData === undefined ||
                            companyData.length === 0 ||
                            companyData.storename === ''
                          "
                          >{{ language["noInformation"] }}</span
                        >
                        <span *ngIf="companyData.storename !== ''">{{
                          companyData.shortname
                        }}</span>
                      </p>
                    </div>
                    <div class="col-md-3 col-xs-6 b-r">
                      <strong>{{ language["street"] }}</strong>
                      <br />
                      <p class="text-muted">
                        <span
                          *ngIf="
                            companyData === undefined ||
                            companyData.length === 0 ||
                            companyData.street === ''
                          "
                          >{{ language["noInformation"] }}</span
                        >
                        <span *ngIf="companyData.street !== ''">{{
                          companyData.street
                        }}</span>
                      </p>
                    </div>
                    <div class="col-md-3 col-xs-6 b-r">
                      <strong>{{ language["zipCode"] }}</strong>
                      <br />
                      <p class="text-muted">
                        <span
                          *ngIf="
                            companyData === undefined ||
                            companyData.length === 0 ||
                            companyData.zipcode === ''
                          "
                          >{{ language["noInformation"] }}</span
                        >
                        <span *ngIf="companyData.zipcode !== ''">{{
                          companyData.zipcode
                        }}</span>
                      </p>
                    </div>
                    <div class="col-md-3 col-xs-6 b-r">
                      <strong>{{ language["place"] }}</strong>
                      <br />
                      <p class="text-muted">
                        <span
                          *ngIf="
                            companyData === undefined ||
                            companyData.length === 0 ||
                            companyData.place === ''
                          "
                          >{{ language["noInformation"] }}</span
                        >
                        <span *ngIf="companyData.place !== ''">{{
                          companyData.place
                        }}</span>
                      </p>
                    </div>
                    <div class="col-md-3 col-xs-6 b-r">
                      <strong>{{ language["email"] }}</strong>
                      <br />
                      <p class="text-muted">
                        <span
                          *ngIf="
                            companyData === undefined ||
                            companyData.length === 0 ||
                            companyData.email === ''
                          "
                          >{{ language["noInformation"] }}</span
                        >
                        <span *ngIf="companyData.email !== ''">{{
                          companyData.email
                        }}</span>
                      </p>
                    </div>
                    <div class="col-md-3 col-xs-6 b-r">
                      <strong>{{ language["telephone"] }}</strong>
                      <br />
                      <p class="text-muted">
                        <span
                          *ngIf="
                            companyData === undefined ||
                            companyData.length === 0 ||
                            companyData.telephone === ''
                          "
                          >{{ language["noInformation"] }}</span
                        >
                        <span *ngIf="companyData.telephone !== ''">{{
                          companyData.telephone
                        }}</span>
                      </p>
                    </div>
                    <div class="col-md-3 col-xs-6 b-r">
                      <strong>{{ language["mobile"] }}</strong>
                      <br />
                      <p class="text-muted">
                        <span
                          *ngIf="
                            companyData === undefined ||
                            companyData.length === 0 ||
                            companyData.mobile === ''
                          "
                          >{{ language["noInformation"] }}</span
                        >
                        <span *ngIf="companyData.mobile !== ''">{{
                          companyData.mobile
                        }}</span>
                      </p>
                    </div>
                  </div>
                  <hr />
                  <!--<p class="m-t-30">Completed my graduation in Gynaecologist
                    Medicine from the well known and renowned
                    institution of India – SARDAR PATEL MEDICAL COLLEGE, BARODA
                    in 2000-01, which was affiliated to M.S.
                    University. I ranker in University exams from the same
                    university from 1996-01.</p>
                  <p>Worked as Professor and Head of the department ; Community
                    medicine Department at Sterline Hospital,
                    Rajkot, Gujarat from 2003-2015 </p>
                  <p>And I was lucky to train in a collegial environment where we
                    called most of our attendings by their
                    first names. If only doctors did it that way outside the
                    Midwest. One of my attendings even made the
                    argument that it is safer for patient care because it’s
                    easier for subordinates to raise concerns when
                    they’re not verbally kowtowing to their superior. I never
                    respected a white-haired surgeon any less when
                    I addressed him by his first name. In fact, I saw that in
                    non-clinical science, it is commonplace for
                    the most junior researchers to call the most celebrated
                    senior scientists by their first names.</p>
                  <p>When I offer or recommend products, I do so because I have
                    actively researched them and find they are
                    the best in that category for your health. I ignore
                    substandard products, and products not directly
                    pertinent to your health, regardless of any potential
                    financial upsid</p>
                  <br>
                  <h4 class="font-bold">Education</h4>
                  <hr>
                  <ul>
                    <li>M.B.B.S.,Gujarat University, Ahmedabad,India.</li>
                    <li>M.S.,Gujarat University, Ahmedabad, India.</li>
                    <li>SPINAL FELLOWSHIP Dr. John Adam, Allegimeines
                      Krakenhaus, Schwerin, Germany.</li>
                    <li>Fellowship in Endoscopic Spine Surgery Phoenix, USA.
                    </li>
                    <li>D.N.B from AIIMS</li>
                  </ul>
                  <br>
                  <h4 class="font-bold">Experience</h4>
                  <hr>
                  <ul>
                    <li>One year rotatory internship from April-2009 to
                      march-2010 at B. J. Medical College, Ahmedabad.</li>
                    <li>Three year residency at V.S. General Hospital as a
                      resident in orthopedics from April - 2008 to
                      April - 2011.</li>
                    <li>I have worked as a part time physiotherapist in Apang
                      manav mandal from 1st june 2004 to 31st jan
                      2005.</li>
                    <li>Clinical and Research fellowship in Scoliosis at
                      Shaurashtra University and Medical Centre (KUMC) ,
                      Krishna Hospital , Rajkot from April 2013 to June 2013.
                    </li>
                    <li>2.5 Years Worked at Mahatma Gandhi General Hospital,
                      Surendranagar.</li>
                    <li>Consultant Orthopedics Surgeon Jalna 2 years.</li>
                  </ul>
                  <br>
                  <h4 class="font-bold">Conferences, Cources &amp; Workshop Attended
                  </h4>
                  <hr>
                  <ul>
                    <li>3 days conference of Indian Orthopedics Association
                      (IOACON) held in December 2001 in Ahmedabad,
                      Gujarat.</li>
                    <li>4th Annual Karnataka state physiotherapy students
                      conference</li>
                    <li>3 day conference of Association of Spine Surgeons of
                      India(ASSICON) held in Jan 2007 in Ahmedabad,
                      India.</li>
                    <li>16th Annual Conference GOACON ' 98 Ahmedabad CME 6th
                      February, 1998</li>
                    <li>5 day conference of Indian Orthopedic Association
                      (IOACON) held in Dec.2005 in Mumbai, India.</li>
                    <li>Indian Medical Association Kapadwanj C.M.E. on 22nd
                      April, 2004.</li>
                    <li>Post Graduate lecture course for Gujarat Orthopaedic
                      Association Ahmedabad 6th to 7th August, 2005.</li>
                  </ul>
                  <br>
                  <h4 class="font-bold">Professional Affiliations </h4>
                  <hr>
                  <ul>
                    <li>Life member: Association of Spine Surgeons’ of India.
                    </li>
                    <li>Life member: Gujarat Orthopaedic Association.</li>
                    <li>Life Member: The Indian Society for Bone and Mineral
                      Research (ISBMR).</li>
                    <li>Life member: Ahmedabad Orthopaedic Society</li>
                  </ul>-->
                </div>
              </div>
              <div class="tab-pane" id="tab2">
                <div class="container-fluid">
                  <div class="row">
                    <div class="full-width p-rl-20">
                      <div class="panel">
                        <form>
                          <textarea
                            class="form-control p-text-area"
                            rows="4"
                            placeholder="Whats in your mind today?"
                          ></textarea>
                        </form>
                        <footer class="panel-footer">
                          <button class="btn btn-post pull-right">Post</button>
                          <ul class="nav nav-pills p-option">
                            <li>
                              <a href="#"><i class="fa fa-user"></i></a>
                            </li>
                            <li>
                              <a href="#"><i class="fa fa-camera"></i></a>
                            </li>
                            <li>
                              <a href="#"
                                ><i class="fa fa-location-arrow"></i
                              ></a>
                            </li>
                            <li>
                              <a href="#"><i class="fa fa-meh-o"></i></a>
                            </li>
                          </ul>
                        </footer>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- END PROFILE CONTENT -->
  </div>
  <!--UPDATE PROFILE IMAGE-->
  <modal #chooseImage modalClass="modal-lg">
    <modal-header>
      <h4>{{ language.chooseImage }}</h4>
    </modal-header>
    <modal-content>
      <form name="updateImageForm" (ngSubmit)="submitPhoto()">
        <input
          id="file-upload"
          type="file"
          name="updateImageInput"
          class="choose-image-input"
          (input)="fileChoosen($event)"
        />
        <label for="file-upload" class="custom-file-upload">
          {{ language.chooseFile }}
        </label>
        <span *ngIf="!isFileChoosen" class="choose-image-label">{{ language.chooseImage }}</span>
        <span *ngIf="isFileChoosen" class="choose-image-label">{{ fileName }}</span>
        <div><span>{{ language.maximumImageSize }}</span></div>
        <button class="update-image-submit-btn" type="submit">
          {{ language.submitImage }}
        </button>
      </form>
    </modal-content>
  </modal>
</div>
