<body *ngIf="language !== undefined" class="page-header-fixed sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-indigo {{
    sidebar
  }}">
  <div class="page-wrapper">
    <header id="page-topbar">
      <div class="navbar-header">
        <div class="d-flex navbar-left">
          <!-- LOGO -->
          <div class="navbar-brand-box">
            <a href="index.html" class="logo logo-dark">
              <span class="logo-sm text-center">
                <img src="./assets/images/short-logo.png" alt="" height="24" />
              </span>
              <span class="logo-lg">
                <img src="./assets/images/brand-logo-white.png" alt="" height="48" />
              </span>
            </a>

            <a href="index.html" class="logo logo-light">
              <span class="logo-sm text-center">
                <img src="./assets/images/short-logo.png" alt="" height="24" />
              </span>
              <span class="logo-lg">
                <img src="./assets/images/brand-logo-white.png" alt="" height="48" />
              </span>
            </a>
          </div>

          <button (click)="hideShowSidebar()" type="button"
            class="btn m-0 pb-0 btn-sm font-size-16 header-item btn-background-none" id="vertical-menu-btn">
            <i class="fa fa-fw fa-bars"></i>
          </button>
          <div *ngIf="user" class="store-name">
            <span class="font-bold" *ngIf="user.clinicName">
              {{ user.clinicName }}
            </span>
          </div>
        </div>

        <div class="d-flex navbar-right">
          <ul class="nav navbar-nav pull-right">
            <!-- start manage user dropdown -->
            <li>
              <a class="menu-help" routerLink="/dashboard/home/help">
                <i class="fa fa-question-circle"></i> Help
              </a>
            </li>
            <li class="dropdown dropdown-user" *ngIf="user !== undefined">
              <a (click)="showHideProfile()" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"
                data-close-others="true">
                <img *ngIf="imagePath !== undefined" [src]="imagePath" alt="user"
                  class="rounded-circle profile-image" />
                <span class="username username-hide-on-mobile" *ngIf="user.lastname !== '' && user.firstname !== ''">
                  {{ user.lastname }} {{ user.firstname }}
                </span>
                <span class="username username-hide-on-mobile" *ngIf="user.lastname === '' || user.firstname === ''">
                  {{ user.shortname }}
                </span>
                <i class="fa fa-angle-down"></i>
                <span class="usertype">{{ userTypeView }}</span>
              </a>
              <ul class="dropdown-menu dropdown-menu-default {{ profile }}">
                <li>
                  <a routerLink="/dashboard/home/profile" (click)="showHideProfile()">
                    <i class="fa fa-user"></i> {{ language["profile"] }}
                  </a>
                </li>
                <li>
                  <a routerLink="/dashboard/home/settings" (click)="showHideProfile()">
                    <i class="fa fa-cog"></i> {{ language["settings"] }}
                  </a>
                </li>
                <li>
                  <a routerLink="/dashboard/home/help" (click)="showHideProfile()">
                    <i class="fa fa-question-circle"></i> {{language.helpTitle}}
                  </a>
                </li>
                <li>
                  <a routerLink="/dashboard/home/licence" (click)="showHideProfile()">
                    <i class="fa fa-id-card"></i> {{language.licence}}
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a href="lock_screen.html" (click)="showHideProfile()">
                    <i class="icon-lock"></i> Lock
                  </a>
                </li>
                <li>
                  <a (click)="logout(); showHideProfile()">
                    <i class="fa fa-sign-out"></i> {{ language["logout"] }}
                  </a>
                </li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </header>

    <!-- start page container -->
    <div class="page-container">
      <!-- start sidebar menu -->
      <!-- ========== Left Sidebar Start ========== -->
      <div class="vertical-menu mm-active">
        <div data-simplebar="init" class="h-100 mm-show">
          <div class="simplebar-wrapper" style="margin: 0px">
            <div class="simplebar-height-auto-observer-wrapper">
              <div class="simplebar-height-auto-observer"></div>
            </div>
            <div class="simplebar-mask">
              <div class="simplebar-offset" style="right: 0px; bottom: 0px">
                <div class="simplebar-content-wrapper" style="height: 100%; overflow: hidden">
                  <div class="simplebar-content" style="padding: 0px">
                    <!--- Sidemenu -->
                    <perfect-scrollbar style.height="{{ sidebarHeight }}">
                      <div id="sidebar-menu" class="mm-active">
                        <!-- Left Menu Start -->
                        <ul class="metismenu list-unstyled mm-show" id="side-menu">
                          <li class="menu-title mt-2" data-key="t-components">
                            {{ language?.userTitleMenu }}
                          </li>
                          <li class="{{ selectedNodeModel['calendar'] }}" *ngIf="
                              type !== userType.patient ||
                              (type === userType.patient &&
                                permissionPatientMenu?.myCalendar)
                            ">
                            <a (click)="returnActiveNode('calendar')" routerLink="/dashboard/home/task"><i
                                class="fa fa-calendar"></i><span class="navigation-link">{{
                                language["calendar"]
                                }}</span></a>
                          </li>

                          <li *ngIf="
                              type === userType.patient &&
                              permissionPatientMenu?.myComplaint
                            " class="nav-item {{
                              selectedNodeModel.my_complaint
                            }}">
                            <a (click)="returnActiveNode('my_complaint')" routerLink="/dashboard/home/my-complaint"
                              class="nav-link"><i class="fa fa-heartbeat"></i><span class="title">{{
                                language["myComplaint"]
                                }}</span></a>
                          </li>
                          <li *ngIf="
                              type === userType.patient &&
                              permissionPatientMenu?.myTherapy
                            " class="nav-item {{ selectedNodeModel.my_therapy }}">
                            <a (click)="returnActiveNode('my_therapy')" routerLink="/dashboard/home/my-therapy"
                              class="nav-link"><i class="fa fa-medkit"></i><span class="title">{{
                                language["myTherapy"]
                                }}</span></a>
                          </li>
                          <li *ngIf="
                              type === userType.patient &&
                              permissionPatientMenu?.myDocument
                            " class="nav-item {{ selectedNodeModel.my_document }}">
                            <a (click)="returnActiveNode('my_document')" routerLink="/dashboard/home/my-document"
                              class="nav-link"><i class="fa fa-file-text"></i><span class="title">{{
                                language["myDocument"]
                                }}</span></a>
                          </li>

                          <li class="{{ selectedNodeModel['reservations'] }}" *ngIf="type !== userType.patient">
                            <a (click)="returnActiveNode('reservations')" routerLink="/dashboard/home/reservations"><i
                                class="fa fa-calendar-check-o"></i><span class="navigation-link">{{
                                language["reservations"]
                                }}</span></a>
                          </li>
                          <li class="{{ selectedNodeModel['customers'] }}" *ngIf="type !== userType.patient">
                            <a (click)="returnActiveNode('customers')" routerLink="/dashboard/home/customers"><i
                                class="fa fa-group"></i><span class="navigation-link">{{
                                language["customer"]
                                }}</span></a>
                          </li>
                          <li class="{{ selectedNodeModel['invoice'] }}" *ngIf="type !== userType.patient">
                            <a (click)="returnActiveNode('invoice')" routerLink="/dashboard/home/invoice"><i
                                class="fa fa-files-o"></i><span class="navigation-link">{{
                                language["invoice"]
                                }}</span></a>
                          </li>

                          <li *ngIf="
                              type === userType.owner || type === userType.admin
                            " class="{{ activeGroup[3] }}">
                            <a (click)="collapse(3)" class="has-arrow"><i class="fa fa-cogs"></i><span
                                class="navigation-link">{{
                                language?.marketing
                                }}</span></a>
                            <ul class="sub-menu mm-collapse {{
                                showHideCollapse[3]
                              }}">
                              <li class="{{ selectedNodeModel['massive_sms'] }}">
                                <a (click)="returnActiveNode('massive_sms')" routerLink="/dashboard/home/massive-sms">
                                  <i class="fa fa-paper-plane"></i><span class="navigation-link"></span>
                                  {{ language["massiveSms"] }}
                                </a>
                              </li>

                              <li class="{{ selectedNodeModel['massive_email'] }}">
                                <a (click)="returnActiveNode('massive_email')"
                                  routerLink="/dashboard/home/massive-email">
                                  <i class="fa fa-envelope"></i><span class="navigation-link"></span>
                                  {{ language["massiveEmail"] }}
                                </a>
                              </li>
                            </ul>
                          </li>

                          <li class="{{ selectedNodeModel['vaucher'] }}" *ngIf="type !== userType.patient">
                            <a (click)="returnActiveNode('vaucher')" routerLink="/dashboard/home/vaucher"><i
                                class="fa fa-money"></i><span class="navigation-link">{{
                                language["vaucher"]
                                }}</span></a>
                          </li>

                          <li *ngIf="
                              type === userType.owner || type === userType.admin
                            " class="menu-title" data-key="t-components">
                            {{ language?.applicationParametersSettingsTitle }}
                          </li>

                          <li class="{{ selectedNodeModel['users'] }}"
                            *ngIf="type === userType.owner || type === userType.admin">
                            <a (click)="returnActiveNode('users')" routerLink="/dashboard/home/users"><i
                                class="fa fa-user"></i><span class="navigation-link">{{
                                language["users"]
                                }}</span></a>
                          </li>

                          <li class="{{ selectedNodeModel['store'] }}" *ngIf="
                              type === userType.owner || type === userType.admin
                            ">
                            <a (click)="returnActiveNode('store')" routerLink="/dashboard/home/store"><i
                                class="fa fa-hospital-o"></i><span class="navigation-link">{{
                                language["store"]
                                }}</span></a>
                          </li>

                          <li *ngIf="
                              type === userType.owner || type === userType.admin
                            " class="{{ activeGroup[2] }}">
                            <!-- Application Parameters -->
                            <a (click)="collapse(2)" class="has-arrow"><i class="fa fa fa-file-text"></i><span
                                class="navigation-link">{{
                                language?.applicationParametersSettingsTitle
                                }}</span></a>
                            <ul *ngIf="
                                type === userType.owner ||
                                type === userType.admin
                              " class="sub-menu mm-collapse {{
                                showHideCollapse[2]
                              }}">
                              <li class="pl-4 pt-2 pb-2">
                                <span class="header-item-node">{{
                                  language.headerMenuGeneralData
                                  }}</span>
                              </li>
                              <li class="{{ selectedNodeModel['complaint'] }}">
                                <a routerLink="/dashboard/home/complaint" (click)="returnActiveNode('complaint')"><i
                                    class="fa fa-list-alt"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.complaintMenu }}
                                </a>
                              </li>

                              <li class="{{ selectedNodeModel['therapy'] }}">
                                <a routerLink="/dashboard/home/therapy" (click)="returnActiveNode('therapy')"
                                  class="nav-link"><i class="fa fa-medkit"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.therapyMenu }}
                                </a>
                              </li>

                              <li class="{{ selectedNodeModel['treatment'] }}">
                                <a routerLink="/dashboard/home/treatment" (click)="returnActiveNode('treatment')"
                                  class="nav-link"><i class="fa fa-medkit"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.treatmentMenu }}
                                </a>
                              </li>

                              <li class="{{
                                  selectedNodeModel['recommendation']
                                }}">
                                <a routerLink="/dashboard/home/recommendation"
                                  (click)="returnActiveNode('recommendation')" class="nav-link"><i
                                    class="fa fa-check"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.recommendationMenu }}
                                </a>
                              </li>

                              <li class="{{ selectedNodeModel['relationship'] }}">
                                <a routerLink="/dashboard/home/relationship" (click)="returnActiveNode('relationship')"
                                  class="nav-link"><i class="fa fa-exchange"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.relationshipMenu }}
                                </a>
                              </li>

                              <li class="{{ selectedNodeModel['social'] }}">
                                <a routerLink="/dashboard/home/social" (click)="returnActiveNode('social')"
                                  class="nav-link"><i class="fa fa-life-ring"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.socialMenu }}
                                </a>
                              </li>

                              <li class="{{ selectedNodeModel['doctor'] }}">
                                <a routerLink="/dashboard/home/doctor" (click)="returnActiveNode('doctor')"
                                  class="nav-link"><i class="fa fa-user"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.doctorMenu }}
                                </a>
                              </li>

                              <li class="{{ selectedNodeModel['doctors'] }}">
                                <a routerLink="/dashboard/home/doctors" (click)="returnActiveNode('doctors')"
                                  class="nav-link"><i class="fa fa-users"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.doctorsMenu }}
                                </a>
                              </li>

                              <li class="{{ selectedNodeModel['vat_tax'] }}">
                                <a routerLink="/dashboard/home/vat_tax" (click)="returnActiveNode('vat_tax')"
                                  class="nav-link"><i class="fa fa-percent"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.vatTaxMenu }}
                                </a>
                              </li>

                              <li class="{{ selectedNodeModel['CS'] }}">
                                <a routerLink="/dashboard/home/CS" (click)="returnActiveNode('CS')" class="nav-link"><i
                                    class="fa fa-contao"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.csMenu }}
                                </a>
                              </li>

                              <li class="{{ selectedNodeModel['state'] }}">
                                <a routerLink="/dashboard/home/state" (click)="returnActiveNode('state')"
                                  class="nav-link"><i class="fa fa-thermometer-three-quarters"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.stateMenu }}
                                </a>
                              </li>
                              <li class="{{
                                  selectedNodeModel['event_category']
                                }}">
                                <a routerLink="/dashboard/home/event-category"
                                  (click)="returnActiveNode('event_category')" class="nav-link"><i
                                    class="fa fa-paint-brush"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.eventCategoryMenu }}
                                </a>
                              </li>

                              <li class="{{
                                  selectedNodeModel['event_category_statistic']
                                }}">
                                <a routerLink="/dashboard/home/event-category-statistic" (click)="
                                    returnActiveNode('event_category_statistic')
                                  " class="nav-link"><i class="fa fa-stack-exchange"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.eventCategoryStatistic }}
                                </a>
                              </li>

                              <li class="{{
                                  selectedNodeModel['work_time_colors']
                                }}">
                                <a routerLink="/dashboard/home/work-time-colors"
                                  (click)="returnActiveNode('work_time_colors')" class="nav-link"><i
                                    class="fa fa-tint"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.workTimeColorsMenu }}
                                </a>
                              </li>

                              <li class="{{
                                  selectedNodeModel['change_superadmin_profile']
                                }}" *ngIf="type === userType.owner">
                                <a routerLink="/dashboard/home/change-superadmin-profile" (click)="
                                    returnActiveNode(
                                      'change_superadmin_profile'
                                    )
                                  " class="nav-link"><i class="fa fa-user"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.changeSuperadminProfile }}
                                </a>
                              </li>
                              <li *ngIf="
                                  type === userType.owner ||
                                  type === userType.admin ||
                                  (user && user.id === 4)
                                " class="{{
                                  selectedNodeModel['define_holidays']
                                }}">
                                <a (click)="returnActiveNode('define_holidays')"
                                  routerLink="/dashboard/home/define-holidays">
                                  <i class="fa fa-calendar-plus-o"></i>
                                  <span class="navigation-link"></span>
                                  {{ language["chooseHoliday"] }}
                                </a>
                              </li>
                              <li class="pl-4 pt-2 pb-2">
                                <span class="header-item-node">{{
                                  language.headerMenuPersonalization
                                  }}</span>
                              </li>
                              <!-- Application theme -->
                              <li class="{{
                                  selectedNodeModel['application_theme']
                                }}">
                                <a routerLink="/dashboard/home/theme-colors" (click)="
                                    returnActiveNode('application_theme')
                                  " class="nav-link"><i class="fa fa-paint-brush"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.themeColorsMenu }}
                                </a>
                              </li>
                              <!-- Application theme -->
                              <li class="pl-4 pt-2 pb-2">
                                <span class="header-item-node">{{
                                  language.headerMenuPermits
                                  }}</span>
                              </li>
                              <li class="{{ selectedNodeModel['reminder'] }}">
                                <a routerLink="/dashboard/home/reminders" (click)="returnActiveNode('reminder')"
                                  class="nav-link"><i class="fa fa-bell"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.reminderMenu }}
                                </a>
                              </li>

                              <li class="{{
                                  selectedNodeModel['permission_patient_menu']
                                }}">
                                <a routerLink="/dashboard/home/permission-patient-menu" (click)="
                                    returnActiveNode('permission_patient_menu')
                                  " class="nav-link"><i class="fa fa-cogs"></i>
                                  <span class="navigation-link"></span>
                                  {{
                                  language?.perimissionForPatientNavigationMenu
                                  }}
                                </a>
                              </li>
                              <li class="{{ selectedNodeModel['user_access'] }}">
                                <a routerLink="/dashboard/home/user-access" (click)="returnActiveNode('user_access')"
                                  class="nav-link"><i class="fa fa-universal-access"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.userAccess }}
                                </a>
                              </li>
                              <li class="pl-4 pt-2 pb-2">
                                <span class="header-item-node">{{
                                  language.headerMenuMailTemplateSettings
                                  }}</span>
                              </li>
                              <li class="{{ selectedNodeModel['mail_reminder'] }}">
                                <a routerLink="/dashboard/home/mail-reminder"
                                  (click)="returnActiveNode('mail_reminder')" class="nav-link"><i
                                    class="fa fa-envelope"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.mailReminderMessage }}
                                </a>
                              </li>
                              <li class="{{
                                  selectedNodeModel['mail_approve_reservation']
                                }}">
                                <a routerLink="/dashboard/home/mail-approve-reservation" (click)="
                                    returnActiveNode('mail_approve_reservation')
                                  " class="nav-link"><i class="fa fa-envelope"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.mailApproveReservation }}
                                </a>
                              </li>
                              <li class="{{
                                  selectedNodeModel['mail_deny_reservation']
                                }}">
                                <a routerLink="/dashboard/home/mail-deny-reservation" (click)="
                                    returnActiveNode('mail_deny_reservation')
                                  " class="nav-link"><i class="fa fa-envelope"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.mailDenyReservation }}
                                </a>
                              </li>
                              <li class="{{
                                  selectedNodeModel['mail_confirm_arrival']
                                }}">
                                <a routerLink="/dashboard/home/mail-confirm-arrival" (click)="
                                    returnActiveNode('mail_confirm_arrival')
                                  " class="nav-link"><i class="fa fa-envelope"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.mailConfirmArrival }}
                                </a>
                              </li>
                              <li class="{{
                                  selectedNodeModel[
                                    'mail_patient_created_account'
                                  ]
                                }}">
                                <a routerLink="/dashboard/home/mail-patient-created-account" (click)="
                                    returnActiveNode(
                                      'mail_patient_created_account'
                                    )
                                  " class="nav-link"><i class="fa fa-envelope"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.mailPatientCreatedAccount }}
                                </a>
                              </li>
                              <li class="{{
                                  selectedNodeModel[
                                    'mail_patient_created_account_via_form'
                                  ]
                                }}">
                                <a routerLink="/dashboard/home/mail-patient-created-account-via-form" (click)="
                                    returnActiveNode(
                                      'mail_patient_created_account_via_form'
                                    )
                                  " class="nav-link"><i class="fa fa-envelope"></i>
                                  <span class="navigation-link"></span>
                                  {{
                                  language?.mailPatientCreatedAccountViaForm
                                  }}
                                </a>
                              </li>
                              <li class="{{
                                  selectedNodeModel[
                                    'mail_patient_form_registration'
                                  ]
                                }}">
                                <a routerLink="/dashboard/home/mail-patient-form-registration" (click)="
                                    returnActiveNode(
                                      'mail_patient_form_registration'
                                    )
                                  " class="nav-link"><i class="fa fa-envelope"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.mailPatientFormRegistration }}
                                </a>
                              </li>
                              <li class="{{
                                  selectedNodeModel['mail_massive_message']
                                }}">
                                <a routerLink="/dashboard/home/mail-massive" (click)="
                                    returnActiveNode('mail_massive_message')
                                  " class="nav-link"><i class="fa fa-envelope"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.mailMassiveMessage }}
                                </a>
                              </li>
                              <li class="{{
                                  selectedNodeModel[
                                    'email_birthday_congratulation'
                                  ]
                                }}">
                                <a routerLink="/dashboard/home/mail-birthday-congratulation" (click)="
                                    returnActiveNode(
                                      'email_birthday_congratulation'
                                    )
                                  " class="nav-link"><i class="fa fa-envelope"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.emailBirthdayCongratulation }}
                                </a>
                              </li>
                              <li class="{{
                                  selectedNodeModel[
                                    'mail_reset_password'
                                  ]
                                }}">
                                <a routerLink="/dashboard/home/mail-reset-password" (click)="
                                    returnActiveNode(
                                      'mail_reset_password'
                                    )
                                  " class="nav-link"><i class="fa fa-envelope"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.mailResetPassword }}
                                </a>
                              </li>
                              <li class="pl-4 pt-2 pb-2">
                                <span class="header-item-node">{{
                                  language.headerMenuSMSTemplateSettings
                                  }}</span>
                              </li>
                              <li class="{{ selectedNodeModel['sms_reminder'] }}">
                                <a routerLink="/dashboard/home/sms-reminder" (click)="returnActiveNode('sms_reminder')"
                                  class="nav-link"><i class="fa fa-comments"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.smsReminderMessage }}
                                </a>
                              </li>
                              <li class="{{
                                  selectedNodeModel['sms_massive_message']
                                }}">
                                <a routerLink="/dashboard/home/sms-massive" (click)="
                                    returnActiveNode('sms_massive_message')
                                  " class="nav-link"><i class="fa fa-comments"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.smsMassiveMessage }}
                                </a>
                              </li>

                              <li class="{{
                                  selectedNodeModel[
                                    'sms_birthday_congratulation'
                                  ]
                                }}">
                                <a routerLink="/dashboard/home/sms-birthday-congratulation" (click)="
                                    returnActiveNode(
                                      'sms_birthday_congratulation'
                                    )
                                  " class="nav-link"><i class="fa fa-comments"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.smsBirthdayCongratulation }}
                                </a>
                              </li>
                            </ul>
                          </li>
                          <li *ngIf="user && user.id === 4" class="menu-title" data-key="t-menu">
                            {{ language?.systemSettingsTitleMenu }}
                          </li>

                          <li *ngIf="user && user.id === 4" class="{{ activeGroup[0] }}">
                            <a (click)="collapse(0)" class="has-arrow"><i class="fa fa-cogs"></i>
                              <span class="navigation-link">
                                {{ language?.systemSettingsTitle }}
                              </span>
                            </a>
                            <ul *ngIf="user && user.id === 4" class="sub-menu mm-collapse {{
                                showHideCollapse[0]
                              }}">
                              <li class="{{ selectedNodeModel['translation'] }}">
                                <a (click)="returnActiveNode('translation')" routerLink="/dashboard/home/translation"><i
                                    class="fa fa-tasks"></i><span class="navigation-link"></span>
                                  {{ language["translation"] }}
                                </a>
                              </li>

                              <li class="{{ selectedNodeModel['todo'] }}">
                                <a (click)="returnActiveNode('todo')" routerLink="/dashboard/home/todo"><i
                                    class="fa fa-clipboard"></i><span class="navigation-link"></span>
                                  {{ language["todo"] }}
                                </a>
                              </li>

                              <li class="{{ selectedNodeModel['area_code'] }}">
                                <a (click)="returnActiveNode('area_code')" routerLink="/dashboard/home/area-code"><i
                                    class="fa fa-volume-control-phone"></i><span class="navigation-link"></span>
                                  {{ language["areaCode"] }}
                                </a>
                              </li>

                              <li class="{{
                                  selectedNodeModel['template_account']
                                }}">
                                <a (click)="returnActiveNode('template_account')"
                                  routerLink="/dashboard/home/template-account"><i class="fa fa-users"></i><span
                                    class="navigation-link"></span>
                                  {{ language["templateAccount"] }}
                                </a>
                              </li>

                              <li class="{{ selectedNodeModel['sms_count'] }}">
                                <a (click)="returnActiveNode('sms_count')" routerLink="/dashboard/home/sms-count"><i
                                    class="fa fa-comment"></i><span class="navigation-link"></span>
                                  {{ language["smsCount"] }}
                                </a>
                              </li>

                              <li class="{{ selectedNodeModel['add_holiday'] }}">
                                <a (click)="returnActiveNode('add_holiday')" routerLink="/dashboard/home/add-holiday"><i
                                    class="fa fa-calendar-plus-o"></i><span class="navigation-link"></span>
                                  {{ language["addHoliday"] }}
                                </a>
                              </li>

                              <li class="{{ selectedNodeModel['manage_clinics'] }}">
                                <a (click)="returnActiveNode('manage_clinics')"
                                  routerLink="/dashboard/home/registered-clinics"><i class="fa fa-users"></i><span
                                    class="navigation-link"></span>
                                  {{ language?.manageClinics }}
                                </a>
                              </li>

                              <li class="{{ selectedNodeModel['mail-multiple-recepient'] }}">
                                <a routerLink="/dashboard/home/mail-multiple-recepient"
                                  (click)="returnActiveNode('mail-multiple-recepient')" class="nav-link">
                                  <i class="fa fa-envelope"></i>
                                  <span class="navigation-link"></span>
                                  {{ language?.mailMultipleRecepient }}
                                </a>
                              </li>
                            </ul>
                          </li>

                          <li *ngIf="user && user.id === 4" class="{{ activeGroup[1] }}">
                            <a (click)="collapse(1)" class="has-arrow"><i class="fa fa fa-file-text"></i><span
                                class="navigation-link">{{
                                language?.systemLogsTitle
                                }}</span></a>
                            <ul *ngIf="user && user.id === 4" class="sub-menu mm-collapse {{
                                showHideCollapse[1]
                              }}">
                              <li class="{{
                                  selectedNodeModel['systemLogErrors']
                                }}">
                                <a (click)="returnActiveNode('systemLogErrors')"
                                  routerLink="/dashboard/home/system-logs/error"><i class="fa fa-bug"></i><span
                                    class="navigation-link"></span>
                                  {{ language?.systemLogErrors }}
                                </a>
                              </li>

                              <li class="{{ selectedNodeModel['systemLogInfo'] }}">
                                <a (click)="returnActiveNode('systemLogInfo')"
                                  routerLink="/dashboard/home/system-logs/info"><i class="fa fa-info-circle"></i><span
                                    class="navigation-link"></span>
                                  {{ language?.systemLogInfo }}
                                </a>
                              </li>

                              <li class="{{ selectedNodeModel['systemLogWarn'] }}">
                                <a (click)="returnActiveNode('systemLogWarn')"
                                  routerLink="/dashboard/home/system-logs/warn"><i
                                    class="fa fa-exclamation-triangle"></i><span class="navigation-link"></span>
                                  {{ language?.systemLogWarn }}
                                </a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                    </perfect-scrollbar>
                    <!-- Sidebar -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="simplebar-track simplebar-horizontal" style="visibility: hidden">
            <div class="simplebar-scrollbar" style="transform: translate3d(0px, 0px, 0px); display: none"></div>
          </div>
          <div class="simplebar-track simplebar-vertical" style="visibility: hidden">
            <div class="simplebar-scrollbar" style="
                height: 55px;
                transform: translate3d(0px, 0px, 0px);
                display: none;
              "></div>
          </div>
        </div>
      </div>
      <!-- Left Sidebar End -->
      <!-- end sidebar menu -->
      <!-- start page content -->
      <div class="page-content-wrapper">
        <div class="page-content">
          <!--<ul _ngcontent-vwt-c6="" class="breadcrumb breadcrumb-style ">
          <li _ngcontent-vwt-c6="" class="breadcrumb-item">
            <h4 _ngcontent-vwt-c6="" class="page-title selectedNode">{{selectedNode}}</h4>
          </li>
          <li><a routerlink="/dashboard/main"
              href="#/dashboard/main"><i _ngcontent-vwt-c6="" class="fa fa-home"></i> /
              Home</a></li> /
          <li *ngFor="let item of pathFromUrl">
             <a routerLink="{{item}}">
              &nbsp;{{item}}&nbsp;/
            </a>
          </li>
        </ul>-->

          <div>
            <div [style.height]="height">
              <!-- Start content -->
              <div class="content" style="height: 100%; overflow-y: auto; overflow-x: hidden">
                <!-- container-fluid -->
                <div style="height: 100%">
                  <router-outlet></router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<modal #settings modalClass="modal-md top-margin loggerModal adminModal">
  <modal-header>
    <h2 *ngIf="language !== undefined">{{ language["settings"] }}</h2>
  </modal-header>
  <modal-content>
    <kendo-tabstrip>
      <kendo-tabstrip-tab [title]="'Theme'" [selected]="true" class="row">
        <ng-template kendoTabContent class="row">
          <div class="row">
            <h2 style="text-align: center">Theme is on redesign mode...</h2>
            <!--<div class="radio radio-primary radio-primary{{theme}} col-md-4"
            style="margin-top: -5px; text-align: center;" *ngFor='let item of allThemes; let i = index'
            (click)="changeTheme(item['name'])">
            <input type="radio" name="radio1" id="radio{{i}}" value="option{{i}}"
              [checked]="theme === item['name'] ? true: false">
            <label for="radio{{i}}">
              <div class="color-container width5 ">
                <h3>{{item.name}} </h3>
                <span [style.background]="item.MainColor" class="color color-{{item['name']}}-main"></span>
                <span [style.background]="item.SideMenuColor" class="color  color-{{item['name']}}-side"></span>
                <span [style.background]="item.MenuColor" class="color  color-{{item['name']}}-menu"></span>
              </div>
            </label>
          </div>-->
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
      <kendo-tabstrip-tab [title]="'Language'">
        <ng-template kendoTabContent>
          <div class="row" style="padding: 3%">
            <div class="radio radio-primary radio-primary{{ theme }} col-md-6"
              style="margin-top: -5px; text-align: center" *ngFor="let item of allLanguage; let i = index"
              (click)="changeLanguage(item['name'])">
              <input type="radio" name="radio1" id="radio{{ i }}" value="option{{ i }}"
                [checked]="languageName === item['name'] ? true : false" />
              <label for="radio{{ i }}"> </label>
            </div>
          </div>
        </ng-template>
      </kendo-tabstrip-tab>
    </kendo-tabstrip>
  </modal-content>
  <modal-footer>
    <button kendoButton class="btn-{{ theme }} btn-primary" (click)="settings.close()"
      style="width: 15vh; padding: 1vh">
      {{ language?.close }}
    </button>
  </modal-footer>
</modal>

<modal #firstLogin modalClass="modal-md top-margin loggerModal adminModal">
  <modal-header>
    <h3 *ngIf="language !== undefined">{{ language?.loadDemoAccountTitle }}</h3>
  </modal-header>
  <modal-content>
    <div class="trophy">
      <img _ngcontent-nff-c1="" src="./assets/images/trophy.png" />
      <h3>{{ language?.loadDemoAccountHeader }}</h3>
    </div>
    <div class="message">
      <p>
        {{ language?.loadDemoAccountText }}
      </p>
    </div>
    <div *ngIf="templateAccount">
      <label>{{ language?.loadDemoAccountChooise }}</label>
      <ejs-dropdownlist [dataSource]="templateAccount" [(value)]="templateAccountValue" [fields]="templateAccountFields"
        allowFiltering="true"></ejs-dropdownlist>
    </div>
  </modal-content>
  <modal-footer>
    <button kendoButton class="btn btn-default mb-0" (click)="firstLogin.close()">
      {{ language?.loadDemoAccountNoThanks }}
    </button>
    <button kendoButton class="btn btn-primary" (click)="loadTemplateAccount()"
      [disabled]="templateAccountValue === undefined">
      {{ language?.loadDemoAccountButton }}
    </button>
  </modal-footer>
</modal>

<modal #templateLoading modalClass="modal-md top-margin loggerModal adminModal" [hideCloseButton]="true"
  [closeOnOutsideClick]="false">
  <modal-header>
    <h3 *ngIf="language !== undefined">{{ language?.loadingDemoTitle }}</h3>
  </modal-header>
  <modal-content>
    <div class="replication">
      <img _ngcontent-nff-c1="" src="./assets/images/replication.gif" />
      <h3>{{ language?.loadingDemoHeader }}</h3>
    </div>
    <div class="message">
      <p>
        {{ language?.loadingDemoText }}
      </p>
    </div>
  </modal-content>
</modal>