.color-palette {
  background: #1c252e;
  border-radius: 5px;
  margin: 50px auto;
  padding: 32px;
  position: relative;
  width: 180px;
}

.color-palette:before {
  background: #1c252e;
  content: "";
  height: 8px;
  left: 50%;
  margin: -4px 0 0 -4px;
  position: absolute;
  top: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 8px;
}

.color-palette h2 {
  color: #9aa1a7;
  font-size: 16px;
}

.color-container {
  margin: 21px 0;
  width: 180px;
  padding: 5px;
  height: 80px;
}

.color-container:first-child {
  margin-top: 0;
}

.color-container:last-child {
  margin-bottom: 0;
}

.color-container h3 {
  color: #9aa1a7;
  font-size: 14px;
  margin-bottom: 8px;
}

.color-container .color:first-of-type {
  border-radius: 3px 0 0 3px;
}

.color-container .color:last-of-type {
  border-radius: 0 3px 3px 0;

}

.color-container:hover {
  background-color: #e6e7ef;

}

.width10 .color {
  width: 10%;
}

.width6 .color {
  width: 16.67%;
}

.width5 .color {
  width: 20%;
}

.width4 .color {
  width: 25%;
}

.width3 .color {
  width: 33.3%;
}

.width2 .color {
  width: 50%;
}

.width1 .color {
  width: 100%;
}

.color {
  display: block;
  float: left;
  height: 24px;
  border: 1px solid #2f4050;
}


/*radio test css*/

.radio {
  padding-left: 20px;
}

.radio label {
  display: inline-block;
  position: relative;
  padding-left: 5px;
}

.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 17px;
  height: 17px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #cccccc;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}

.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 11px;
  height: 11px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #555555;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
  opacity: 0;
}

.radio input[type="radio"]:focus+label::before {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.radio input[type="radio"]:checked+label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.radio input[type="radio"]:disabled+label {
  opacity: 0.65;
}

.radio input[type="radio"]:disabled+label::before {
  cursor: not-allowed;
}

.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"]+label::after {
  background-color: #73BE28;
}

.radio-primary input[type="radio"]:checked+label::before {
  border-color: #73BE28;
}

.radio-primary input[type="radio"]:checked+label::after {
  background-color: #73BE28;
}

.metismenu li:active {
  color: rgb(255, 118, 0);
}



/********************************/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700);

li a span {
  font-family: "Open Sans", sans-serif;
}

.dropdown-content.as-select.form-field-tax-select-dropdown-menu {
  background-color: white;
  width: auto; }
  .dropdown-content.as-select.form-field-tax-select-dropdown-menu .form-field-checkbox,
  .dropdown-content.as-select.form-field-tax-select-dropdown-menu ul {
    width: auto; }
  .dropdown-content.as-select.form-field-tax-select-dropdown-menu .form-field-check-select-adder {
    padding: 0 0 0 10px; }
    .dropdown-content.as-select.form-field-tax-select-dropdown-menu .form-field-check-select-adder .button-link {
      line-height: 54px; }
  .dropdown-content.as-select.form-field-tax-select-dropdown-menu .tax-select-adder {
    padding-right: 10px; }
    .dropdown-content.as-select.form-field-tax-select-dropdown-menu .tax-select-adder label {
      display: block;
      line-height: normal; }
    .dropdown-content.as-select.form-field-tax-select-dropdown-menu .tax-select-adder .form-field-tax_name {
      width: 112.29167px; }
    .dropdown-content.as-select.form-field-tax-select-dropdown-menu .tax-select-adder .form-field-tax_rate {
      width: 112.29167px; }
    .dropdown-content.as-select.form-field-tax-select-dropdown-menu .tax-select-adder button {
      width: 64.16667px; }
  .dropdown-content.as-select.form-field-tax-select-dropdown-menu ul li:hover, .dropdown-content.as-select.form-field-tax-select-dropdown-menu ul li:active {
    background-color: white; }

.form-field-check-group-vertical label {
  white-space: normal; }

.intake-form-question {
  position: relative; }
  .intake-form-question > div > .form-field > label,
  .intake-form-question > .form-field > label {
    display: block;
    width: auto;
    white-space: normal;
    line-height: 20px;
    margin-bottom: 5px; }
  .intake-form-question .checkgroup-option-extra {
    position: absolute;
    left: 160.41667px;
    margin-top: 32px; }
    .intake-form-question .checkgroup-option-extra .form-field {
      width: 224.58333px; }
    .intake-form-question .checkgroup-option-extra .form-field.form-field-select .Select-placeholder,
    .intake-form-question .checkgroup-option-extra .form-field.form-field-select .Select-value,
    .intake-form-question .checkgroup-option-extra .form-field.form-field-select .Select-control,
    .intake-form-question .checkgroup-option-extra .form-field.form-field-select .Select-input {
      height: 26px;
      line-height: 24px; }
    .intake-form-question .checkgroup-option-extra .form-field.form-field-input input {
      height: 26px;
      line-height: 24px; }
    .intake-form-question .checkgroup-option-extra .datepicker-input .datepicker-calendar-icon {
      line-height: 26px; }
    .intake-form-question .checkgroup-option-extra.checkgroup-option-extra-0 {
      top: 0; }
    .intake-form-question .checkgroup-option-extra.checkgroup-option-extra-1 {
      top: 34px; }
    .intake-form-question .checkgroup-option-extra.checkgroup-option-extra-2 {
      top: 68px; }
    .intake-form-question .checkgroup-option-extra.checkgroup-option-extra-3 {
      top: 102px; }
    .intake-form-question .checkgroup-option-extra.checkgroup-option-extra-4 {
      top: 136px; }
    .intake-form-question .checkgroup-option-extra.checkgroup-option-extra-5 {
      top: 170px; }
    .intake-form-question .checkgroup-option-extra.checkgroup-option-extra-6 {
      top: 204px; }
    .intake-form-question .checkgroup-option-extra.checkgroup-option-extra-7 {
      top: 238px; }
    .intake-form-question .checkgroup-option-extra.checkgroup-option-extra-8 {
      top: 272px; }
    .intake-form-question .checkgroup-option-extra.checkgroup-option-extra-9 {
      top: 306px; }
  .intake-form-question .intake-form-question-subtext {
    padding-bottom: 8px; }
  .intake-form-question.checkgroup li .form-field-checkbox .form-field-checkbox-input + label {
    display: table-cell;
    height: 34px;
    text-align: left;
    width: 100%; }
  .intake-form-question.consent .ql-editor {
    border: none;
    margin-bottom: 20px;
    white-space: normal; }

button,
.button {
  position: relative;
  display: inline-block;
  border: 0;
  border-radius: 8px;
  background-color: transparent;
  outline: 0;
  font-weight: 600;
  color: #ffffff;
  font-size: 12px;
  height: 38px;
  padding: 0;
  line-height: 38px;
  outline: 0;
  cursor: pointer; }
  button .button-content-default,
  button .button-content-submitting,
  button .button-content-success,
  button .button-content-error,
  .button .button-content-default,
  .button .button-content-submitting,
  .button .button-content-success,
  .button .button-content-error {
    min-width: 100%; }
  button[disabled],
  .button[disabled] {
    opacity: 0.5;
    cursor: not-allowed; }
    button[disabled] .button-content-success,
    button[disabled] .button-content-error,
    .button[disabled] .button-content-success,
    .button[disabled] .button-content-error {
      cursor: default; }
    button[disabled].button-submitting.button-bouncing-dots, button[disabled].button-submitting.button-wheel,
    .button[disabled].button-submitting.button-bouncing-dots,
    .button[disabled].button-submitting.button-wheel {
      opacity: 1; }
  button .button-content-submitting,
  button .button-content-success,
  button .button-content-error,
  .button .button-content-submitting,
  .button .button-content-success,
  .button .button-content-error {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    min-width: 100%;
    height: 100%;
    vertical-align: bottom;
    white-space: nowrap; }
  button.button-red,
  .button.button-red {
    background-color: #d80027; }
    button.button-red:enabled:hover, button.button-red:enabled:active,
    .button.button-red:enabled:hover,
    .button.button-red:enabled:active {
      background-color: #ff1d46; }
  button.button-red-inverse,
  .button.button-red-inverse {
    color: #d80027;
    border: solid 1px #d80027;
    background-color: transparent; }
    button.button-red-inverse:enabled:hover, button.button-red-inverse:enabled:active,
    .button.button-red-inverse:enabled:hover,
    .button.button-red-inverse:enabled:active {
      background-color: #ff1d46;
      border: solid 1px #ff1d46;
      color: white; }
  button.button-pink,
  .button.button-pink {
    background-color: #fadcdc;
    color: #2f323b; }
    button.button-pink:enabled:hover, button.button-pink:enabled:active,
    .button.button-pink:enabled:hover,
    .button.button-pink:enabled:active {
      background-color: #fcebeb; }
  button.button-pink-inverse,
  .button.button-pink-inverse {
    color: #fadcdc;
    border: solid 1px #fadcdc;
    background-color: transparent; }
    button.button-pink-inverse:enabled:hover, button.button-pink-inverse:enabled:active,
    .button.button-pink-inverse:enabled:hover,
    .button.button-pink-inverse:enabled:active {
      background-color: #fcebeb;
      border: solid 1px #fcebeb; }
  button.button-blue,
  .button.button-blue {
    background-color: #4c99d4; }
    button.button-blue:enabled:hover, button.button-blue:enabled:active,
    .button.button-blue:enabled:hover,
    .button.button-blue:enabled:active {
      background-color: #6ebdf9; }
  button.button-blue-inverse,
  .button.button-blue-inverse {
    color: #4c99d4;
    border: solid 1px #4c99d4;
    background-color: transparent; }
    button.button-blue-inverse:enabled:hover, button.button-blue-inverse:enabled:active,
    .button.button-blue-inverse:enabled:hover,
    .button.button-blue-inverse:enabled:active {
      background-color: #6ebdf9;
      border: solid 1px #6ebdf9;
      color: white; }
  button.button-teal,
  .button.button-teal {
    background-color: #1cbbb4; }
    button.button-teal:enabled:hover, button.button-teal:enabled:active,
    .button.button-teal:enabled:hover,
    .button.button-teal:enabled:active {
      background-color: #38cfc8; }
  button.button-teal-inverse,
  .button.button-teal-inverse {
    color: #1cbbb4;
    border: solid 1px #1cbbb4;
    background-color: transparent; }
    button.button-teal-inverse:enabled:hover, button.button-teal-inverse:enabled:active,
    .button.button-teal-inverse:enabled:hover,
    .button.button-teal-inverse:enabled:active {
      background-color: #38cfc8;
      border: solid 1px #38cfc8;
      color: white; }
  button.button-orange,
  .button.button-orange {
    background-color: #de7652; }
    button.button-orange:enabled:hover, button.button-orange:enabled:active,
    .button.button-orange:enabled:hover,
    .button.button-orange:enabled:active {
      background-color: #e6987d; }
  button.button-orange-inverse,
  .button.button-orange-inverse {
    color: #de7652;
    border: solid 1px #de7652;
    background-color: transparent; }
    button.button-orange-inverse:enabled:hover, button.button-orange-inverse:enabled:active,
    .button.button-orange-inverse:enabled:hover,
    .button.button-orange-inverse:enabled:active {
      background-color: #e6987d;
      border: solid 1px #e6987d;
      color: white; }
  button.button-light-gray,
  .button.button-light-gray {
    background-color: #eeeff1;
    color: #2f323b; }
    button.button-light-gray:enabled:hover, button.button-light-gray:enabled:active,
    .button.button-light-gray:enabled:hover,
    .button.button-light-gray:enabled:active {
      background-color: #8d9099; }
  button.button-light-gray-inverse,
  .button.button-light-gray-inverse {
    color: #eeeff1;
    border: solid 1px #eeeff1;
    background-color: transparent; }
    button.button-light-gray-inverse:enabled:hover, button.button-light-gray-inverse:enabled:active,
    .button.button-light-gray-inverse:enabled:hover,
    .button.button-light-gray-inverse:enabled:active {
      background-color: #8d9099;
      border: solid 1px #8d9099; }
  button.button-medium-gray,
  .button.button-medium-gray {
    background-color: #cdd0d3;
    color: #2f323b; }
    button.button-medium-gray:enabled:hover, button.button-medium-gray:enabled:active,
    .button.button-medium-gray:enabled:hover,
    .button.button-medium-gray:enabled:active {
      background-color: #dfe1e3; }
  button.button-medium-gray-inverse,
  .button.button-medium-gray-inverse {
    color: #cdd0d3;
    border: solid 1px #cdd0d3;
    background-color: transparent; }
    button.button-medium-gray-inverse:enabled:hover, button.button-medium-gray-inverse:enabled:active,
    .button.button-medium-gray-inverse:enabled:hover,
    .button.button-medium-gray-inverse:enabled:active {
      background-color: #dfe1e3;
      border: solid 1px #dfe1e3; }
  button.button-dark-gray,
  .button.button-dark-gray {
    background-color: #686a70; }
    button.button-dark-gray:enabled:hover, button.button-dark-gray:enabled:active,
    .button.button-dark-gray:enabled:hover,
    .button.button-dark-gray:enabled:active {
      background-color: #8d9099; }
  button.button-dark-gray-inverse,
  .button.button-dark-gray-inverse {
    color: #686a70;
    border: solid 1px #686a70;
    background-color: transparent; }
    button.button-dark-gray-inverse:enabled:hover, button.button-dark-gray-inverse:enabled:active,
    .button.button-dark-gray-inverse:enabled:hover,
    .button.button-dark-gray-inverse:enabled:active {
      background-color: #8d9099;
      border: solid 1px #8d9099; }
  button.button-black,
  .button.button-black {
    background-color: #2f323b; }
    button.button-black:enabled:hover, button.button-black:enabled:active,
    .button.button-black:enabled:hover,
    .button.button-black:enabled:active {
      background-color: #4d5261; }
  button.button-black-inverse,
  .button.button-black-inverse {
    color: #2f323b;
    border: solid 1px #2f323b;
    background-color: transparent; }
    button.button-black-inverse:enabled:hover, button.button-black-inverse:enabled:active,
    .button.button-black-inverse:enabled:hover,
    .button.button-black-inverse:enabled:active {
      background-color: #4d5261;
      border: solid 1px #4d5261;
      color: white; }
  button.button-wheel, button.button-bouncing-dots, button.button-submit-and-check,
  .button.button-wheel,
  .button.button-bouncing-dots,
  .button.button-submit-and-check {
    padding: 0 20px; }
  button.button-wheel.button-submitting, button.button-bouncing-dots.button-submitting,
  .button.button-wheel.button-submitting,
  .button.button-bouncing-dots.button-submitting {
    background-color: transparent; }
  button.button-wheel .button-content-submitting p,
  .button.button-wheel .button-content-submitting p {
    color: #2f323b;
    line-height: 18px;
    font-weight: lighter; }
  button.button-link,
  .button.button-link {
    text-align: left;
    display: inline;
    height: auto;
    line-height: normal; }
  button.button-button-link,
  .button.button-button-link {
    padding: 0 4px; }
  button.button-link, button.button-button-link,
  .button.button-link,
  .button.button-button-link {
    background-color: transparent;
    border-radius: 0;
    color: #389bd5; }
    button.button-link:enabled:hover, button.button-link:enabled:active, button.button-button-link:enabled:hover, button.button-button-link:enabled:active,
    .button.button-link:enabled:hover,
    .button.button-link:enabled:active,
    .button.button-button-link:enabled:hover,
    .button.button-button-link:enabled:active {
      background-color: transparent; }
    button.button-link:enabled:hover, button.button-link:enabled:active, button.button-button-link:enabled:hover, button.button-button-link:enabled:active,
    .button.button-link:enabled:hover,
    .button.button-link:enabled:active,
    .button.button-button-link:enabled:hover,
    .button.button-button-link:enabled:active {
      color: #6ebdf9; }
    button.button-link.button-text-color, button.button-button-link.button-text-color,
    .button.button-link.button-text-color,
    .button.button-button-link.button-text-color {
      color: #2f323b; }
      button.button-link.button-text-color:enabled:hover, button.button-link.button-text-color:enabled:active, button.button-button-link.button-text-color:enabled:hover, button.button-button-link.button-text-color:enabled:active,
      .button.button-link.button-text-color:enabled:hover,
      .button.button-link.button-text-color:enabled:active,
      .button.button-button-link.button-text-color:enabled:hover,
      .button.button-button-link.button-text-color:enabled:active {
        color: #8d9099; }
  button.button-submit-and-check,

  button.button-submit-and-check .button-content-success i.flaticon-check2,
  button.button-submit-and-check .button-content-error i.flaticon-close, button.button-link .button-content-success i.flaticon-check2,
  button.button-link .button-content-error i.flaticon-close, button.button-button-link .button-content-success i.flaticon-check2,
  button.button-button-link .button-content-error i.flaticon-close,
  .button.button-submit-and-check .button-content-success i.flaticon-check2,
  .button.button-submit-and-check .button-content-error i.flaticon-close,
  .button.button-link .button-content-success i.flaticon-check2,
  .button.button-link .button-content-error i.flaticon-close,
  .button.button-button-link .button-content-success i.flaticon-check2,
  .button.button-button-link .button-content-error i.flaticon-close {
    margin-left: 4px; }

.button-with-dropdown {
  display: inline-block; }
  .button-with-dropdown .dropdown-trigger .button-with-dropdown-trigger {
    display: inline-block;
    border-left: solid 1px white;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: #1cbbb4;
    color: white;
    vertical-align: top;
    text-align: left;
    width: 38px;
    height: 38px;
    line-height: 38px;
    padding-left: 12px; }
    .button-with-dropdown .dropdown-trigger .button-with-dropdown-trigger:hover {
      background-color: #38cfc8; }
  .button-with-dropdown .button {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0; }

.button-with-dropdown-options-dropdown-menu {
  margin-top: 1px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  font-weight: 600;
  background-color: #1cbbb4;
  color: white;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px; }
  .button-with-dropdown-options-dropdown-menu li {
    line-height: 30px;
    cursor: pointer; }
  .button-with-dropdown-options-dropdown-menu li {
    padding-left: 20px;
    padding-right: 20px; }
  .button-with-dropdown-options-dropdown-menu li:hover {
    background-color: #38cfc8; }

.accordian .accordian-header {
  position: relative;
  cursor: pointer; }
  .accordian .accordian-header > i.flaticon-down {
    position: absolute;
    right: 8px;
    top: 0;
    line-height: 38px;
    transform: rotate(0deg);
    transition: transform 0.3s; }

.accordian.showing .accordian-header > i.flaticon-down {
  transform: rotate(180deg); }

.clinicsense-dashboard {
  background-color: white; }

.dashboard-header {
  position: relative;
  z-index: 21;
  height: 64px;
  border-bottom: solid 4px #389bd5;
  background-color: #eeeff1; }
  .dashboard-header .dashboard-header-brand {
    vertical-align: bottom;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 60px;
    height: 60px; }
    .dashboard-header .dashboard-header-brand img {
      vertical-align: text-bottom; }
    .dashboard-header .dashboard-header-brand .cs-logo-small {
      width: 56px;
      height: 56px; }
    .dashboard-header .dashboard-header-brand .cs-logo-large {
      display: none;
      width: 122px;
    height: 40px;
    margin-top: 10px; }
    @media only screen and (min-width: 1200px) {
      .dashboard-header .dashboard-header-brand {
        padding: 0 40px; }
        .dashboard-header .dashboard-header-brand .cs-logo-small {
          display: none; }
        .dashboard-header .dashboard-header-brand .cs-logo-large {
          display: inline; } }
  .dashboard-header-links {
    margin-bottom: 0px !important;
  }
  .dashboard-header .dashboard-header-links {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1; }
  .dashboard-header .dashboard-header-links li a {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 60px;
    cursor: pointer;
    color: #2f323b;
    text-decoration: none; }
    .dashboard-header .dashboard-header-links li a span {
      border-left: solid 1px #cdd0d3;
      padding: 0 8px;
      font-size: 11px; }
      @media only screen and (min-width: 768px) {
        .dashboard-header .dashboard-header-links li a span {
          padding: 0 14px;
          font-size: 13px; } }
      @media only screen and (min-width: 960px) {
        .dashboard-header .dashboard-header-links li a span {
          padding: 0 18px;
          font-size: 13px; } }
  .dashboard-header .dashboard-header-links li {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 60px;
    height: 60px;
    vertical-align: bottom; }
    .dashboard-header .dashboard-header-links li:hover {
      background-color: #cdd0d3; }
      .dashboard-header .dashboard-header-links li:hover a span {
        border-left-color: transparent; }
      .dashboard-header .dashboard-header-links li:hover + li a span {
        border-left-color: transparent; }
    .dashboard-header .dashboard-header-links li.active {
      background-color: #389bd5 !important; }
      .dashboard-header .dashboard-header-links li.active a span {
        color: white;
        border-left-color: transparent; }
      .dashboard-header .dashboard-header-links li.active + li a span {
        border-left-color: transparent; }
    .dashboard-header .dashboard-header-links li:last-child {
      margin-right: 6px; }
      @media only screen and (min-width: 768px) {
        .dashboard-header .dashboard-header-links li:last-child {
          margin-right: 28px; } }
  .dashboard-header .dashboard-header-buy-options {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 60px;
    vertical-align: bottom; }
  .dashboard-header .dashboard-header-account-options {
    float: right;
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 60px;
    height: 60px; }
  .dashboard-header .dashboard-header-links-for-tiny {
    display: none; }
  .dashboard-header .dashboard-header-links .flaticon-down {
    display: none; }
  @media only screen and (max-width: 639px) {
    .dashboard-header .dashboard-header-links li {
      display: none; }
      .dashboard-header .dashboard-header-links li.active {
        display: block;
        background-color: transparent; }
        .dashboard-header .dashboard-header-links li.active a span {
          color: #2f323b;
          font-size: 20px;
          padding-left: 38px;
          padding-right: 18px;
          border-left: solid 1px #cdd0d3; }
      .dashboard-header .dashboard-header-links li .flaticon-down {
        display: -moz-inline-stack;
        display: inline-block;
        *display: inline;
        zoom: 1;
        transform: rotate(0deg);
        transition: transform 0.3s; }
    .dashboard-header .dashboard-header-links-for-tiny {
      display: block;
      height: 0;
      overflow: hidden;
      transition: height 0.3s; }
    .dashboard-header .dashboard-header-links-for-tiny li {
      height: 32px;
      line-height: 32px;
      padding-left: 94px; }
      .dashboard-header .dashboard-header-links-for-tiny li a {
        color: #2f323b;
        text-decoration: none; }
      .dashboard-header .dashboard-header-links-for-tiny li:hover {
        background-color: #cdd0d3; }
      .dashboard-header .dashboard-header-links-for-tiny li.active {
        background-color: #389bd5; }
        .dashboard-header .dashboard-header-links-for-tiny li.active a {
          color: white; }
    .dashboard-header.opened .dashboard-header-links-for-tiny {
      display: block;
      width: 100%;
      height: 192px;
      transition: height 0.3s; }
    .dashboard-header.opened .dashboard-header-links li .flaticon-down {
      transform: rotate(180deg);
      transition: transform 0.3s; }
    .dashboard-header .dashboard-header-buy-options {
      float: right; } }
  @media only screen and (max-width: 1199px) {
    .dashboard-header {
      height: 0;
      transform: translate3d(0, -64px, 0);
      transition: transform 0.3s, height 0.3s; }
      .dashboard-header.show {
        height: 64px;
        transform: translate3d(0, 0, 0);
        transition: transform 0.3s, height 0.3s; } }
  .dashboard-header .dashboard-header-content {
    background-color: inherit; }
  .dashboard-header .dashboard-header-show-hide {
    position: absolute;
    z-index: -1;
    left: 50%;
    margin-left: -50px;
    top: 0;
    height: 84px;
    width: 100px;
    border-radius: 50px;
    background-color: #389bd5;
    cursor: pointer; }
    @media only screen and (min-width: 960px) {
      .dashboard-header .dashboard-header-show-hide {
        display: none; } }

.nav-bar {
  float: left;
  flex-shrink: 0;
  position: relative;
  z-index: 20;
  background-color: #eeeff1; }
  .nav-bar .nav-bar-icon,
  .nav-bar .nav-bar-label,
  .nav-bar .nav-bar-toggle {
    vertical-align: top;
    height: 60px;
    line-height: 59px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: inherit;
    background-color: inherit;
    cursor: pointer; }
  .nav-bar li {
    background-color: #eeeff1;
    border-color: #eeeff1; }
    .nav-bar li:hover {
      background-color: #cdd0d3;
      border-color: #cdd0d3; }
    .nav-bar li.active {
      background-color: #389bd5;
      border-color: #389bd5;
      color: white; }
  .nav-bar .nav-bar-toggle {
    border-color: #686a70;
    background-color: #686a70;
    color: white;
    text-align: right; }
    .nav-bar .nav-bar-toggle i {
      display: -moz-inline-stack;
      display: inline-block;
      *display: inline;
      zoom: 1;
      text-align: center;
      width: 56px; }
  .nav-bar .nav-bar-icon {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    z-index: 2;
    width: 56px;
    text-align: center;
    font-size: 20px; }
  .nav-bar .nav-bar-label {
    display: -moz-inline-stack;
    display: inline-block;
    *display: inline;
    zoom: 1;
    position: relative;
    z-index: 1;
    font-size: 13px;
    font-weight: 600;
    padding-left: 10px; }
  @media only screen and (max-width: 1199px) {
    .nav-bar {
      width: 56px; }
      .nav-bar .nav-bar-background {
        position: absolute;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #eeeff1;
        z-index: -1; }
      .nav-bar .nav-bar-toggle,
      .nav-bar .nav-bar-background {
        width: 238px;
        -ms-transform: translate(-182px, 0) ;
        transform: translate3d(-182px, 0, 0) ;
        transition: transform 0.3s; }
      .nav-bar.opened .nav-bar-toggle,
      .nav-bar.opened .nav-bar-background {
        -ms-transform: translate(0, 0) ;
        transform: translate3d(0, 0, 0) ;
        transition: transform 0.3s; }
      .nav-bar .nav-bar-label {
        position: absolute;
        left: 56px;
        width: 182px;
        overflow: hidden;
        -ms-transform: translate(-182px, 0) ;
        transform: translate3d(-182px, 0, 0) ;
        transition: transform 0.3s; }
      .nav-bar.opened .nav-bar-label,
      .nav-bar.opened .nav-bar-icon {
        border-top-color: #cdd0d3; }
      .nav-bar.opened li:hover .nav-bar-label,
      .nav-bar.opened li:hover .nav-bar-icon,
      .nav-bar.opened li:hover + li .nav-bar-label,
      .nav-bar.opened li:hover + li .nav-bar-icon,
      .nav-bar.opened .active .nav-bar-label,
      .nav-bar.opened .active .nav-bar-icon,
      .nav-bar.opened .active + li .nav-bar-label,
      .nav-bar.opened .active + li .nav-bar-icon,
      .nav-bar.opened li:first-child .nav-bar-label,
      .nav-bar.opened li:first-child .nav-bar-icon {
        border-top-color: inherit; }
      .nav-bar.opened .nav-bar-label,
      .nav-bar li.showing .nav-bar-label {
        -ms-transform: translate(0, 0) ;
        transform: translate3d(0, 0, 0) ;
        transition: transform 0.3s; } }
  @media only screen and (min-width: 1200px) {
    .nav-bar {
      width: 238px; }
      .nav-bar .nav-bar-toggle {
        display: none;
        border: transparent; }
      .nav-bar .nav-bar-label {
        width: 182px; }
      .nav-bar .nav-bar-label,
      .nav-bar .nav-bar-icon {
        border-top-color: #cdd0d3; }
      .nav-bar li:hover .nav-bar-label,
      .nav-bar li:hover .nav-bar-icon,
      .nav-bar li:hover + li .nav-bar-label,
      .nav-bar li:hover + li .nav-bar-icon,
      .nav-bar .active .nav-bar-label,
      .nav-bar .active .nav-bar-icon,
      .nav-bar .active + li .nav-bar-label,
      .nav-bar .active + li .nav-bar-icon,
      .nav-bar li:first-child .nav-bar-label,
      .nav-bar li:first-child .nav-bar-icon {
        border-top-color: inherit; } }

.empty-nav-bar {
  float: left;
  flex-shrink: 0;
  position: relative;
  z-index: 20;
  background-color: #eeeff1;
  width: 56px; }
