<!DOCTYPE html>
<html lang="zxx">

<head>
  <!-- Basic Page Needs
  ================================================== -->
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Specific Metas
  ================================================== -->
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <!-- For Search Engine Meta Data  -->
  <meta name="description" content="" />
  <meta name="keywords" content="" />
  <meta name="author" content="yoursite.com" />

  <title>Authfy : Login-02</title>

  <!-- Favicon -->
  <link rel="shortcut icon" type="image/icon" href="images/favicon-16x16.png" />

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if IE]>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
  <!-- Start Preloader -->
  <div class="spinner loading" *ngIf="!language"></div>

  <!-- Preloader End -->

  <div class="container-fluid" *ngIf="language !== undefined">
    <div class="row" style="height: 100vh">
      <div class="col-xs-12 col-sm-6 col-md-5 col-lg-4 authfy-panel-left">
        <!-- brand-logo start -->
        <div class="brand-logo text-center">
          <a (click)="backToLanding()"><img src="../../../assets/images/brand-logo.png" width="250"
              alt="brand-logo" /></a>
        </div>
        <!-- ./brand-logo -->
        <!-- authfy-login start -->
        <div class="authfy-login">
          <!-- panel-login start -->
          <div class="authfy-panel panel-login text-center {{ loginForm }}">
            <div class="authfy-heading">
              <h3 class="auth-title">{{ language.loginTitle }}</h3>
              <p>
                {{ language.haventAccount }}
                <a class="lnk-toggler" data-panel=".panel-signup" (click)="signUpActive()">{{ language.signUp }}</a>
              </p>
            </div>
            <!-- social login buttons start -->
            <div class="row social-buttons">
              <div class="col-xs-4 col-sm-4">
                <a href="#" class="btn btn-lg btn-block btn-facebook">
                  <i class="fa fa-facebook"></i>
                </a>
              </div>
              <div class="col-xs-4 col-sm-4">
                <a href="#" class="btn btn-lg btn-block btn-twitter">
                  <i class="fa fa-twitter"></i>
                </a>
              </div>
              <div class="col-xs-4 col-sm-4">
                <a href="#" class="btn btn-lg btn-block btn-google">
                  <i class="fa fa-google-plus"></i>
                </a>
              </div>
            </div>
            <!-- ./social-buttons -->
            <div class="row loginOr">
              <div class="col-xs-12 col-sm-12">
                <span class="spanOr">{{ language.or }}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-xs-12 col-sm-12">
                <p style="color: red">{{ loginInfo }}</p>
                <form name="loginForm" class="loginForm" (ngSubmit)="login(login)">
                  <div class="form-group">
                    <input type="email" class="form-control email" name="username" placeholder="{{ language.email }}"
                      [(ngModel)]="data.email" email.value="" #email="ngModel" />
                  </div>
                  <div class="form-group">
                    <div class="pwdMask">
                      <input type="{{ hideShow }}" class="form-control password" name="password"
                        placeholder="{{ language.password }}" [(ngModel)]="data.password" password.value=""
                        #password="ngModel" />
                      <span class="fa {{ hideShowEye }} pwd-toggle" (click)="hideShowPassword()"></span>
                    </div>
                  </div>
                  <div class="row remember-row">
                    <div class="col-xs-6 col-sm-6">
                      <!-- <label class="checkbox text-left">
                          <input type="checkbox" value="remember-me" /><span
                            class="label-text"
                            >{{ language.rememberMe }}</span
                          >
                        </label> -->
                    </div>
                    <div class="col-xs-6 col-sm-6">
                      <p class="forgotPwd">
                        <a class="lnk-toggler" data-panel=".panel-forgot" (click)="recoveryActive()">{{
                          language.forgotPassword }}</a>
                      </p>
                    </div>
                  </div>
                  <!-- ./remember-row -->
                  <div class="form-group">
                    <button class="btn btn-lg btn-block btn-primary btn-login" type="submit">
                      {{ language.loginWithEmail }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- ./panel-login -->

          <!-- panel-create user access device -->
          <div class="authfy-panel panel-signup text-center {{ userAccessForm }}">
            <div class="row">
              <div class="col-xs-12 col-sm-12">
                <div class="authfy-heading">
                  <h3 class="auth-title">
                    {{ language.userAccessFormTitle }}
                  </h3>
                </div>
                <p style="color: red">{{ loginInfo }}</p>
                <form class="signupForm" (ngSubmit)="createUserAccessDevice($event)">
                  <div class="form-group">
                    <input type="text" class="form-control" name="device" placeholder="{{ language.userAccessDevice }}"
                      required="required" [(ngModel)]="userAccessDevice" userAccessDevice.value="" #email="ngModel" />
                  </div>
                  <div class="form-group">
                    <button class="btn btn-lg btn-block btn-primary btn-login" type="submit">
                      {{ language.createUserAccessDevice }}
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- ./panel-create user access device -->

          <!-- panel-signup start -->
          <div class="authfy-panel panel-signup text-center {{ signupForm }}">
            <div class="row">
              <div class="col-xs-12 col-sm-12">
                <div class="authfy-heading">
                  <h3 class="auth-title">{{ language.signUpTitle }}</h3>
                  <p>{{ signUpInfo }}</p>
                  <p style="color: red">{{ errorInfo }}</p>
                </div>
                <form name="signupForm" class="signupForm" (ngSubmit)="signUp($event)">
                  <div class="form-group">
                    <input type="email" class="form-control" name="email" placeholder="{{ language.email }}"
                      required="required" [(ngModel)]="data.email" email.value="" #email="ngModel" />
                  </div>

                  <div class="form-group">
                    <input type="text" class="form-control" name="fullname" placeholder="{{ language.fullName }}"
                      required="required" [(ngModel)]="data.shortname" shortname.value="" #shortname="ngModel" />
                  </div>
                  <div class="form-group">
                    <div class="pwdMask">
                      <input type="{{ hideShow }}" class="form-control password" name="password"
                        placeholder="{{ language.password }}" [(ngModel)]="data.password" password.value=""
                        #password="ngModel" />
                      <span class="fa {{ hideShowEye }} pwd-toggle" (click)="hideShowPassword()"></span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="checkbox text-left">
                      <input type="checkbox" [(ngModel)]="agreeValue" name="agreeValue" /><span class="label-text">{{
                        language.clickAgreeText }}
                        <a routerLink="/terms" target="_blank" class="signup-term-link">{{ language.termOfUse }}</a>
                        {{ language.and }}
                        <a routerLink="/privacy-policy" target="_blank" class="signup-term-link">{{
                          language.privacyPolicy }}</a></span>
                    </label>
                  </div>
                  <div class="form-group">
                    <button class="btn btn-lg btn-block btn-primary btn-login" type="submit">
                      {{ language.signUpWithEmail }}
                    </button>
                  </div>
                </form>
                <a class="lnk-toggler" data-panel=".panel-login" (click)="loginActive()">{{
                  language.alreadyHaveAnAccount }}</a>
              </div>
            </div>
          </div>
          <!-- ./panel-signup -->
          <!-- panel-forget start -->
          <div class="authfy-panel panel-forgot {{ recoverForm }}">
            <div class="row">
              <div class="col-xs-12 col-sm-12">
                <div class="authfy-heading">
                  <h3 class="auth-title">{{ language.recoveryTitle }}</h3>
                  <p>{{ language.recoveryText }}</p>
                  <p id="textClass" style="color: red"></p>
                  <p style="color: red">{{ errorInfo }}</p>
                </div>
                <form name="forgetForm" class="forgetForm" (ngSubmit)="forgotPassword($event)">
                  <div class="form-group">
                    <input type="email" class="form-control" name="username" placeholder="{{ language.email }}"
                      required="required" [(ngModel)]="data.email" email.value="" #email="ngModel" />
                  </div>
                  <div class="form-group">
                    <button class="btn btn-lg btn-block btn-primary btn-login" type="submit">
                      {{ language.recoveryYourPassword }}
                    </button>
                  </div>
                  <div class="form-group">
                    <a class="lnk-toggler" data-panel=".panel-login" (click)="loginActive()">{{
                      language.alreadyHaveAnAccount }}</a>
                  </div>
                  <div class="form-group">
                    <a class="lnk-toggler" data-panel=".panel-signup" (click)="signUpActive()">{{ language.haventAccount
                      }}</a>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- ./panel-forgot -->
        </div>
        <!-- ./authfy-login -->
      </div>
      <!-- ./authfy-panel-left -->
      <div class="col-md-7 col-lg-8 authfy-panel-right hidden-xs col-sm-6">
        <div class="hero-heading">
          <div class="headline">
            <h3>{{ language.welcomeTitle }} ClinicNode</h3>
            <p>{{ language.welcomeText }}</p>
          </div>
        </div>
      </div>
    </div>
    <!-- ./row -->
  </div>

  <!-- ./container -->

  <!-- Javascript Files -->

  <!-- initialize jQuery Library -->
  <script src="js/jquery-2.2.4.min.js"></script>

  <!-- for Bootstrap js -->
  <script src="js/bootstrap.min.js"></script>

  <!-- Custom js-->
  <script src="js/custom.js"></script>
</body>

</html>