<div *ngIf="language" class="form-group" [ngClass]="config.width">
  <div
    class="e-float-input e-control-wrapper"
    [formGroup]="group"
    [ngClass]="{
      'e-error':
        config.field.invalid && (config.field.dirty || config.field.touched)
    }"
  >
    <textarea
      [required]="config.required"
      [id]="config.name"
      name="config.name"
      type="config.type"
      [placeholder]="config.placeholder ? config.placeholder : ''"
      [formControlName]="config.name"
      rows="5"
      [(ngModel)]="value"
    ></textarea>
    <span class="e-float-line"></span>
    <label class="e-float-text e-label-top" for="OrderID">
      {{
        language[config.label] ? language[config.label] : config.label
      }}{{ config.required ? "(" + language.required + ")" : "" }}
    </label>
  </div>
  <mat-error *ngIf="checkIfInputValid(config.name)">{{ language?.thisFieldIsRequired }}</mat-error>
  <div class="count-of-char text-right">
    <span *ngIf="value !== undefined">{{ value?.length }}</span>
  </div>
</div>
