
.side-menu-Theme1 {
    width: 240px;
    z-index: 10;
    background: #333547;
    bottom: 0;
    margin-top: 0;
    padding-bottom: 30px;
    position: fixed;
    top: 70px
}

.side-menu-Theme1 .waves-effect .waves-ripple {
    background-color: rgba(51, 53, 71, .4)
}

.enlarged .side-menu-Theme1 {
    /*position: absolute*/
}


.enlarged #wrapper .left.side-menu-Theme1 {
    width: 70px;
    z-index: 5
}

.enlarged #wrapper .left.side-menu-Theme1 #sidebar-menu-Theme1>ul>li>a {
    padding: 15px 20px;
    min-height: 56px
}

.enlarged #wrapper .left.side-menu-Theme1 #sidebar-menu-Theme1>ul>li>a.active,
.enlarged #wrapper .left.side-menu-Theme1 #sidebar-menu-Theme1>ul>li>a:focus,
.enlarged #wrapper .left.side-menu-Theme1 #sidebar-menu-Theme1>ul>li>a:hover {
    color: #fff!important;
    background-color: #2e2f40
}

.enlarged #wrapper .left.side-menu-Theme1 #sidebar-menu-Theme1>ul>li>a i {
    font-size: 18px;
    margin-left: 5px;
    margin-right: 20px!important
}

.enlarged #wrapper .left.side-menu-Theme1 #sidebar-menu-Theme1 ul>li {
    position: relative;
    white-space: nowrap
}

.enlarged #wrapper .left.side-menu-Theme1 #sidebar-menu-Theme1 ul>li:hover>a {
    position: relative;
    width: 260px;
    color: #626ed4!important;
    background-color: #2e2f40
}

.enlarged #wrapper .left.side-menu-Theme1 #sidebar-menu-Theme1 ul>li:hover>ul {
    display: block;
    left: 70px;
    position: absolute;
    width: 190px;
    height: auto!important
}

.enlarged #wrapper .left.side-menu-Theme1 #sidebar-menu-Theme1 ul>li:hover>ul a {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 8px 20px;
    position: relative;
    width: 190px;
    z-index: 6
}

.enlarged #wrapper .left.side-menu-Theme1 #sidebar-menu-Theme1 ul>li:hover>ul a:hover {
    color: #fff
}

.enlarged #wrapper .left.side-menu-Theme1 #sidebar-menu-Theme1 ul>li:hover a span {
    display: inline
}

.enlarged #wrapper .left.side-menu-Theme1 #sidebar-menu-Theme1 ul ul li:hover>ul {
    display: block;
    left: 190px;
    margin-top: -36px;
    position: absolute;
    width: 190px
}

.enlarged #wrapper .left.side-menu-Theme1 #sidebar-menu-Theme1 ul ul li>a span.float-right {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    position: absolute;
    right: 20px;
    top: 12px;
    transform: rotate(270deg)
}

.enlarged #wrapper .left.side-menu-Theme1 #sidebar-menu-Theme1 ul ul li.mm-active a {
    color: #fff
}

.enlarged #wrapper .left.side-menu-Theme1 #sidebar-menu-Theme1 ul>li>a span {
    display: none;
    padding-left: 10px
}

.enlarged #wrapper .left.side-menu-Theme1 .user-details {
    display: none
}

@media (max-width:768px) {
    body {
        overflow-x: hidden
    }
    .topbar-left-Theme1 {
        width: 70px!important
    }
    .topbar-left-Theme1 span {
        display: none!important
    }
    .topbar-left-Theme1 i {
        display: block!important;
        line-height: 70px!important
    }
    .navbar-custom-Theme1 {
        margin-left: 70px!important
    }
    .topbar .topbar-left-Theme1 {
        height: 70px
    }
    .content-page {
        margin-left: 0!important
    }
    .content-page .content {
        padding: 0
    }
    .enlarged .left.side-menu-Theme1 {
        margin-left: -70px
    }
    .footer {
        left: 0!important
    }
}

@media (max-width:480px) {
    .side-menu-Theme1 {
        z-index: 10!important
    }
    .button-menu-mobile-Theme1 {
        display: block
    }
    .navbar-custom-Theme1 {
        margin-left: 0!important
    }
    .account-page-full.wrapper-page {
        width: 100%;
        position: relative
    }
}

@media (max-width:419px) {
    .topbar-left-Theme1 {
        width: 70px!important
    }
    .content-page {
        margin-left: 70px
    }
    .enlarged .side-menu-Theme1.left {
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .1)!important;
        box-shadow: 0 1px 1px rgba(0, 0, 0, .1)!important
    }
    .topbar-left-Theme1 {
        display: none
    }
}


.topbar-Theme1 {
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999
}

.topbar-Theme1 .topbar-left-Theme1 {
    background: #333547;
    float: left;
    text-align: center;
    height: 70px;
    position: relative;
    width: 240px;
    z-index: 1
}

.topbar-Theme1 .topbar-left-Theme1 .logo {
    line-height: 70px
}

.topbar-Theme1 .topbar-left-Theme1 .logo i {
    display: none
}

.enlarged #wrapper .topbar-Theme1 .topbar-left-Theme1 {
    width: 70px!important
}

.enlarged #wrapper .topbar-Theme1 .topbar-left-Theme1 .logo span {
    display: none;
    opacity: 0
}

.enlarged #wrapper .topbar-Theme1 .topbar-left-Theme1 .logo i {
    display: block;
    line-height: 70px;
    color: #626ed4!important
}

@media print {
    .topbar-Theme1 {
        display: none
    }
}

#sidebar-menu-Theme1>ul>li>a {
    color: #8699ad;
    display: block;
    padding: 12.5px 20px;
    font-size: 15.7px;
    position: relative;
    -webkit-transition: all .5s;
    transition: all .5s;
    font-family: Sarabun, sans-serif
}

#sidebar-menu-Theme1>ul>li>a.active,
#sidebar-menu-Theme1>ul>li>a:focus,
#sidebar-menu-Theme1>ul>li>a:hover {
    color: #b4c9de;
    text-decoration: none
}

#sidebar-menu-Theme1>ul>li>a>span {
    vertical-align: middle;
    margin-left: 7px
}

#sidebar-menu-Theme1 {
    padding-top: 10px
}

#sidebar-menu-Theme1 .badge {
    margin-top: 7px
}

#sidebar-menu-Theme1 li.mm-active .menu-arrow i {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}

#sidebar-menu-Theme1 ul li a i {
    vertical-align: middle;
    font-size: 14.7px;
    width: 20px;
    display: inline-block
}

#sidebar-menu-Theme1>ul>li>a.mm-active {
    color: #b4c9de!important;
    background-color: #383b4e
}


.navbar-custom-Theme1 {
    background-color: #ececf1;
}

.navbar-custom-Theme1 .nav-link {
    padding: 0 4px
}

.navbar-custom-Theme1 .navbar-right .dropdown-toggle:after {
    content: initial
}


.button-menu-mobile-Theme1 {
    border: none;
    color: #525f80;
    display: inline-block;
    height: 70px;
    width: 60px;
    background-color: #ececf1;
    font-size: 24px
}

.k-state-selected-Theme1 {
    background-color: #333547 !important;
}

.k-dialog-titlebar-Theme1 {
    background-color: #333547 !important;
}

.k-button-icontext-Theme1 {
    background-color: #333547 !important;
}

.k-primary-Theme1:hover {
    background-color: #333547 !important;
}