<!--<div class="container-fluid">
    <div class="page-title-box">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <h4 class="page-title">Dashboard</h4>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item active">Welcome to Veltrix Dashboard</li>
                </ol>
            </div>
            <div class="col-sm-6">
                <div class="float-right d-none d-md-block">
                    <div class="dropdown"><button class="btn btn-primary dropdown-toggle arrow-none waves-effect waves-light" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="mdi mdi-settings mr-2"></i> Settings</button>
                        <div class="dropdown-menu dropdown-menu-right"><a class="dropdown-item" href="#">Action</a> <a class="dropdown-item" href="#">Another action</a> <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div><a class="dropdown-item" href="#">Separated link</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->

<div *ngIf="language !== undefined" class="tasks">
  <div class="options">
    <div class="col-sm-12" style="padding: 1% 1% 1% 0px;" *ngIf="type !== 3">
      <div class="col-sm-6 col-xs-12">
        <kendo-combobox class="col-md-6 col-xs-12 noPaddingNoMargin" [data]="store" [textField]="'storename'"
          [valueField]="'id'" [(ngModel)]="selectedStoreId" [valuePrimitive]="true"
          (valueChange)="selectedStore($event)" [suggest]="true" [placeholder]="language.selectStore">
        </kendo-combobox>

        <kendo-multiselect class="col-md-6 col-xs-12 noPaddingNoMargin" [data]="usersInCompany"
          [textField]="'shortname'" [valueField]="'id'" [value]="value" (valueChange)="handleValue($event)"
          [placeholder]="language.selectUsers"></kendo-multiselect>
      </div>
      <div class="col-sm-6 col-xs-12" *ngIf="value !== null && value.length > 1">
        <div style="float: right;">
          <p>Orientation</p>

          <input type="radio" name="orientation" id="horizontal" class="k-radio" checked="checked"
            [(ngModel)]="orientation" [value]="'horizontal'" />
          <label class="k-radio-label" for="horizontal">Horizontal</label>

          <input type="radio" name="orientation" id="vertical" class="k-radio" [(ngModel)]="orientation"
            [value]="'vertical'" />
          <label class="k-radio-label" for="vertical" style="margin-left: 2vh;">Vertical</label>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-sm-12 col-xs-12">
        <kendo-buttongroup>
          <button kendoButton [toggleable]="true" [primary]="true" (click)="dateEventChange('today')">
            Today
          </button>
          <button kendoButton (click)="dateEventChange('prev')"><span class="k-icon k-i-arrow-60-left"></span></button>
          <button kendoButton (click)="dateEventChange('next')"><span class="k-icon k-i-arrow-60-right"></span></button>
        </kendo-buttongroup>
        <kendo-datepicker [(value)]="currentDate" (valueChange)="chageDate($event)" style="margin-left: 2vh;">
        </kendo-datepicker>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <kendo-buttongroup [selection]="'single'" style="float: right;">
          <button kendoButton [toggleable]="true" [selected]="selectedButtonIndex[0]" (click)="selectedViewCalendar(0)"
            class="k-button {{selectedButtonIndexStyle[0]}}">
            5 Days
          </button>
          <button kendoButton [toggleable]="true" [selected]="selectedButtonIndex[1]" (click)="selectedViewCalendar(1)"
            class="k-button {{selectedButtonIndexStyle[1]}}">
            3 Days
          </button>
          <button kendoButton [toggleable]="true" [selected]="selectedButtonIndex[2]" (click)="selectedViewCalendar(2)"
            class="k-button {{selectedButtonIndexStyle[2]}}">
            Month
          </button>
          <button kendoButton [toggleable]="true" [selected]="selectedButtonIndex[3]" (click)="selectedViewCalendar(3)"
            class="k-button {{selectedButtonIndexStyle[3]}}">
            Week
          </button>
          <button kendoButton [toggleable]="true" [selected]="selectedButtonIndex[4]" (click)="selectedViewCalendar(4)"
            class="k-button {{selectedButtonIndexStyle[4]}}">
            Timeline
          </button>
          <button kendoButton [toggleable]="true" [selected]="selectedButtonIndex[5]" (click)="selectedViewCalendar(5)"
            class="k-button {{selectedButtonIndexStyle[5]}}">
            Agenda
          </button>
        </kendo-buttongroup>
      </div>
    </div>

    <!--<div class="spinner loading" *ngIf="loading"></div>-->

    <!--<div *ngFor="let item of calendars">
      <div *ngIf="!loading&&item.events.length === 0 && resources.length !== 0&&type !== '3'&&value.length === 1">
        <div class="noTaskForUser">
          <i class="fa fa-tasks"></i>
          <p>{{language.noTaskForUser}}</p>
        </div>
      </div>
    </div>-->

  </div>
  <div *ngIf="loading" style="height: 90vh;">
    <div class="spinner loading"></div>
  </div>
  <div class="calendar">
    <kendo-splitter orientation="{{ orientation }}" *ngIf="!loading">
      <kendo-splitter-pane *ngFor="let item of calendars; let i = index" [size]="size[i]">
        <!--<p *ngIf="item.events.length === 0 && item.name !== null" style="text-align: center; font-size: 4vh; height: 88vh;">No
          tasks
          for user <b>{{item.name}}</b></p> -->
        <div *ngIf="item.workTime !== undefined && item.workTime.length === 0">
          <p class="noWorkTime">User doesn't have set work time! Please set worktime for user!</p>
        </div>
        <div>
          <div>
            <kendo-scheduler *ngIf="(!loading && item.workTime !== undefined) || type === 3" [editable]="true"
              [(selectedViewIndex)]="selectedViewIndex" [kendoSchedulerBinding]="item.events"
              [kendoSchedulerReactiveEditing]="createFormGroup" class="{{ zIndex }}" [selectedDate]="selectedDate"
              scrollTime="08:00" startTime="{{startWork}}" endTime="{{endWork}}" workDayStart="{{startWork}}"
              workDayEnd="{{endWork}}" (save)="saveHandler($event, item.userId)" [resources]="resources"
              (dragEnd)="dragEndHandler($event)" (resizeEnd)="resizeEndHandler($event)" (remove)="removeHandler($event)"
              (change)="changeHandler($event)">

              <ng-template kendoSchedulerToolbarTemplate let-selectedDate="selectedDate">
                <my-navigation [selectedDate]="selectedDate" style="float: left;">
                </my-navigation>
                <span *ngIf="item.name !== null && item.name !== ''" style="text-align: center; font-size: 2vh;">
                  <b>{{ item.name }}</b>
                </span>
              </ng-template>

              <!--<ng-template kendoSchedulerToolbarTemplate let-selectedView="selectedDate">
            
              <ul kendoSchedulerToolbarViewSelector>
              <my-navigation-view [selectedDate]="selectedDate">
              </my-navigation-view>
            </ul>
        </ng-template>
        -->

              <ng-template kendoSchedulerTimeSlotTemplate let-date="date"
                *ngIf="item.workTime !== undefined && item.workTime.length !== 0">
                <div *ngFor="let it of item.workTime; let j = index" class="{{dateFormat(date, i, j)}}"
                  [style.background]="calendars[i].workTime[j].color"></div>
              </ng-template>
              <ng-template kendoSchedulerEventTemplate let-event="event" let-resources="resources">
                <div *ngIf="event !== undefined">
                  <p style="font-weight: bold; padding: 0px; color: black;">{{ event.title.split('+')[0] }}</p>
                  <p style="margin-top: -17px; margin-left: 7px; color: black;">{{event.title.split('+')[1]}}</p>
                </div>
              </ng-template>

              <ng-template kendoSchedulerAllDayEventTemplate let-event="event" let-resources="resources">
                <div style="width: 100vh !important;" *ngIf="event !== undefined">
                  <p style="font-weight: bold; padding: 0px; color: black;">{{ event.title.split('+')[0] }}</p>
                  <p style="margin-top: -17px; margin-left: 7px; color: black;">{{event.title.split('+')[1]}}</p>
                </div>
              </ng-template>


              <kendo-scheduler-work-week-view [slotDuration]="timeDuration" [slotDivisions]="1">
              </kendo-scheduler-work-week-view>

              <kendo-scheduler-multi-day-view [numberOfDays]="3" [slotDuration]="timeDuration" [slotDivisions]="1">
              </kendo-scheduler-multi-day-view>

              <kendo-scheduler-month-view></kendo-scheduler-month-view>

              <kendo-scheduler-week-view [slotDuration]="timeDuration" [slotDivisions]="1">
              </kendo-scheduler-week-view>

              <kendo-scheduler-timeline-view [slotDuration]="timeDuration" [slotDivisions]="1">
              </kendo-scheduler-timeline-view>

              <kendo-scheduler-agenda-view>
              </kendo-scheduler-agenda-view>

              <ng-template kendoSchedulerEditDialogTemplate let-formGroup="formGroup" let-isNew="isNew"
                let-editMode="editMode">

                <div *ngIf="!createFormLoading" style="height: 700px; width: 400px;">
                  <div class="spinner loading" style="left: 47% !important;"></div>
                </div>

                <div class="k-form-inline" *ngIf="createFormLoading">
                  <div class="k-form-field" style="text-align: center; margin: 0px !important;">
                    <div class="col-sm-6" style="margin-bottom: 2vh;">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-12 control-label" style="color: red;">{{languageUser.attention}}:</label>
                        <textarea kendoTextArea [autoSize]="true" [(ngModel)]="customerUser.attention"
                          style="width: 70% !important;">{{customerUser.attention}}</textarea>
                        <!-- col-sm-10 -->
                      </div>
                    </div>
                    <div class="col-sm-6" style="margin-bottom: 2vh;">
                      <div class="row mgbt-xs-0">
                        <label class="col-xs-12 control-label">{{languageUser.physicalComplaint}}:</label>
                        <textarea kendoTextArea [autoSize]="true" [(ngModel)]="customerUser.physicalComplaint"
                          style="width: 70% !important;">{{customerUser.physicalComplaint}}</textarea>
                        <!-- col-sm-10 -->
                      </div>
                    </div>
                  </div>
                  <div class="k-form-field">
                    <span>{{languageUser.patient}}</span>
                    <kendo-combobox [data]="customerUsers" [textField]="'shortname'" [valueField]="'id'"
                      (valueChange)="onValueChange($event)" [(ngModel)]="customerUser" style.width="{{userWidth}}">
                      <ng-template kendoComboBoxItemTemplate let-dataItem>
                        <p style="height: 30px !important;">
                          <span style="font-weight: bold">{{ dataItem.shortname }}</span> <br>
                          <span class="customerInfo" *ngIf="dataItem.city !== ''"> {{ dataItem.city}}</span>
                          <span class="customerInfo" *ngIf="dataItem.street !== ''">/{{dataItem.street}}</span>
                        </p>
                      </ng-template>
                    </kendo-combobox>
                    <button kendoButton [icon]="'user'" [primary]="true" class="inputTheme-{{theme}}"
                      (click)="newCustomer()">
                      {{languageUser.newCustomer}}
                    </button>

                    <button kendoButton [icon]="'k-icon k-i-information'" class="inputTheme-{{theme}}" [primary]="true"
                      (click)="baseDataForUser()" *ngIf="baseDataIndicator">
                      {{languageUser.baseDate}}
                    </button>
                  </div>
                  <!--<div class="k-form-field">
                  <span>Title</span>
                  <input class="k-textbox" placeholder="Title" [formControl]="formGroup.get('title')" />
                </div>-->
                  <div class="k-form-field">
                    <span>{{languageUser.complaintValue}}</span>
                    <kendo-multiselect [data]="complaintValue" [textField]="'title'" [valueField]="'id'"
                      [(ngModel)]="selectedComplaint" name="complaint" [placeholder]="language.choiceComplaint"
                      [valuePrimitive]="true">
                    </kendo-multiselect>
                  </div>
                  <div class="k-form-field">
                    <span>{{languageUser.therapyValue}}</span>
                    <kendo-multiselect [data]="therapyValue" [textField]="'title'" [valueField]="'id'"
                      [(ngModel)]="selectedTherapies" name="therapies" [placeholder]="language.choiceTherapy"
                      [valuePrimitive]="true">
                    </kendo-multiselect>
                  </div>
                  <div class="k-form-field">
                    <span>{{languageUser.treatmentValue}}</span>
                    <kendo-multiselect [data]="treatmentValue" [textField]="'title'" [valueField]="'id'"
                      [(ngModel)]="selectedTreatments" name="therapies_previous" [placeholder]="language.treatmentValue"
                      [valuePrimitive]="true">
                    </kendo-multiselect>
                  </div>
                  <div class="k-form-field">
                    <span>{{languageUser.comment}}</span>
                    <input type="text" class="col-md-12 col-xs-12" name="comment" placeholder="Comment"
                      [(ngModel)]="complaintData.comment" comment.value=''>
                  </div>
                  <div class="k-form-field">
                    <span>{{languageUser.cs}}</span>
                    <input type="text" class="col-md-12 col-xs-12" name="cs" placeholder="CS"
                      [(ngModel)]="complaintData.cs" cs.value=''>
                  </div>
                  <div class="k-form-field">
                    <span>{{languageUser.stateValue}}</span>
                    <kendo-combobox class="col-md-12 col-xs-12 noPadding" [data]="stateValue"
                      [(ngModel)]="complaintData.state" name="state" [placeholder]="language.choiceState">
                    </kendo-combobox>
                  </div>
                  <div class="k-form-field">
                    <span>{{languageUser.em}}</span>
                    <!--<input type="text" class="col-md-12 col-xs-12" name="em" placeholder="Em"
                      [(ngModel)]="complaintData.em" cs.value=''>-->
                    <kendo-combobox class="col-md-12 col-xs-12 noPadding" [data]="allUsers" [textField]="'shortname'"
                      [valueField]="'id'" (valueChange)="onValueUserEmChange($event)" [(ngModel)]="selectedUser">
                    </kendo-combobox>
                  </div>
                  <div class="k-form-field">
                    <span>{{language.color}}</span>
                    <div style="width: 100%">
                      <kendo-colorpalette [palette]="palette" [value]="selected" [(ngModel)]="selected" [tileSize]="30"
                        [formControl]="formGroup.get('colorTask')">
                      </kendo-colorpalette>
                    </div>
                  </div>
                  <div class="k-form-field k-datetime-picker-wrapper">
                    <span>{{language.start}}</span>
                    <kendo-datepicker [formControl]="formGroup.get('start')" class="dateWidth">
                    </kendo-datepicker>
                    <kendo-timepicker [formControl]="formGroup.get('start')" *ngIf="!formGroup.controls.isAllDay.value">
                    </kendo-timepicker>
                  </div>
                  <div class="k-form-field k-datetime-picker-wrapper">
                    <span>{{language.end}}</span>
                    <kendo-datepicker [formControl]="formGroup.get('end')" class="dateWidth">
                    </kendo-datepicker>
                    <kendo-timepicker [formControl]="formGroup.get('end')" *ngIf="!formGroup.controls.isAllDay.value">
                    </kendo-timepicker>
                  </div>
                  <div class="k-form-field">
                    <span>{{language.telephone}}</span>
                    <input class="k-textbox" placeholder="Telephone" [formControl]="formGroup.get('telephone')"
                      [value]="telephoneValue" readonly style="width: 100%" />
                  </div>
                </div>
              </ng-template>
              <kendo-scheduler-messages today="{{ language.today }}" allDay="{{ language.allDay }}"
                dayViewTitle="{{ language.day }}" weekViewTitle="{{ language.week }}"
                monthViewTitle="{{ language.month }}" workWeekViewTitle="{{ language.workWeek }}"
                multiDayViewTitle="{{ language.multiDay }}" timelineViewTitle="{{ language.timeline }}"
                agendaViewTitle="{{ language.agenda }}" showWorkDay="Mostrar horas laborables"
                showFullDay="Mostrar día completo">
              </kendo-scheduler-messages>
            </kendo-scheduler>
          </div>
        </div>

        <div *ngIf="item.workTime === undefined" class="calendar">
          <kendo-scheduler [editable]="true" [kendoSchedulerBinding]="item.events"
            [kendoSchedulerReactiveEditing]="createFormGroup" [(selectedViewIndex)]="selectedViewIndex"
            class="{{ zIndex }}" [selectedDate]="selectedDate" scrollTime="08:00" startTime="{{startWork}}"
            endTime="{{endWork}}" workDayStart="{{startWork}}" workDayEnd="{{endWork}}" style="height: 100%;"
            (save)="saveHandler($event)" style="height: 100%" [resources]="resources" (dragEnd)="dragEndHandler($event)"
            (resizeEnd)="resizeEndHandler($event)" (remove)="removeHandler($event)">
            <ng-template kendoSchedulerToolbarTemplate let-selectedDate="selectedDate">
              <my-navigation [selectedDate]="selectedDate" style="float: left;">
              </my-navigation>

            </ng-template>
            <ng-template kendoSchedulerEventTemplate let-event="event" let-resources="resources">
              <div style="width: 100vh !important;" *ngIf="event !== undefined">
                <p style="font-weight: bold; padding: 0px; color: black;">{{ event.title.split('+')[0] }} </p>
                <p style="margin-top: -17px; margin-left: 7px; color: black;">{{event.title.split('+')[1]}}</p>
              </div>
            </ng-template>

            <ng-template kendoSchedulerAllDayEventTemplate let-event="event" let-resources="resources">
              <div style="width: 100vh !important;" *ngIf="event !== undefined">
                <p style="font-weight: bold; padding: 0px; color: black;">{{ event.title.split('+')[0] }} </p>
                <p style="margin-top: -17px; margin-left: 7px; color: black;">{{event.title.split('+')[1]}}</p>
              </div>
            </ng-template>

            <kendo-scheduler-work-week-view [slotDuration]="timeDuration" [slotDivisions]="1">
            </kendo-scheduler-work-week-view>

            <kendo-scheduler-multi-day-view [slotDuration]="timeDuration" [slotDivisions]="1" [numberOfDays]="3">
            </kendo-scheduler-multi-day-view>

            <kendo-scheduler-month-view> </kendo-scheduler-month-view>

            <kendo-scheduler-week-view [slotDuration]="timeDuration" [slotDivisions]="1">
            </kendo-scheduler-week-view>

            <kendo-scheduler-timeline-view [slotDuration]="timeDuration" [slotDivisions]="1">
            </kendo-scheduler-timeline-view>

            <kendo-scheduler-agenda-view> </kendo-scheduler-agenda-view>

            <ng-template kendoSchedulerEditDialogTemplate let-formGroup="formGroup" let-isNew="isNew"
              let-editMode="editMode" *ngIf="selectedStoreId !== null && selectedStoreId !== undefined && type !== 3">
              <div *ngIf="!createFormLoading" style="height: 700px">
                <div class="spinner loading" style="left: 47% !important;"></div>
              </div>
              <div class="k-form-inline" *ngIf="createFormLoading">
                <div class="k-form-field" style="text-align: center; margin: 0px !important;">
                  <div class="col-sm-6" style="margin-bottom: 2vh;">
                    <div class="row mgbt-xs-0">
                      <label class="col-xs-12 control-label" style="color: red;">{{languageUser.attention}}:</label>
                      <textarea kendoTextArea [autoSize]="true" [(ngModel)]="customerUser.attention"
                        style="width: 70% !important;">{{customerUser.attention}}</textarea>
                      <!-- col-sm-10 -->
                    </div>
                  </div>
                  <div class="col-sm-6" style="margin-bottom: 2vh;">
                    <div class="row mgbt-xs-0">
                      <label class="col-xs-12 control-label">{{languageUser.physicalComplaint}}:</label>
                      <textarea kendoTextArea [autoSize]="true" [(ngModel)]="customerUser.physicalComplaint"
                        style="width: 70% !important;">{{customerUser.physicalComplaint}}</textarea>
                      <!-- col-sm-10 -->
                    </div>
                  </div>
                </div>
                <div class="k-form-field">
                  <span>{{languageUser.patient}}</span>
                  <kendo-combobox [data]="customerUsers" [textField]="'shortname'" [valueField]="'id'"
                    (valueChange)="onValueChange($event)" [(ngModel)]="customerUser" style.width="{{userWidth}}">
                    <ng-template kendoComboBoxItemTemplate let-dataItem>
                      <span class="template">{{ dataItem.shortname }}</span>
                      <span class="template" *ngIf="dataItem.city !== ''">, {{ dataItem.city}}</span>
                      <span class="template" *ngIf="dataItem.street !== ''">/{{dataItem.street}}</span>
                    </ng-template>
                  </kendo-combobox>
                  <button kendoButton [icon]="'user'" [primary]="true" class="inputTheme-{{theme}}"
                    (click)="newCustomer()">
                    {{languageUser.newCustomer}}
                  </button>

                  <button kendoButton [icon]="'k-icon k-i-information'" class="inputTheme-{{theme}}" [primary]="true"
                    (click)="baseDataForUser()" *ngIf="baseDataIndicator">
                    {{languageUser.baseDate}}
                  </button>
                </div>
                <!--<div class="k-form-field">
                  <span>Title</span>
                  <input class="k-textbox" placeholder="Title" [formControl]="formGroup.get('title')" />
                </div>-->
                <div class="k-form-field">
                  <span>{{languageUser.complaintValue}}</span>
                  <kendo-multiselect [data]="complaintValue" [textField]="'title'" [valueField]="'id'"
                    [(ngModel)]="selectedComplaint" name="complaint" [placeholder]="language.choiceComplaint"
                    [valuePrimitive]="true">
                  </kendo-multiselect>
                </div>
                <div class="k-form-field">
                  <span>{{languageUser.therapyValue}}</span>
                  <kendo-multiselect [data]="therapyValue" [textField]="'title'" [valueField]="'id'"
                    [(ngModel)]="selectedTherapies" name="therapies" [placeholder]="language.choiceTherapy"
                    [valuePrimitive]="true">
                  </kendo-multiselect>
                </div>
                <div class="k-form-field">
                  <span>{{languageUser.treatmentValue}}</span>
                  <kendo-multiselect [data]="treatmentValue" [textField]="'title'" [valueField]="'id'"
                    [(ngModel)]="selectedTreatments" name="therapies_previous" [placeholder]="language.treatmentValue"
                    [valuePrimitive]="true">
                  </kendo-multiselect>
                </div>
                <div class="k-form-field">
                  <span>{{languageUser.comment}}</span>
                  <input type="text" class="col-md-12 col-xs-12" name="comment" placeholder="Comment"
                    [(ngModel)]="complaintData.comment" comment.value=''>
                </div>
                <div class="k-form-field">
                  <span>{{languageUser.cs}}</span>
                  <input type="text" class="col-md-12 col-xs-12" name="cs" placeholder="CS"
                    [(ngModel)]="complaintData.cs" cs.value=''>
                </div>
                <div class="k-form-field">
                  <span>{{languageUser.stateValue}}</span>
                  <kendo-combobox class="col-md-12 col-xs-12 noPadding" [data]="stateValue"
                    [(ngModel)]="complaintData.state" name="state" [placeholder]="language.choiceState">
                  </kendo-combobox>
                </div>
                <div class="k-form-field">
                  <span>{{languageUser.em}}</span>
                  <kendo-combobox class="col-md-12 col-xs-12 noPadding" [data]="allUsers" [textField]="'shortname'"
                    [valueField]="'id'" (valueChange)="onValueUserEmChange($event)" [(ngModel)]="selectedUser">
                  </kendo-combobox>
                </div>
                <div class="k-form-field">
                  <span>{{language.color}}</span>
                  <div style="width: 100%">
                    <kendo-colorpalette [palette]="palette" [value]="selected" [(ngModel)]="selected" [tileSize]="30"
                      [formControl]="formGroup.get('colorTask')">
                    </kendo-colorpalette>
                  </div>
                </div>
                <div class="k-form-field k-datetime-picker-wrapper">
                  <span>{{language.start}}</span>
                  <kendo-datepicker [formControl]="formGroup.get('start')" class="dateWidth">
                  </kendo-datepicker>
                  <kendo-timepicker [formControl]="formGroup.get('start')" *ngIf="!formGroup.controls.isAllDay.value">
                  </kendo-timepicker>
                </div>
                <div class="k-form-field k-datetime-picker-wrapper">
                  <span>{{language.end}}</span>
                  <kendo-datepicker [formControl]="formGroup.get('end')" class="dateWidth">
                  </kendo-datepicker>
                  <kendo-timepicker [formControl]="formGroup.get('end')" *ngIf="!formGroup.controls.isAllDay.value">
                  </kendo-timepicker>
                </div>
                <div class="k-form-field">
                  <span>{{language.telephone}}</span>
                  <input class="k-textbox" placeholder="Telephone" [formControl]="formGroup.get('telephone')"
                    [value]="telephoneValue" readonly style="width: 100%" />
                </div>
              </div>
            </ng-template>
            <kendo-scheduler-messages today="{{ language.today }}" allDay="{{ language.allDay }}"
              dayViewTitle="{{ language.day }}" weekViewTitle="{{ language.week }}"
              monthViewTitle="{{ language.month }}" workWeekViewTitle="{{ language.workWeek }}"
              multiDayViewTitle="{{ language.multiDay }}" timelineViewTitle="{{ language.timeline }}"
              agendaViewTitle="{{ language.agenda }}" showWorkDay="Mostrar horas laborables"
              showFullDay="Mostrar día completo">
            </kendo-scheduler-messages>
          </kendo-scheduler>
        </div>
      </kendo-splitter-pane>
    </kendo-splitter>
  </div>

  <kendo-window title="Create new patient" *ngIf="customerModal" [minWidth]="700" [width]="850" [minHeight]="300"
    (close)="customerModal = false; reloadNewCustomer()">
    <form name="loginForm" class="loginForm" (ngSubmit)="createCustomer(customer)" ngNativeValidate>
      <div class="form-group">
        <div class="panel-body">
          <div class="text-center vd_info-parent col-md-4 col-xs-12">
            <img *ngIf="data.gender === ''" alt="example image" style="width: 190px;"
              src="../../../../assets/images/users/{{imagePath}}.png" class="rounded-circle">
            <img *ngIf="data.gender !== '' && data.gender === 'male'" alt="example image" style="width: 190px;"
              src="../../../../assets/images/users/male-patient.png" class="rounded-circle">
            <img *ngIf="data.gender !== '' && data.gender === 'female'" alt="example image" style="width: 190px;"
              src="../../../../assets/images/users/female-patient.png" class="rounded-circle">
            <h2 class="font-semibold col-md-6 col-xs-12">{{data.firstname}} {{data.lastname}}</h2>
          </div>
          <div class="col-md-8 col-xs-12">
            <p>{{languageUser.username}}</p>
            <input type="text" class="email col-md-12 col-xs-12" name="shortname" placeholder="Username"
              [(ngModel)]="data.shortname" [pattern]="unamePattern" #uname="ngModel" required>
            <p *ngIf="uname.errors?.pattern" class="validError">
              <span class="k-icon k-i-close"></span> Username not valid.
            </p>
            <p>{{languageUser.firstname}}</p>
            <input type="text" class="email col-md-12 col-xs-12" name="firstname" placeholder="Firstname"
              [(ngModel)]="data.firstname" firstname.value=''>
            <p>{{languageUser.lastname}}</p>
            <input type="text" class="email col-md-12 col-xs-12" name="lastname" placeholder="Lastname"
              [(ngModel)]="data.lastname" lastname.value=''>
            <div class="form-group col-md-12 col-xs-12">
              <div class="col-md-6 col-xs-12">
                <p>{{languageUser.gender}}</p>
                <input type="radio" name="gender" id="female" class="k-radio" [(ngModel)]="data.gender"
                  [value]="'female'">
                <label class="k-radio-label col-md-6 col-xs-12" for="female">Female</label>
                <input type="radio" name="gender" id="male" class="k-radio" checked="checked" [(ngModel)]="data.gender"
                  [value]="'male'">
                <label class="k-radio-label col-md-6 col-xs-12" for="male">Male</label>
                <p *ngIf="data.gender === ''" class="validError">
                  <span class="k-icon k-i-close"></span> Gender is not selected
                </p>
              </div>
              <p>{{languageUser.birthday}}</p>
              <kendo-datepicker class="email col-md-6 col-xs-12" name="birthday" placeholder="Birthday"
                [value]="data.birthday"></kendo-datepicker>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-xs-12">
        <div class="email col-md-4 col-xs-12">
          <p>{{languageUser.telephone}}</p>
          <input type="text" class="col-xs-12" name="telephone" placeholder="Telephone" [(ngModel)]="data.telephone"
            telephone.value=''>
        </div>
        <div class="email col-md-4 col-xs-12">
          <p>{{languageUser.mobile}}</p>
          <input type="text" class="col-xs-12" name="mobile" placeholder="Mobile" [(ngModel)]="data.mobile"
            mobile.value=''>
        </div>
        <div class="email col-md-4 col-xs-12">
          <p>{{languageUser.email}}</p>
          <input type="email" class="col-xs-12" name="email" placeholder="Email" [(ngModel)]="data.email"
            [pattern]="emailPattern" #email="ngModel" required>
        </div>
        <div class="email col-md-4 col-xs-12">
          <p>{{languageUser.street}}</p>
          <input type="text" class="col-xs-12" name="street" placeholder="Street" [(ngModel)]="data.street"
            street.value=''>
        </div>
        <div class="email col-md-4 col-xs-12">
          <p>{{languageUser.streetnumber}}</p>
          <input type="text" class="col-xs-12" name="streetnumber" placeholder="Street number"
            [(ngModel)]="data.streetnumber" streetnumber.value=''>
        </div>
        <div class="email col-md-4 col-xs-12">
          <p>{{languageUser.city}}</p>
          <input type="text" class="col-xs-12" name="city" placeholder="City" [(ngModel)]="data.city" city.value=''>
        </div>
      </div>
      <!-- ./remember-row -->
      <div class="form-group">
        <button class="btn btn-lg btn-{{theme}}" type="submit">Create customer</button>
      </div>
    </form>
  </kendo-window>

  <kendo-window title="Please provide additional data" *ngIf="customerUserModal2&&customerUser !== undefined"
    [minWidth]="700" [width]="850" [height]="700" (close)="closebaseDataForUser()">
    <app-base-date [data]="customerUser" *ngIf="customerUser !== undefined">
    </app-base-date>
  </kendo-window>
</div>