#dialog {
    visibility: hidden;
}
.detailsButton-button {
    background-color: var(--theme-color);
    color: white;
    border: none;
    border-radius: 2px;
    padding: 4px 8px 4px 8px;
}

.e-dlg-modal {
    width: 80% !important;

    @media screen and (max-width: 1024px) {
        width: 60% !important;
      }
}

.text-area {
  resize: vertical;
  display: block;
  width: 100%;
  height: 70%;
  border-radius: 4px;
  border-color: #ced4da;
  padding: 5px;
}
