<div #container>
    <ejs-grid #grid *ngIf="config" width="100%" height="100%" [dataSource]='data' [editSettings]='editSettings' [toolbar]='toolbar' [allowSorting]="config.sorting.enable" [sortSettings]="config.sorting.initalSorting" [allowGrouping]="config.grouping.enable"
        [allowResizing]="config.allowResizing" [allowPaging]="config.paging.enable" [pageSettings]='config.paging.settings' [allowFiltering]="config.filtering.enable" (actionBegin)='actionBegin($event)' (actionComplete)='actionComplete($event)' (queryCellInfo)='tooltip($event)'>
        <e-columns>
            <e-column *ngFor="let item of config.columns" [type]="item.type" [field]="item.field" [headerText]="item.title" [width]="item.width" [isPrimaryKey]="item.isPrimaryKey" [editType]="item.editType ? item.editType : null" [allowEditing]='item.allowEditing'
                [format]="item.format" [validationRules]='item.validation'>
            </e-column>
        </e-columns>
        <ng-template #editSettingsTemplate let-data>
            <div ngForm #orderForm="ngForm" style="max-height: 70% !important">
                <div class="form-row">
                    <!-- <div class="form-group col-md-6">
                    <div class="e-float-input e-control-wrapper"
                        [ngClass]="{'e-error': OrderID.invalid && (OrderID.dirty || OrderID.touched)}">
                        <input [(ngModel)]="orderData.OrderID" required id="OrderID" name="OrderID" type="text"
                            [attr.disabled]="!data.isAdd ? '' : null" #OrderID="ngModel">
                        <span class="e-float-line"></span>
                        <label class="e-float-text e-label-top" for="OrderID"> Order ID</label>
                    </div>
                    <div id="OrderIDError" *ngIf='OrderID.invalid && (OrderID.dirty || OrderID.touched)'>
                        <label class="e-error" id="OrderID-info" style="display: block;">*Order ID is required</label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="e-float-input e-control-wrapper"
                        [ngClass]="{'e-error': CustomerID.invalid && (CustomerID.dirty || CustomerID.touched)}">
                        <input [(ngModel)]="orderData.CustomerID" required id="CustomerID" name="CustomerID" type="text"
                            #CustomerID="ngModel">
                        <span class="e-float-line"></span>
                        <label class="e-float-text e-label-top" for="CustomerID">Customer Name</label>
                    </div>
                    <div id="CustomerIDError" *ngIf='CustomerID.invalid && (CustomerID.dirty || CustomerID.touched)'>
                        <label class="e-error" id="CustomerID-info" style="display: block;">*Customer Name is
                            required</label>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div class="e-float-input e-control-wrapper">
                        <textarea [(ngModel)]="orderData.ShipAddress" id="ShipAddress" name="ShipAddress"
                            type="text"></textarea>
                        <span class="e-float-line"></span>
                        <label class="e-float-text e-label-top" for="ShipAddress">Ship Address</label>
                    </div>
                </div> -->
                    <app-dynamic-forms [config]="config.configField" (submit)="submitEmitter($event)" #form="dynamicForm">
                    </app-dynamic-forms>
                </div>
            </div>
        </ng-template>

    </ejs-grid>
</div>