<div #container class="position-relative">

  <div class="position-absolute columns-dropdown">
    <app-column-chooser 
        [columns]="columns" 
        [isKendoGrid]="false" 
        (outputHiddenColumns)="onOutputHiddenColumns($event)" 
        [type]="type"></app-column-chooser>
  </div>

  <ejs-grid
    #grid
    *ngIf="config"
    width="100%"
    [height]="config.height ? config.height : height"
    [dataSource]="data"
    [editSettings]="config.editSettings"
    [toolbar]="config.toolbar"
    [allowSorting]="config?.sorting?.enable"
    [sortSettings]="config?.sorting?.initialSorting"
    [allowGrouping]="config.grouping.enable"
    [allowResizing]="config.allowResizing"
    [allowPaging]="config.paging.enable"
    [pageSettings]="config.paging.settings"
    [allowFiltering]="config.filtering.enable"
    [textWrapSettings]='config.wrapSettings'
    (actionBegin)="actionBegin($event)"
    (actionComplete)="actionComplete($event)"
    (toolbarClick)="clickHandler($event)"
  >
    <!-- <ng-template *ngIf="config.customToolbar" #toolbarTemplate let-data>
      <ejs-toolbar>
        <e-items>
          <e-item
            (click)="clickHandler($event)"
            id="collapse"
            prefixIcon="fa fa-bars"
          ></e-item>
          <e-item
            (click)="refreshGrid()"
            id="refresh"
            prefixIcon="fa fa-refresh"
          ></e-item>
        </e-items>
      </ejs-toolbar>
    </ng-template> -->

    <e-columns>
      <e-column
        *ngFor="let item of config.columns; let i = index"
        [type]="item.type"
        [field]="item.field"
        [headerText]="language[item.title] ? language[item.title] : item.title"
        [width]="item.width"
        [class]="item?.class"
        [textAlign]="item?.position"
        [isPrimaryKey]="item.isPrimaryKey"
        [editType]="item.editType ? item.editType : null"
        [allowEditing]="item.allowEditing"
        [format]="item.format"
        [validationRules]="item.validation"
      >
        <ng-template
          *ngIf="item?.type == 'documentPreview'"
          class="item?.position"
          #template
          let-data
        >
          <div>
            <button
              kendoButton
              [icon]="'k-icon k-i-preview'"
              class="k-preview"
              (click)="previewDocument(data.filename)"
            >
              <span *ngIf="item.classIcon" class="item.classIcon"></span>
            </button>
          </div>
        </ng-template>
        <ng-template
          *ngIf="item?.type == 'button'"
          class="item?.position"
          #template
          let-data
        >
          <button
            *ngIf="item?.mode === 'action'"
            kendoButton
            [class]="item?.class"
            (click)="action(data, item.mode, item)"
          >
            <span *ngIf="item.classIcon" class="{{ item.classIcon }}"></span>
            {{ language[item?.label] ? language[item?.label] : item?.label }}
          </button>
        </ng-template>
        <ng-template
          *ngIf="item?.type == 'detailsButton'"
          class="item?.position"
          #template
          let-data
        >
          <button
            class="detailsButton-button"
            (click)="openClinicDetail(data.id)"
          >
            <!-- {{ language.details }} -->
            Details
          </button>
        </ng-template>
      </e-column>
    </e-columns>

    <ejs-dialog #mailTemplate [visible]='false' width="400px" height="440px" [target]='targetElement'>
      <form [formGroup]="mailGroup">
        <label *ngIf="emailsForSendingMessage.length < 1" style="color:red; display: block;"> {{ language.noClinicSelected }} </label>
        {{ language.emailSubject }}
        <input class="e-input" type="text" placeholder="{{ language.emailSubject }}" formControlName="subject"/>
        <hr>
        {{ language.mailMessage }}
        <textarea cols="45" rows="10" class="text-area" placeholder="{{ language.inputEmailMessage }}" formControlName="message"></textarea>
      </form>
      <ng-template #footerTemplate>
        <button id="cancelButton" (click)="mailTemplate.hide()" class="e-control e-btn e-primary cancelButton">{{ language.cancel }}</button>
        <button id="sendButton" [disabled]="emailsForSendingMessage.length < 1" (click)="sendEmail()" class="e-control e-btn e-primary sendButton">{{ language.sendPatientFormButton }}</button>
    </ng-template>
    </ejs-dialog>

    <ng-template #editSettingsTemplate let-data>
      <div ngForm #orderForm="ngForm" style="max-height: 70% !important">
        <div class="form-row">
          <!-- <div class="form-group col-md-6">
                    <div class="e-float-input e-control-wrapper"
                        [ngClass]="{'e-error': OrderID.invalid && (OrderID.dirty || OrderID.touched)}">
                        <input [(ngModel)]="orderData.OrderID" required id="OrderID" name="OrderID" type="text"
                            [attr.disabled]="!data.isAdd ? '' : null" #OrderID="ngModel">
                        <span class="e-float-line"></span>
                        <label class="e-float-text e-label-top" for="OrderID"> Order ID</label>
                    </div>
                    <div id="OrderIDError" *ngIf='OrderID.invalid && (OrderID.dirty || OrderID.touched)'>
                        <label class="e-error" id="OrderID-info" style="display: block;">*Order ID is required</label>
                    </div>
                </div>
                <div class="form-group col-md-6">
                    <div class="e-float-input e-control-wrapper"
                        [ngClass]="{'e-error': CustomerID.invalid && (CustomerID.dirty || CustomerID.touched)}">
                        <input [(ngModel)]="orderData.CustomerID" required id="CustomerID" name="CustomerID" type="text"
                            #CustomerID="ngModel">
                        <span class="e-float-line"></span>
                        <label class="e-float-text e-label-top" for="CustomerID">Customer Name</label>
                    </div>
                    <div id="CustomerIDError" *ngIf='CustomerID.invalid && (CustomerID.dirty || CustomerID.touched)'>
                        <label class="e-error" id="CustomerID-info" style="display: block;">*Customer Name is
                            required</label>
                    </div>
                </div>

                <div class="form-group col-md-12">
                    <div class="e-float-input e-control-wrapper">
                        <textarea [(ngModel)]="orderData.ShipAddress" id="ShipAddress" name="ShipAddress"
                            type="text"></textarea>
                        <span class="e-float-line"></span>
                        <label class="e-float-text e-label-top" for="ShipAddress">Ship Address</label>
                    </div>
                </div> -->
          <app-dynamic-forms
            [config]="config.configField"
            (submit)="submitEmitter($event)"
            (isFormDirtyChange)="setDirtyForm($event)"
            #form="dynamicForm"
          >
          </app-dynamic-forms>

          <app-dynamic-confirm-dialog
            [showDialog]="showDialog"
            [title]="language?.changesWontBeSavedTitle"
            [question]="language?.changesWontBeSaved"
            (sendEmitter)="receiveConfirm($event)"
          >
          </app-dynamic-confirm-dialog>
        </div>
      </div>
    </ng-template>
  </ejs-grid>
</div>
