<div class="form-group" [ngClass]="config.width">
  <label for="{{ config.name }}">  {{language[config.label] ? language[config.label] : config.label}}{{ config.required ? "(" + language.required + ")" : "" }}</label>
  <div
    [formGroup]="group"
    [ngClass]="{
      'e-error':
        config.field.invalid && (config.field.dirty || config.field.touched)
    }"
    style="margin-top: 0px !important"
  >
    <ng-container *ngIf="!config.allowCustom">
      <kendo-multiselect
        [required]="config.required"
        [id]="config.name"
        [data]="data"
        [textField]="config.field.text"
        [valueField]="config.field.value"
        [valuePrimitive]="true"
        [placeholder]="config.placeholder ? config.placeholder : ''"
        (filtering)="onFiltering($event)"
        [formControlName]="config.name"
      ></kendo-multiselect>
    </ng-container>
    <ng-container *ngIf="config.allowCustom">
      <kendo-multiselect
        [required]="config.required"
        [id]="config.name"
        [data]="data"
        [value]="selectedValues"
        [placeholder]="config.placeholder ? config.placeholder : ''"
        (filtering)="onFiltering($event)"
        [formControlName]="config.name"
        [allowCustom]="config.allowCustom"
        (valueChange)="onValueChange($event)"
      >
        <ng-template kendoMultiSelectNoDataTemplate>
        </ng-template>
      </kendo-multiselect>
    </ng-container>
  </div>
  <mat-error *ngIf="checkIfInputValid(config.name)">{{ language?.thisFieldIsRequired }}</mat-error>
</div>
