<div class="form-group" [ngClass]="config.width">
  <label for="{{ config.name }}">  {{language[config.label] ? language[config.label] : config.label}}</label>
  <div *ngIf="data"
    class="e-float-input e-control-wrapper"
    [formGroup]="group"
    [ngClass]="{
      'e-error':
        config.field.invalid && (config.field.dirty || config.field.touched)
    }"
    style="margin-top: 0px !important"
  >
    <kendo-multiselect
      [required]="config.required"
      [id]="config.name"
      [data]="data"
      [textField]="config.field.text"
      [valueField]="config.field.value"
      [valuePrimitive]="true"
      [placeholder]="config.placeholder ? config.placeholder : ''"
      (filtering)="onFiltering($event)"
      [formControlName]="config.name"
    ></kendo-multiselect>
  </div>
  <mat-error *ngIf="checkIfInputValid(config.name)">{{ language?.thisFieldIsRequired }}</mat-error>
</div>
