.user-options {
  padding: 3px 15px;
}

.user-options button {
  background: cornflowerblue;
  border: none;
}

.content-page .content {
  padding-bottom: 0px !important;
}

.custom-close {
  position: absolute;
  right: 20px;
  top: 24px;
}

.patternContainer {
  text-align: center;
  color: red;
}

.validError {
  text-align: center;
  color: red;
}

.validSuccess {
  text-align: center;
  color: green;
}

.patternContainer p {
  margin: 0px;
}

.spinner.loading {
  text-align: center;
  position: absolute;
  top: 50%;
}

.form-group .control-label:after {
  content: "*";
  color: red;
}

p {
  margin: 0px !important;
}
