<div *ngIf="loading" style="height: 90vh">
  <div class="spinner loading"></div>
</div>

<div *ngIf="!loading" style="height: 100%" class="position-relative">
  
  <div class="position-absolute columns-dropdown">
    <app-column-chooser 
      [columns]="columns" 
      [isKendoGrid]="true" 
      (outputHiddenColumns)="onOutputHiddenColumns($event)" 
      [type]="'Users'"></app-column-chooser>
  </div>
  
  <kendo-grid
    #grid
    [data]="gridView"
    [style.height]="height"
    [resizable]="true"
    [sortable]="true"
    [pageSize]="state.take"
    [skip]="state.skip"
    [sort]="state.sort"
    [filter]="state.filter"
    [pageable]="pageable"
    (pageChange)="pageChange($event)"
    (sortChange)="sortChange($event)"
    [kendoGridSelectBy]="mySelectionKey"
    [groupable]="true"
    [group]="state.group"
    [pageSize]="pageSize"
    (groupChange)="groupChange($event)"
  >
    <kendo-grid-messages
      pagerPage="{{ language.pagerPage }}"
      pagerOf="{{ language.pagerOf }}"
      pagerItems="{{ language.pagerItems }}"
      pagerItemsPerPage="{{ language.pagerItemsPerPage }}"
    >
    </kendo-grid-messages>
    <ng-template kendoGridToolbarTemplate>
      <div class="search">
        <kendo-textbox-container floatingLabel="{{ language.searchAllColumn }}">
          <input
            kendoTextBox
            (input)="onFilter($event.target.value)"
            [(ngModel)]="searchFilter"
          />
        </kendo-textbox-container>
      </div>
      <div class="grid-button-operation-group">
        <button
          kendoButton
          [icon]="'add'"
          (click)="newUser()"
          [primary]="true"
          class="addButton"
        >
          {{ language.newUser }}
        </button>
        <div class="dropdown-grid" style="z-index: 99;">
          <button class="btn-grid" style="border-left: 1px solid #2a3582">
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content-grid" style="z-index: 99;">
            <a style="padding: 0px"
              ><label
                class="uploadFromExcel-{{ theme }}"
                style="padding: 12px; cursor: pointer"
                ><span class="k-icon k-i-file-excel"></span>
                {{ language.uploadFromExcel
                }}<input
                  type="file"
                  name="files[]"
                  multiple
                  id="jsonFile"
                  accept=".xlsx"
                  (change)="onFileChange($event)"
                  [(ngModel)]="fileValue" /></label
            ></a>
            <a (click)="exportPDF(false)"
              ><span class="k-icon k-i-file-pdf"></span>
              {{ language.exportPageToPDF }}</a
            >

            <a (click)="exportPDF(true)"
              ><span class="k-icon k-i-file-pdf"></span>
              {{ language.exportToPDF }}</a
            >

            <a (click)="exportToExcel(grid, false)"
              ><span class="k-icon k-i-file-excel"></span>
              {{ language.exportToExcel }}
            </a>

            <a (click)="exportToExcel(grid, true)"
              ><span class="k-icon k-i-file-excel"></span>
              {{ language.exportAllToExcel }}
            </a>
          </div>
        </div>
      </div>
    </ng-template>
    <kendo-grid-column
      field="shortname"
      title="{{ language.username }}"
      width="200"
      *ngIf="!isHidden('Username')"
    >
    </kendo-grid-column>
    <kendo-grid-column 
      field="email" 
      title="{{ language.email }}"
      width="230"
      *ngIf="!isHidden('Email address')">
    </kendo-grid-column>
    <kendo-grid-column
      field="firstname"
      title="{{ language.firstname }}"
      width="120"
      *ngIf="!isHidden('Firstname')"
    >
    </kendo-grid-column>
    <kendo-grid-column
      field="lastname"
      title="{{ language.lastname }}"
      width="120"
      *ngIf="!isHidden('Lastname')"
    >
    </kendo-grid-column>
    <kendo-grid-column 
      field="street"
      title="{{ language.street }}" 
      width="180"
      *ngIf="!isHidden('Street')">
    </kendo-grid-column>
    <kendo-grid-column 
      field="active" 
      title="{{ language.active }}" 
      width="120"
      *ngIf="!isHidden('Active')">
      <ng-template kendoGridCellTemplate let-dataItem>
        <input type="checkbox" [checked]="dataItem.active" disabled />
      </ng-template>
    </kendo-grid-column>
    <kendo-grid-column title="" width="100">
      <ng-template kendoGridCellTemplate let-dataItem>
        <button
          kendoButton
          [icon]="'k-icon k-i-preview'"
          class="k-preview"
          (click)="generateLink('dashboard/home/user-details', dataItem.id)"
        ></button>
      </ng-template>
    </kendo-grid-column>

    <kendo-grid-pdf
      fileName="Users.pdf"
      [allPages]="allPages"
      paperSize="A4"
      [scale]="0.8"
      [repeatHeaders]="true"
      [landscape]="true"
    >
      <kendo-grid-pdf-margin
        top="2cm"
        left="1cm"
        right="1cm"
        bottom="2cm"
      ></kendo-grid-pdf-margin>
      <ng-template
        kendoGridPDFTemplate
        let-pageNum="pageNum"
        let-totalPages="totalPages"
      >
        <div class="page-template">
          <div class="header">
            <div>Page {{ pageNum }} of {{ totalPages }}</div>
          </div>
        </div>
      </ng-template>
      <kendo-grid-column
        field="shortname"
        title="{{ language.username }}"
        width="200"
      >
      </kendo-grid-column>
      <kendo-grid-column
        field="alias_name"
        title="{{ language.aliasName }}"
        width="230"
      >
      </kendo-grid-column>
      <kendo-grid-column field="email" title="{{ language.email }}" width="150">
      </kendo-grid-column>
      <kendo-grid-column
        field="firstname"
        title="{{ language.firstname }}"
        width="120"
      >
      </kendo-grid-column>
      <kendo-grid-column
        field="lastname"
        title="{{ language.lastname }}"
        width="120"
      >
      </kendo-grid-column>
      <kendo-grid-column
        field="street"
        title="{{ language.street }}"
        width="180"
      >
      </kendo-grid-column>
      <kendo-grid-column
        field="active"
        title="{{ language.active }}"
        width="120"
      >
      </kendo-grid-column>
    </kendo-grid-pdf>

    <kendo-grid-excel
      fileName="Users.xlsx"
      [fetchData]="allData"
    ></kendo-grid-excel>
    <ng-template kendoGridNoRecordsTemplate>
      <div class="row no-results-element">
        <div class="text-center">
          <i class="fa fa-heartbeat no-results-icon"></i><br />
        </div>
        <div class="text-center m-t-md">
          <p class="m-b-none">
            You have no records yet! Let's start with adding records.
          </p>
        </div>
      </div>
    </ng-template>
  </kendo-grid>
</div>

<modal #user modalClass="modal-lg" (keydown.esc)="confirmClose()">
  <modal-header>
    <h4>{{ language.createNewUser }}</h4>
    <button type="button" class="custom-close close" data-dismiss="modal" (click)="confirmClose()">
      <span aria-hidden="true">&times;</span>
    </button>
  </modal-header>
  <modal-content>
    <app-dynamic-confirm-dialog
      [showDialog]="showDialog"
      [title]="language?.changesWontBeSavedTitle"
      [question]="language?.changesWontBeSaved"
      (sendEmitter)="receiveConfirm($event)"
    >
    </app-dynamic-confirm-dialog>
    <form
      name="loginForm"
      class="loginForm"
      (ngSubmit)="createUser(user)"
      #userForm="ngForm"
      (change)="isDirty()"
    >
      <!--<div class="patternContainer">
      <div class="col-xs-6">

        <p *ngIf="email.errors?.pattern || data.email === undefined || data.email === ''" class="validError">
          <span class="k-icon k-i-close"></span> Email not valid.
        </p>

        <p *ngIf="!email.errors?.pattern && data.email !== undefined && data.email !== ''" class="validSuccess">
          <span class="k-icon k-i-check"></span> Email is valid.
        </p>

        <p *ngIf="data.type === undefined || data.type === ''" class="validError">
          <span class="k-icon k-i-close"></span> User type not selected.
        </p>

        <p *ngIf="data.type !== undefined && data.type !== ''" class="validSuccess">
          <span class="k-icon k-i-check"></span> User type is selected.
        </p>

        <p *ngIf="data.storeId === undefined || data.storeId === ''" class="validError">
          <span class="k-icon k-i-close"></span> Store not selected.
        </p>

        <p *ngIf="data.storeId !== undefined && data.storeId !== ''" class="validSuccess">
          <span class="k-icon k-i-check"></span> Store is selected.
        </p>
      </div>
      <div class="col-xs-6">

        <div *ngIf="password.errors?.pattern || data.password === undefined || data.password === ''" class="validError">
          <span class="k-icon k-i-close"></span> Passwords must have:
          <ul>
            <li>
              At least 8 characters in length
            </li>
            <li>
              Lowercase letters
            </li>
            <li>
              Uppercase letters
            </li>
            <li>
              Numbers
            </li>
            <li>
              Special characters
            </li>
          </ul>
        </div>

        <div *ngIf="!password.errors?.pattern && data.password !== undefined && data.password !== ''"
          class="validSuccess">
          <span class="k-icon k-i-check"></span> Password correct
          <ul>
            <li>
              At least 8 characters in length
            </li>
            <li>
              Lowercase letters
            </li>
            <li>
              Uppercase letters
            </li>
            <li>
              Numbers
            </li>
            <li>
              Special characters
            </li>
          </ul>
        </div>
      </div>
    </div>
    -->
      <div class="col-md-4 col-xs-12 b-r">
        <kendo-textbox-container
          floatingLabel="{{ language.username }}({{ language.required }})"
        >
          <input
            id="username"
            kendoTextBox
            type="text"
            class="col-xs-12"
            name="shortname"
            [(ngModel)]="data.shortname"
            #uname="ngModel"
            required
          />
        </kendo-textbox-container>
        <mat-error *ngIf="checkIfInputValid('username')">{{ language?.thisFieldIsRequired }}</mat-error>
      </div>
      <div class="col-md-4 col-xs-12 b-r">
        <kendo-textbox-container floatingLabel="{{ language.aliasName }}">
          <input
            kendoTextBox
            type="text"
            class="col-xs-12"
            name="alias_name"
            [(ngModel)]="data.alias_name"
            #alias_name="ngModel"
          />
        </kendo-textbox-container>
      </div>
      <div class="col-md-4 col-xs-12 b-r">
        <kendo-textbox-container
          floatingLabel="{{ language.password }}({{ language.required }})"
        >
          <input
            id="password"
            kendoTextBox
            type="{{ hideShow }}"
            class="col-xs-12 password"
            name="password"
            [(ngModel)]="data.password"
            #password="ngModel"
            required
          />
        </kendo-textbox-container>
        <mat-error *ngIf="checkIfInputValid('password')">{{ language?.thisFieldIsRequired }}</mat-error>
      </div>
      <div class="col-md-6 col-xs-12 b-r">
        <kendo-textbox-container floatingLabel="{{ language.firstname }}">
          <input
            kendoTextBox
            type="text"
            class="col-xs-12"
            name="firstname"
            [(ngModel)]="data.firstname"
            firstname.value=""
          />
        </kendo-textbox-container>
      </div>
      <div class="col-md-6 col-xs-12 b-r">
        <kendo-textbox-container floatingLabel="{{ language.lastname }}">
          <input
            kendoTextBox
            type="text"
            class="col-xs-12"
            name="lastname"
            [(ngModel)]="data.lastname"
            lastname.value=""
          />
        </kendo-textbox-container>
      </div>
      <div class="col-md-12 col-xs-12 b-r">
        <kendo-textbox-container floatingLabel="{{ language.street }}">
          <input
            kendoTextBox
            type="text"
            class="col-xs-12"
            name="street"
            [(ngModel)]="data.street"
            street.value=""
          />
        </kendo-textbox-container>
      </div>
      <div class="col-md-6 col-xs-12 b-r">
        <kendo-textbox-container floatingLabel="{{ language.zipCode }}">
          <input
            kendoTextBox
            type="text"
            class="col-xs-12"
            name="zipcode"
            [(ngModel)]="data.zipcode"
            zipcode.value=""
          />
        </kendo-textbox-container>
      </div>
      <div class="col-md-6 col-xs-12 b-r">
        <kendo-textbox-container floatingLabel="{{ language.place }}">
          <input
            kendoTextBox
            type="text"
            class="col-xs-12"
            name="place"
            [(ngModel)]="data.place"
            place.value=""
          />
        </kendo-textbox-container>
      </div>
      <div class="col-md-4 col-xs-12 b-r">
        <kendo-textbox-container floatingLabel="{{ language.telephone }}">
          <input
            kendoTextBox
            type="text"
            class="col-xs-12"
            name="telephone"
            [(ngModel)]="data.telephone"
            telephone.value=""
          />
        </kendo-textbox-container>
      </div>
      <div class="col-md-4 col-xs-12 b-r">
        <kendo-textbox-container floatingLabel="{{ language.mobile }}">
          <input
            kendoTextBox
            type="text"
            class="col-xs-12"
            name="mobile"
            [(ngModel)]="data.mobile"
            mobile.value=""
          />
        </kendo-textbox-container>
      </div>
      <div class="col-md-4 col-xs-12 b-r">
        <kendo-textbox-container
          floatingLabel="{{ language.email }}({{ language.required }})"
        >
          <input
            id="email"
            kendoTextBox
            type="email"
            class="col-xs-12"
            name="email"
            [(ngModel)]="data.email"
            #email="ngModel"
            required
          />
        </kendo-textbox-container>
        <mat-error *ngIf="checkIfInputValid('email')">{{ language?.thisFieldIsRequired }}</mat-error>
      </div>
      <div class="col-md-6 col-xs-12 b-r">
        <kendo-textbox-container floatingLabel="{{ language.birthday }}">
          <kendo-datepicker 
            format="dd.MM.yyyy" 
            class="col-xs-12 noPadding" 
            name="birthday"
            [placeholder]="language.birthday"
            [ngModel]="data && checkIsValidDate(data.birthday) ? data.birthday : null"
            (valueChange)="checkIsValidDate($event) && (data.birthday=$event)">
          </kendo-datepicker>
        </kendo-textbox-container>
      </div>
      <div class="col-md-6 col-xs-12 b-r">
        <kendo-textbox-container floatingLabel="{{ language.sincecompany }}">
          <kendo-datepicker
              format="dd.MM.yyyy"
              class="col-xs-12 noPadding" 
              name="sincecompany"
              [placeholder]="language.sincecompany"
              [ngModel]="data && checkIsValidDate(data.incompanysince) ? data.incompanysince : null"
              (valueChange)="checkIsValidDate($event) && (data.incompanysince=$event)"
          ></kendo-datepicker>
        </kendo-textbox-container>
      </div>
      <div class="col-md-6 col-xs-12 b-r" *ngIf="userType !== undefined">
        <kendo-textbox-container
          floatingLabel="{{ language.userType }}({{ language.required }})"
        >
          <kendo-combobox
            id="userType"
            [data]="userType"
            (selectionChange)="selectionChange($event)"
            [(ngModel)]="selectedUserType"
            name="user-type"
            class="col-xs-12 noPadding"
            required
          >
          </kendo-combobox>
        </kendo-textbox-container>
        <mat-error *ngIf="checkIfInputValid('userType')">{{ language?.thisFieldIsRequired }}</mat-error>
      </div>
      <label class="k-form-field col-md-6 mt-5" style="text-align: center">
        {{ language.active }} &nbsp;
        <kendo-switch [(ngModel)]="data.active" name="active"></kendo-switch>
      </label>
      <div class="col-md-12 col-xs-12 b-r" *ngIf="storeLocation !== undefined">
        <kendo-textbox-container
          floatingLabel="{{ language.storeLocation }}({{ language.required }})"
        >
          <kendo-combobox
            id="storeLocation"
            [data]="storeLocation"
            [textField]="'storename'"
            [valueField]="'id'"
            (selectionChange)="selectionChangeStore($event)"
            class="col-xs-12 noPadding"
            [(ngModel)]="selectedStoreId"
            name="storeId"
            required
          >
          </kendo-combobox>
        </kendo-textbox-container>
        <mat-error *ngIf="checkIfInputValid('storeLocation')">{{ language?.thisFieldIsRequired }}</mat-error>
      </div>

      <!-- ./remember-row -->
      <div class="form-group" style="text-align: center">
        <button
          kendoButton
          [primary]="true"
          class="form-button"
          type="submit"
          [disabled]="userForm.form.invalid"
        >
          {{ language.createNewUser }}
        </button>
      </div>
    </form>
  </modal-content>
  <modal-footer class="modal-footer-none"> </modal-footer>
</modal>

<kendo-dialog
  title="{{ language.pleaseConfirm }}"
  *ngIf="excelOpened"
  (close)="close('excel')"
  [minWidth]="250"
  [width]="450"
>
  <p style="margin: 30px; text-align: center">
    {{ language.areYouSure }}
  </p>
  <kendo-dialog-actions>
    <button kendoButton (click)="excelAction('no')">{{ language.no }}</button>
    <button kendoButton (click)="excelAction('yes')" primary="true">
      {{ language.yes }}
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
