.user-options {
  padding: 3px 15px;
}

.user-options button {
  background: cornflowerblue;
  border: none;
}

.content-page .content {
  padding-bottom: 0px !important;
}

.patternContainer {
  text-align: center;
  color: red;
}

.validError {
  text-align: center;
  color: red;
}

.validSuccess {
  text-align: center;
  color: green;
}

.patternContainer p {
  margin: 0px;
}

.spinner.loading {
  text-align: center;
  position: absolute;
  top: 50%;
}

.form-group .control-label:after {
  content: "*";
  color: red;
}

p {
  margin: 0px !important;
}
.hide-b{
  padding: 0 10px 0 10px;
  margin-left: 15px;
}
.hiddenBtn{
  background-color: #091467;
  color: #fff;
}
