.user-options {
  padding: 1%;
}

.user-options button {
  background: cornflowerblue;
  border: none;
}

.content-page .content {
  padding-bottom: 0px !important;
}


.col-xs-12 {
  margin: 1%;
}

.patternContainer {
  text-align: center;
  color: red;
}

.validError {
  text-align: center;
  color: red;
}

.validSuccess {
  text-align: center;
  color: green;
}

.patternContainer p {
  margin: 0px;
}

.spinner.loading {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 55%;
}

.form-group .control-label:after { 
  content:"*";
  color:red;
}