.user-options {
    padding: 1%;
}

.user-options button {
    background: cornflowerblue;
    border: none;
}

.content-page .content {
    padding-bottom: 0px !important;
}


.col-xs-12 {
    margin: 1%;
}
