@media(max-width: 768px) {
  .vd_content-section {
    text-align: center;
  }
}

/*.k-radio-label {
  padding-left: 3vh !important;
}*/

.document-grid {
  padding-top: 3vh;
  border: 1px solid lightgray;
  border-radius: 1.5vh;
  box-shadow: 1px 1px 1px 1px lightgrey;
  margin-top: 2vh;
}

.spinner.loading {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 55%;
}

.edit-options {
  text-align: -webkit-right;
  padding: 1vh;
}

.edit-options button {
  background: green;
  border: none;
}

p {
  margin: 0px !important;
}

.form-button {  
  margin-top: 2vh;
  width: 180px;
  padding: 10px;
}

#biography .row {
  height: 215px;
}

#biography .row-grid {
  height: 435px;
}

.dropdown-grid {
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2), 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12);
  font-weight: 500;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.dropdown-content-grid {
  min-width: 115px;
  box-shadow: 0px 5px 11px 0px grey;
}

.birthday-container .k-textbox-container {
  width: 200px !important;
}

.date-archive {
  width: 99px !important;
}

.dropdown-grid {
  margin-top: -20px !important;
}