<div *ngIf="loading" style="height: 90vh;">
  <div class="spinner loading"></div>
</div>

<div *ngIf="!loading">

  <button kendoButton *ngIf="type === 'details'" [primary]="true" style="margin: 1vh;" (click)="backToGrid()"><i
      class="fa fa-arrow-left"></i> &nbsp; {{language.backToGrid}}</button>

  <div class="row" *ngIf="data !== undefined">
    <div class="col-md-12">
      <!-- BEGIN PROFILE SIDEBAR -->
      <div class="profile-sidebar">
        <div class="card card-topline-aqua">
          <div class="card-body no-padding height-9">
            <div class="row">
              <div class="profile-userpic">
                <img [src]="data.gender === 'male' ? maleImg : femaleImg" class="img-responsive" alt=""> </div>
            </div>
            <div class="profile-usertitle">
              <div class="profile-usertitle-name">
                <span class="username username-hide-on-mobile">
                  {{data.lastname}} {{data.firstname}} </span>
              </div>
            </div>
            <ul class="list-group list-group-unbordered">
              <li class="list-group-item">
                <b>{{language['firstname']}}</b>
                <span class="pull-right a-color" *ngIf="data.firstname === ''">{{language['noInformation']}}</span>
                <span class="pull-right a-color" *ngIf="data.firstname !== ''">{{data.firstname}}</span>
              </li>
              <li class="list-group-item">
                <b>{{language['lastname']}}</b>
                <span class="pull-right a-color" *ngIf="data.lastname === ''">{{language['noInformation']}}</span>
                <span class="pull-right a-color" *ngIf="data.lastname !== ''">{{data.lastname}}</span>
              </li>
              <li class="list-group-item">
                <b>{{language['birthday']}}</b>
                <span class="pull-right a-color" *ngIf="data.email === ''">{{language['noInformation']}}</span>
                <span class="pull-right a-color" *ngIf="data.email !== ''">{{data.birthday | date:'MM/dd/yyyy'}}</span>
              </li>
              <li class="list-group-item">
                <b>{{language['gender']}}</b>
                <span class="pull-right a-color" *ngIf="data.gender === ''">{{language['noInformation']}}</span>
                <span class="pull-right a-color" *ngIf="data.gender !== ''"><i *ngIf="data.gender === 'male'"
                  class="fa fa-mars" style="color: blue;"></i><i *ngIf="data.gender === 'female'"
                  class="fa fa-venus" style="color: pink;"></i> {{data.gender}} </span>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <!-- END BEGIN PROFILE SIDEBAR -->
      <!-- BEGIN PROFILE CONTENT -->
      <div class="profile-content">
        <div class="row">
          <div class="card">
            <div class="card-topline-aqua">
              <header></header>
            </div>
            <div class="white-box">
              <!-- Nav tabs -->
              <div class="p-rl-20">
                <ul class="nav customtab nav-tabs" role="tablist" style="padding-bottom: 10px;">
                  <li class="nav-item"><a (click)="changeTab('profile')" class="nav-link"
                      [ngClass]="currentTab === 'profile' ? 'active' : ''">{{language['aboutMe']}}</a></li>
                  <li class="nav-item"><a (click)="changeTab('base_one')" class="nav-link"
                      [ngClass]="currentTab === 'base_one' ? 'active' : ''">{{language.baseOne}}</a></li>
                  <li class="nav-item"><a (click)="changeTab('base_two')" class="nav-link"
                      [ngClass]="currentTab === 'base_two' ? 'active' : ''">{{language.baseTwo}}</a></li>
                  <li class="nav-item"><a (click)="changeTab('physical_illness')" class="nav-link"
                      [ngClass]="currentTab === 'physical_illness' ? 'active' : ''">{{language.physicalIllness}}</a>
                  </li>
                </ul>
              </div>
              <br>
              <!-- Tab panes -->
              <div class="tab-content" *ngIf="currentTab === 'profile'">
                <div class="tab-pane active fontawesome-demo" id="tab1">
                  <div id="biography">
                    <div class="row">
                      <div class="col-md-3 col-xs-6 b-r"> <strong> {{language['fullName']}} </strong>
                        <br>
                        <p class="text-muted">
                          <span *ngIf="data.shortname === '' || data.shortname === null">
                            {{language['noInformation']}}
                          </span>
                          <span *ngIf="data.shortname !== ''">
                            {{data.shortname}}
                          </span>
                        </p>
                      </div>
                      <div class="col-md-3 col-xs-6 b-r"> <strong> {{language['telephone']}} </strong>
                        <br>
                        <p class="text-muted">
                          <span *ngIf="data.telephone === '' || data.telephone === null">
                            {{language['noInformation']}}
                          </span>
                          <span *ngIf="data.telephone !== ''">
                            {{data.telephone}}
                          </span>
                        </p>
                      </div>
                      <div class="col-md-3 col-xs-6 b-r"> <strong>{{language['mobile']}}</strong>
                        <br>
                        <p class="text-muted">
                          <span *ngIf="data.mobile === '' || data.mobile === null">
                            {{language['noInformation']}}
                          </span>
                          <span *ngIf="data.mobile !== ''">
                            {{data.mobile}}
                          </span>
                        </p>
                      </div>
                      <div class="col-md-3 col-xs-6 b-r"> <strong>{{language['email']}}</strong>
                        <br>
                        <p class="text-muted">
                          <span *ngIf="data.email === '' || data.email === null">
                            {{language['noInformation']}}
                          </span>
                          <span *ngIf="data.email !== ''">
                            {{data.email}}
                          </span>
                        </p>
                      </div>
                      <div class="col-md-3 col-xs-6"> <strong>{{language['street']}}</strong>
                        <br>
                        <p class="text-muted">
                          <span *ngIf="data.street === '' || data.street === null">
                            {{language['noInformation']}}
                          </span>
                          <span *ngIf="data.street !== ''">
                            {{data.street}}
                          </span>
                        </p>
                      </div>
                      <div class="col-md-3 col-xs-6 b-r"> <strong>{{language['streetnumber']}}</strong>
                        <br>
                        <p class="text-muted">
                          <span *ngIf="data.streetnumber === '' || data.streetnumber === null">
                            {{language['noInformation']}}
                          </span>
                          <span *ngIf="data.streetnumber !== ''">
                            {{data.streetnumber}}
                          </span>
                        </p>
                      </div>
                      <div class="col-md-3 col-xs-6 b-r"> <strong>{{language['city']}}</strong>
                        <br>
                        <p class="text-muted">
                          <span *ngIf="data.city === '' || data.city === null">
                            {{language['noInformation']}}
                          </span>
                          <span *ngIf="data.city !== ''">
                            {{data.city}}
                          </span>
                        </p>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
              </div>

              <div class="tab-content" *ngIf="currentTab === 'base_one'">
                <div class="tab-pane active fontawesome-demo" id="tab1">
                  <div id="biography">
                    <div class="row" *ngIf="baseDataOne !== undefined">
                      <div class="col-md-4 col-xs-6 b-r" *ngIf="recommendationList !== undefined"> <strong>
                          {{language['recommendation']}} </strong>
                        <br>
                        <p class="text-muted">
                          <span *ngIf="baseDataOne.recommendation === '' || baseDataOne.recommendation === null">
                            {{language['noInformation']}}
                          </span>
                          <kendo-multiselect *ngIf="baseDataOne.recommendation !== ''" [data]="recommendationList"
                            [textField]="'title'" [valueField]="'id'" [(ngModel)]="selectedRecommendation"
                            [valuePrimitive]="true" name="recommendation" readonly="true">
                          </kendo-multiselect>
                        </p>
                      </div>
                      <div class="col-md-4 col-xs-6 b-r" *ngIf="relationshipList !== undefined"> <strong>
                          {{language['relationship']}} </strong>
                        <br>
                        <p class="text-muted">
                          <span *ngIf="baseDataOne.relationship === '' || baseDataOne.relationship === null">
                            {{language['noInformation']}}
                          </span>
                          <kendo-combobox class="col-md-12 col-xs-12 noPadding" [data]="relationshipList"
                            [textField]="'title'" [valueField]="'id'" [(ngModel)]="baseDataOne.relationship"
                            [valuePrimitive]="true" name="relationship" readonly="true">
                          </kendo-combobox>
                        </p>
                      </div>
                      <div class="col-md-4 col-xs-6 b-r" *ngIf="socialList !== undefiend">
                        <strong>{{language['social']}}</strong>
                        <br>
                        <p class="text-muted">
                          <span *ngIf="baseDataOne.social === '' || baseDataOne.social === null">
                            {{language['noInformation']}}
                          </span>
                          <kendo-combobox class="col-md-12 col-xs-12 noPadding" [data]="socialList"
                            [textField]="'title'" [valueField]="'id'" [(ngModel)]="baseDataOne.social"
                            [valuePrimitive]="true" name="title" readonly="true">
                          </kendo-combobox>
                        </p>
                      </div>
                      <div class="col-md-4 col-xs-6 b-r" *ngIf="doctorList !== undefined">
                        <strong>{{language['doctor']}}</strong>
                        <br>
                        <p class="text-muted">
                          <span *ngIf="baseDataOne.doctor === '' || baseDataOne.doctor === null">
                            {{language['noInformation']}}
                          </span>
                          <kendo-combobox *ngIf="baseDataOne.doctor !== ''" class="col-md-12 col-xs-12 noPadding"
                            [data]="doctorsList" [textField]="'firstname'" [valueField]="'id'"
                            [(ngModel)]="baseDataOne.doctor" [valuePrimitive]="true" name="doctors" readonly="true">
                          </kendo-combobox>
                        </p>
                      </div>
                      <div class="col-md-4 col-xs-6" *ngIf="baseDataOne.first_date !== undefiend">
                        <strong>{{language['firstDate']}}</strong>
                        <br>
                        <p class="text-muted">
                          <span *ngIf="baseDataOne.first_date === '' || baseDataOne.first_date === null">
                            {{language['noInformation']}}
                          </span>
                          <kendo-datepicker *ngIf="baseDataOne.first_date !== ''" [(ngModel)]="baseDataOne.first_date"
                            name="first_date" readonly="true" class="noPadding">
                          </kendo-datepicker>
                        </p>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
              </div>

              <div class="tab-content" *ngIf="currentTab === 'base_two'">
                <div class="tab-pane active fontawesome-demo" id="tab1">
                  <div id="biography">
                    <div class="row" *ngIf="baseDataTwo !== undefined">
                      <div class="col-md-3 col-xs-6 b-r"> <strong> {{language['size']}} </strong>
                        <br>
                        <p class="text-muted">
                          <span
                            *ngIf="baseDataTwo.size === '' || baseDataTwo.size === null || baseDataTwo.size === undefiend">
                            {{language['noInformation']}}
                          </span>
                          <span *ngIf="baseDataTwo.size !== ''">
                            {{baseDataTwo.size}}
                          </span>
                        </p>
                      </div>
                      <div class="col-md-3 col-xs-6 b-r"> <strong> {{language['weight']}} </strong>
                        <br>
                        <p class="text-muted">
                          <span
                            *ngIf="baseDataTwo.weight === '' || baseDataTwo.weight === null || baseDataTwo.weight === undefiend">
                            {{language['noInformation']}}
                          </span>
                          <span *ngIf="baseDataTwo.weight !== ''">
                            {{baseDataTwo.weight}}
                          </span>
                        </p>
                      </div>
                      <div class="col-md-3 col-xs-6 b-r"> <strong>{{language['birthday']}}</strong>
                        <br>
                        <p class="text-muted">
                          <span
                            *ngIf="baseDataTwo.birthday === '' || baseDataTwo.birthday === null || baseDataTwo.birthday === undefiend">
                            {{language['noInformation']}}
                          </span>
                          <kendo-datepicker *ngIf="baseDataTwo.birthday !== undefined && baseDataTwo.birthday !== ''"
                            [(ngModel)]="baseDataTwo.birthday" name="birthday" class="noPadding" readonly="true">
                          </kendo-datepicker>
                        </p>
                      </div>
                      <div class="col-md-3 col-xs-6 b-r"> <strong>{{language['childs']}}</strong>
                        <br>
                        <p class="text-muted">
                          <span
                            *ngIf="baseDataTwo.childs === '' || baseDataTwo.childs === null || baseDataTwo.childs === undefiend">
                            {{language['noInformation']}}
                          </span>
                          <span *ngIf="baseDataTwo.childs !== ''">
                            {{baseDataTwo.childs}}
                          </span>
                        </p>
                      </div>
                      <div class="col-md-4 col-xs-6"> <strong>{{language['notes']}}</strong>
                        <br>
                        <p class="text-muted">
                          <span
                            *ngIf="baseDataTwo.notes === '' || baseDataTwo.notes === null || baseDataTwo.notes === undefiend">
                            {{language['noInformation']}}
                          </span>
                          <textarea *ngIf="baseDataTwo.notes !== undefined && baseDataTwo.notes !== ''" kendoTextArea
                            type="text" [(ngModel)]="baseDataTwo.notes" name="notes" style="width: 95%;" readonly="true"
                            [autoSize]="true"></textarea>
                        </p>
                      </div>
                      <div class="col-md-4 col-xs-6 b-r"> <strong>{{language['profession']}}</strong>
                        <br>
                        <p class="text-muted">
                          <span
                            *ngIf="baseDataTwo.profession === '' || baseDataTwo.profession === null || baseDataTwo.profession === undefiend">
                            {{language['noInformation']}}
                          </span>
                          <textarea *ngIf="baseDataTwo.profession !== undefined && baseDataTwo.profession !== ''" kendoTextArea type="text"
                            [(ngModel)]="baseDataTwo.profession" name="profession" style="width: 95%;" [autoSize]="true"></textarea>
                        </p>
                      </div>
                      <div class="col-md-4 col-xs-6 b-r"> <strong>{{language['useful']}}</strong>
                        <br>
                        <p class="text-muted">
                          <span
                            *ngIf="baseDataTwo.useful === '' || baseDataTwo.useful === null || baseDataTwo.useful=== undefined">
                            {{language['noInformation']}}
                          </span>
                          <textarea *ngIf="baseDataTwo.useful !== undefined && baseDataTwo.useful !== ''" kendoTextArea type="text" [(ngModel)]="baseDataTwo.useful" name="useful"
                            style="width: 95%;" readonly="true"></textarea>
                        </p>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
              </div>

              <div class="tab-content"
                *ngIf="currentTab === 'physical_illness' && baseDataOne !== undefined && baseDataOne !== null">
                <div class=" tab-pane active fontawesome-demo" id="tab1">
                  <div id="biography">
                    <div class="row">
                      <div class="col-md-3 col-xs-6 b-r"> <strong> {{language['telephone']}} </strong>
                        <br>
                        <p class="text-muted">
                          <span *ngIf="data.telephone === '' || data.telephone === null">
                            {{language['noInformation']}}
                          </span>
                          <span *ngIf="data.telephone !== ''">
                            {{data.telephone}}
                          </span>
                        </p>
                      </div>
                      <div class="col-md-3 col-xs-6 b-r"> <strong>{{language['mobile']}}</strong>
                        <br>
                        <p class="text-muted">
                          <span *ngIf="data.mobile === '' || data.mobile === null">
                            {{language['noInformation']}}
                          </span>
                          <span *ngIf="data.mobile !== ''">
                            {{data.mobile}}
                          </span>
                        </p>
                      </div>
                      <div class="col-md-3 col-xs-6 b-r"> <strong>{{language['email']}}</strong>
                        <br>
                        <p class="text-muted">
                          <span *ngIf="data.email === '' || data.email === null">
                            {{language['noInformation']}}
                          </span>
                          <span *ngIf="data.email !== ''">
                            {{data.email}}
                          </span>
                        </p>
                      </div>
                      <div class="col-md-3 col-xs-6"> <strong>{{language['street']}}</strong>
                        <br>
                        <p class="text-muted">
                          <span *ngIf="data.street === '' || data.street === null">
                            {{language['noInformation']}}
                          </span>
                          <span *ngIf="data.street !== ''">
                            {{data.street}}
                          </span>
                        </p>
                      </div>
                      <div class="col-md-3 col-xs-6 b-r"> <strong>{{language['streetnumber']}}</strong>
                        <br>
                        <p class="text-muted">
                          <span *ngIf="data.streetnumber === '' || data.streetnumber === null">
                            {{language['noInformation']}}
                          </span>
                          <span *ngIf="data.streetnumber !== ''">
                            {{data.streetnumber}}
                          </span>
                        </p>
                      </div>
                      <div class="col-md-3 col-xs-6 b-r"> <strong>{{language['city']}}</strong>
                        <br>
                        <p class="text-muted">
                          <span *ngIf="data.city === '' || data.city === null">
                            {{language['noInformation']}}
                          </span>
                          <span *ngIf="data.city !== ''">
                            {{data.city}}
                          </span>
                        </p>
                      </div>
                    </div>
                    <hr>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- END PROFILE CONTENT -->
      </div>
    </div>
  </div>