<div class="tabs widget">
  <ul class="nav nav-tabs widget mb-0">
    <li [ngClass]="currentTab === tabType.Holidays ? 'active' : ''">
      <a (click)="changeTab(tabType.Holidays)">{{ language.holidaysTitle }}</a>
    </li>
    <li [ngClass]="currentTab === tabType.Templates ? 'active' : ''">
      <a (click)="changeTab(tabType.Templates)">{{
        language.templatesTitle
      }}</a>
    </li>
  </ul>
</div>

<!-- Tab panes -->
<div class="content-wrapper" *ngIf="currentTab === tabType.Holidays">
  <div class="row mx-0 mb-3 p-3">
    <div class="col-4">
      <kendo-combobox
        [data]="holidayTemplateList"
        [valueField]="'id'"
        [textField]="'name'"
        (valueChange)="onHolidayTemplateChange()"
        class="col-4"
        [(ngModel)]="selectedHolidayTemplate"
        name="template"
      >
      </kendo-combobox>
    </div>
  </div>

  <div class="content-wrapper p-3">
    <div class="h-100">
      <div class="row">
        <div class="pt-3" style="float:left;">
          <button
            kendoButton
            [icon]="'add'"
            (click)="openAddNewHolidayModal()"
            [primary]="true"
            class="addButton"
          >
            {{ language.addNew }}
          </button>
        </div>

        <div class="pt-3 pr-4" style="float:right;">
          <kendo-dropdownlist
            [data]="sortingOptionsList"
            textField="text"
            valueField="value"
            [disabled]="holidayTemplateNotSelected"
            [(ngModel)]="selectedSortOption"
            (valueChange)="onSortValueChanged($event)"
          >
          </kendo-dropdownlist>
        </div>
      </div>
      <hr />
      <table class="table table-responsive">
        <thead>
          <tr>
            <th>{{ language.title }}</th>
            <th>{{ language.date }}</th>
            <th>{{ language.edit }}</th>
            <th>{{ language.delete }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let holiday of holidayList">
            <td>{{ holiday.Subject }}</td>
            <td>{{ getFormattedDate(holiday) }}</td>
            <td>
              <button
                kendoButton
                [icon]="'k-icon k-i-edit'"
                (click)="openEditHolidayModal(holiday)"
              ></button>
            </td>
            <td>
              <button
                kendoButton
                [icon]="'k-icon k-i-delete'"
                (click)="openDeleteHolidayDialog(holiday.id)"
              ></button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="content-wrapper" *ngIf="currentTab === tabType.Templates">
  <div class="h-100">
    <kendo-grid
      *ngIf="language !== undefined"
      [data]="holidayTemplatesGridData"
      style="height: 89.5vh"
      [resizable]="true"
      [pageSize]="state.take"
      [skip]="state.skip"
      [sort]="state.sort"
      [sortable]="true"
      [pageable]="pageable"
      (pageChange)="pageChange($event)"
      [pageSize]="pageSize"
      (sortChange)="sortChange($event)"
      [loading]="loading"
    >
      <kendo-grid-messages
        pagerPage="{{ language.pagerPage }}"
        pagerOf="{{ language.pagerOf }}"
        pagerItems="{{ language.pagerItems }}"
        pagerItemsPerPage="{{ language.pagerItemsPerPage }}"
      >
      </kendo-grid-messages>

      <ng-template kendoGridToolbarTemplate>
        <div class="float-left pt-3">
          <button
            kendoButton
            [icon]="'add'"
            (click)="openAddNewHolidayTemplateModal()"
            [primary]="true"
            class="addButton"
          >
            {{ language.addNew }}
          </button>
        </div>
        <hr />
      </ng-template>

      <kendo-grid-column field="name" title="{{ language.title }}">
      </kendo-grid-column>

      <kendo-grid-column field="description" title="{{ language.description }}">
      </kendo-grid-column>

      <kendo-grid-column width="100">
        <ng-template kendoGridCellTemplate let-dataItem>
          <button
            kendoButton
            [icon]="'k-icon k-i-edit'"
            (click)="openEditHolidayTemplateModal(dataItem)"
          ></button>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-column width="100">
        <ng-template kendoGridCellTemplate let-dataItem>
          <button
            kendoButton
            [icon]="'k-icon k-i-delete'"
            (click)="openDeleteHolidayTemplateDialog(dataItem.id)"
          ></button>
        </ng-template>
      </kendo-grid-column>
    </kendo-grid>
  </div>
</div>

<modal
  #holidayModal
  (onClose)="closeHolidayModal()"
  modalClass="modal-md modal-dialog-centered no-footer"
>
  <modal-header>
    <h4>{{ holidayModalTitle }}</h4>
  </modal-header>
  <modal-content class="pb-0">
    <form
      name="holidayForm"
      class="holidayForm"
      (ngSubmit)="addHoliday()"
      #holidayForm="ngForm"
    >
      <div class="form-group">
        <kendo-textbox-container floatingLabel="{{ language.title }}">
          <input
            kendoTextBox
            id="subject"
            required
            type="text"
            class="col-12"
            pattern="[A-Za-zÀ-ȕ0-9 ]+"
            [(ngModel)]="currentHoliday.Subject"
            name="subject"
          />
        </kendo-textbox-container>
        <mat-error *ngIf="checkIfInputValid('subject')">{{
          language?.thisFieldIsRequired
        }}</mat-error>
      </div>
      <div class="form-group">
        <kendo-textbox-container>
          <kendo-datepicker
            id="startTime"
            [format]="'dd.MM.yyyy'"
            class="noPadding"
            name="startTime"
            [(ngModel)]="currentHoliday.StartTime"
            (valueChange)="setMinEndTime($event)"
          >
          </kendo-datepicker>
        </kendo-textbox-container>
      </div>
      <div class="form-group">
        <kendo-textbox-container>
          <kendo-datepicker
            #endTime
            [format]="'dd.MM.yyyy'"
            class="noPadding"
            name="endTime"
            [(ngModel)]="currentHoliday.EndTime"
          >
          </kendo-datepicker>
        </kendo-textbox-container>
      </div>

      <div class="form-group text-center" *ngIf="addNewHoliday">
        <button
          kendoButton
          [disabled]="holidayForm.form.invalid"
          [primary]="true"
          class="form-button"
          type="submit"
        >
          {{ language.add }}
        </button>
      </div>

      <div class="form-group text-center" *ngIf="!addNewHoliday">
        <button
          kendoButton
          [disabled]="holidayForm.form.invalid"
          [primary]="true"
          class="form-button"
          type="button"
          (click)="updateHoliday()"
        >
          {{ language.update }}
        </button>
      </div>
    </form>
  </modal-content>
</modal>

<modal
  #templateModal
  (onClose)="closeTemplateModal()"
  modalClass="modal-md modal-dialog-centered no-footer"
>
  <modal-header>
    <h4>{{ templateModalTitle }}</h4>
  </modal-header>
  <modal-content class="pb-0">
    <form
      (ngSubmit)="
        templateForm.form.valid === true
          ? addTemplate
            ? createTemplate()
            : updateTemplate()
          : null
      "
      #templateForm="ngForm"
    >
      <div class="form-group">
        <kendo-textbox-container
          id="title"
          floatingLabel="{{ language.title }}"
        >
          <input
            kendoTextBox
            required
            type="text"
            class="col-12"
            [(ngModel)]="currentTemplate.name"
            name="name"
          />
        </kendo-textbox-container>
        <mat-error *ngIf="checkIfInputValid('title')">{{
          language?.thisFieldIsRequired
        }}</mat-error>
      </div>

      <div class="form-group">
        <kendo-textbox-container floatingLabel="{{ language.description }}">
          <input
            kendoTextBox
            type="text"
            class="col-12"
            [(ngModel)]="currentTemplate.description"
            name="description"
          />
        </kendo-textbox-container>
      </div>

      <div class="form-group" style="text-align: center">
        <button
          *ngIf="addTemplate"
          kendoButton
          [primary]="true"
          class="form-button"
          [disabled]="templateForm.form.invalid"
          type="submit"
        >
          {{ language.add }}
        </button>
        <button
          *ngIf="!addTemplate"
          kendoButton
          [primary]="true"
          class="form-button"
          [disabled]="templateForm.form.invalid"
          type="submit"
        >
          {{ language.edit }}
        </button>
      </div>
    </form>
  </modal-content>
</modal>

<kendo-dialog
  title="{{ language.pleaseConfirm }}"
  *ngIf="deleteModal"
  (close)="closeDeleteDialog()"
  [minWidth]="250"
  [width]="450"
>
  <div class="modal-body text-center">
    <img
      src="../../../../assets/images/sent.png"
      alt=""
      width="50"
      height="46"
    />
    <h3>{{ language.deleteDialogTitleAreYouSure }}</h3>
  </div>
  <kendo-dialog-actions>
    <button kendoButton (click)="closeDeleteDialog()">{{ language.no }}</button>
    <button kendoButton (click)="deleteHolidayTemplate()" primary="true">
      {{ language.yes }}
    </button>
  </kendo-dialog-actions>
</kendo-dialog>

<kendo-dialog
  title="{{ language.pleaseConfirm }}"
  *ngIf="deleteHolidayModal"
  (close)="closeDeleteHolidayDialog()"
  [minWidth]="250"
  [width]="450"
>
  <div class="modal-body text-center">
    <img
      src="../../../../assets/images/sent.png"
      alt=""
      width="50"
      height="46"
    />
    <h3>{{ language.deleteDialogTitleAreYouSure }}</h3>
  </div>
  <kendo-dialog-actions>
    <button kendoButton (click)="closeDeleteHolidayDialog()">
      {{ language.no }}
    </button>
    <button kendoButton (click)="deleteHoliday()" primary="true">
      {{ language.yes }}
    </button>
  </kendo-dialog-actions>
</kendo-dialog>
