<div class="content-wrapper">
    <div class="row mx-0 mb-3 bg-white">
        <div class="col-4">
            <kendo-combobox [data]="templateList" [valueField]="'id'" [textField]="'name'" (selectionChange)="onTemplateSelection()" class="col-4" [(ngModel)]="selectedTemplate" name="template">
            </kendo-combobox>
        </div>
    </div>
</div>

<ejs-schedule #scheduleObj width='100%' height='100%' currentView='Month' [eventSettings]='eventSettings' (renderCell)="onRenderCell($event)" (popupOpen)='onPopupOpen($event)' (cellClick)="onCellClick($event)">
    <e-views>
        <e-view option='Month'>
        </e-view>
    </e-views>

</ejs-schedule>


<modal #addVacationModal (onClose)="closeAddVacationModal()" modalClass="modal-sm modal-dialog-centered no-footer">
    <modal-header>
        <h4>{{ language.addHoliday }}</h4>
    </modal-header>
    <modal-content class="pb-0">
        <form name="addHolidayForm" class="addHolidayForm" (ngSubmit)="addHoliday()" #addHolidayForm="ngForm">
            <div class="form-group">
                <kendo-textbox-container floatingLabel="{{ language.title }}">
                    <input kendoTextBox required type="text" class="col-12" pattern="[a-zA-Z0-9 ]+" [(ngModel)]="newHoliday.Subject" name="subject" />
                </kendo-textbox-container>
            </div>
            <div class="form-group">
                <kendo-textbox-container>
                    <kendo-datepicker id="startTime" [format]="'dd.MM.yyyy'" class="noPadding" name="startTime" [(ngModel)]="newHoliday.StartTime" (valueChange)="setMinEndTime($event)">
                    </kendo-datepicker>
                </kendo-textbox-container>
            </div>
            <div class="form-group">
                <kendo-textbox-container>
                    <kendo-datepicker #endTime [format]="'dd.MM.yyyy'" class="noPadding" name="endTime" [(ngModel)]=" newHoliday.EndTime">
                    </kendo-datepicker>
                </kendo-textbox-container>
            </div>

            <div class="form-group text-center" *ngIf="addNewHoliday">
                <button kendoButton [disabled]="addHolidayForm.form.invalid" [primary]="true" class="form-button" type="submit">
                    {{ language.add }}
                </button>
            </div>

            <div class="form-group text-center" *ngIf="!addNewHoliday">
                <button kendoButton [disabled]="addHolidayForm.form.invalid" [primary]="true" class="form-button" type="button" (click)="updateHoliday()">
                    {{ language.update }}
                </button>

                <button kendoButton [primary]="false" class="form-button" type="button" (click)="deleteHoliday()">
                    {{ language.delete }}
                </button>
            </div>
        </form>
    </modal-content>
</modal>