<app-home-navigation-menu [language]="language" (sendEventForChangeLanguage)="sendEventForChangeLanguage($event)">
</app-home-navigation-menu>

<section id="terms-of-service" *ngIf="language">
  <div class="card">
    <h2 class="primary-heading">{{ language.title }}</h2>
    <p class="paragraph" *ngFor="let item of language.text">
      {{ item }}
    </p>
  </div>
</section>

<footer class="footer-section">
  <app-footer-section></app-footer-section>
  <app-home-footer [language]="language"></app-home-footer>
</footer>