<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-5 col-lg-4 authfy-panel-left">
      <!-- brand-logo start -->
      <div class="brand-logo text-center">
        <a routerLink="../"
          ><img
            src="../../../../assets/images/brand-logo.png"
            width="150"
            alt="brand-logo"
        /></a>
      </div>
      <!-- ./brand-logo -->
      <!-- authfy-login start -->
      <div class="authfy-login">
        <!-- panel-login start -->
        <div class="authfy-panel panel-login text-center {{ loginForm }}">
          <div class="authfy-heading">
            <h3 class="auth-title">{{ language.loginTitle }}</h3>
            <p>
              {{ language.haventAccount }}
              <a class="lnk-toggler" data-panel=".panel-signup">{{
                language.signUp
              }}</a>
            </p>
          </div>
          <!-- social login buttons start -->
          <div class="row social-buttons">
            <div class="col-xs-4 col-sm-4">
              <a href="#" class="btn btn-lg btn-block btn-facebook">
                <i class="fa fa-facebook"></i>
              </a>
            </div>
            <div class="col-xs-4 col-sm-4">
              <a href="#" class="btn btn-lg btn-block btn-twitter">
                <i class="fa fa-twitter"></i>
              </a>
            </div>
            <div class="col-xs-4 col-sm-4">
              <a href="#" class="btn btn-lg btn-block btn-google">
                <i class="fa fa-google-plus"></i>
              </a>
            </div>
          </div>
          <!-- ./social-buttons -->
          <div class="row loginOr">
            <div class="col-xs-12 col-sm-12">
              <span class="spanOr">{{ language.or }}</span>
            </div>
          </div>
          <div class="row">
            <p style="color: red">{{ errorInfo }}</p>
            <p style="color: green" id="changeInfoSuccess"></p>
            <div class="col-xs-12 col-sm-12">
              <form
                name="loginForm"
                class="loginForm"
                (ngSubmit)="changePass()"
              >
                <div class="form-group">
                  <div class="pwdMask">
                    <input
                      type="{{ hideShow }}"
                      class="form-control password"
                      name="password"
                      placeholder="Password"
                      [(ngModel)]="data.password"
                      password.value=""
                      #password="ngModel"
                    />
                    <span
                      class="fa {{ hideShowEye }} pwd-toggle"
                      (click)="hideShowPassword()"
                    ></span>
                  </div>
                </div>
                <div class="form-group">
                  <div class="pwdMask">
                    <input
                      type="{{ hideShow }}"
                      class="form-control password"
                      name="password"
                      placeholder="Password repeat"
                      [(ngModel)]="data.password2"
                      password2.value=""
                      #password2="ngModel"
                    />
                    <span
                      class="fa {{ hideShowEye }} pwd-toggle"
                      (click)="hideShowPassword()"
                    ></span>
                  </div>
                </div>
                <div class="row remember-row"></div>
                <!-- ./remember-row -->
                <div class="form-group">
                  <button
                    class="btn btn-lg btn-block btn-primary"
                    type="submit"
                  >
                    {{ language.recoveryButton }}
                  </button>
                </div>

                <div class="form-group">
                  <a
                    class="lnk-toggler"
                    data-panel=".panel-login"
                    routerLink="/login"
                    >{{ language.alreadyHaveAnAccount }}</a
                  >
                </div>
              </form>
            </div>
          </div>
        </div>
        <!-- ./panel-login -->
      </div>
      <!-- ./authfy-login -->
    </div>
    <!-- ./authfy-panel-left -->
    <div class="col-md-7 col-lg-8 authfy-panel-right hidden-xs hidden-sm">
      <div class="hero-heading">
        <div class="headline">
          <h3>{{ language.welcomeTitle }}</h3>
          <p>{{ language.welcomeText }}</p>
        </div>
      </div>
    </div>
  </div>
  <!-- ./row -->
</div>
