<!-- <div class="bg-white py-5" *ngIf="language !== undefined">
   <div class="container">
      <div class="row">
         <div class="col-md-12">
            <div id="intro" class="mb-4">
               <div class="border-bottom pb-5 mb-5">
                  <h1 class="text-primary font-weight-light"><span
                        class="font-weight-bold">{{language.termsHeaderTitleBrand}}</span> {{language.termsHeaderTitle}}
                  </h1>
                  <p class="mb-0">{{language.termsEffectiveDate}} {{language.termsEffectiveDateValue}}</p>
               </div>
               <div class="mb-3">
                  <h2 class="h5">{{language.termsWelcomeTitle}}</h2>
               </div>
               <p>{{language.termsWelcomeText}}</p>
            </div>
            <div id="services" class="mb-4" *ngFor="let item of language.termsItems">
               <div class="mb-3">
                  <h3 class="h5">{{item.title}}</h3>
               </div>
               <p>{{item.text}}</p>
            </div>
         </div>
      </div>
   </div>
</div> -->

<app-dynamic-text-form [type]="'terms'"></app-dynamic-text-form>