span.h {
  padding: 1%;
}

.workTime {
  padding-top: 4%;
}

.noSetWorkTime {
  color: red;
  text-align: center;
  padding-top: 2%;
}

.spinner.loading {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 55%;
}

.disabled-button {
  pointer-events: none;
  opacity: 0.5;
}

.disabled-button:hover {
  pointer-events: none;
  opacity: 0.5;
  cursor: not-allowed;
}

p {
  margin: 0px !important;
}

.updateButton {
  margin-top: 2vh;
  width: 180px;
  padding: 10px;
}

.col-sm-2 {
  width: 15% !important;
}