.user-options {
  padding: 1%;
}

.user-options button {
  background: cornflowerblue;
  border: none;
}

input {
  display: block;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.col-xs-12 {
  margin: 1%;
}

@media (min-width: 768px) {
  .col-md-6 {
    width: 48%;
    margin: 1%;
  }

  .col-md-4 {
    width: 31%;
    margin: 1%;
  }
}

.content-page .content {
  padding-bottom: 0px !important;
}

.spinner.loading {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 55%;
}

p {
  margin: 0px !important;
}
