<div *ngIf="loading" style="height: 90vh;">
  <div class="spinner loading"></div>
</div>

<div *ngIf="!loading" style="height: 100%">
  <div *ngIf="selectedUser === undefined" style="height: 100%">
    <div class="vaucher-options">
      <button kendoButton [icon]="'greyscale'" (click)="newVaucher()" [primary]="true"
        style="border: none;">{{language.newVaucher}}</button>
      <label class="uploadFromExcel-{{theme}}"><span class='k-icon k-i-file-excel'></span>
        {{ language.uploadFromExcel }}<input type="file" name="files[]" multiple id="jsonFile" accept=".xlsx"
          (change)="onFileChange($event)" [(ngModel)]="fileValue" /></label>
    </div>

    <kendo-grid *ngIf="language !== undefined" [data]="gridData" [style.height.%]="93" [resizable]="true"
      [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true"
      [pageable]="true" [filterable]="true" (dataStateChange)="dataStateChange($event)"
      (pageChange)="pageChange($event)" [kendoGridSelectBy]="mySelectionKey" [loading]="loadingGridVaucher">
      <kendo-grid-messages pagerPage="{{language.pagerPage}}" pagerOf="{{language.pagerOf}}"
        pagerItems="{{language.pagerItems}}" pagerItemsPerPage="{{language.pagerItemsPerPage}}">
      </kendo-grid-messages>
      <ng-template kendoGridToolbarTemplate>
        <button type="button" kendoGridExcelCommand icon="file-excel"
          class="uploadFromExcel-{{theme}}">{{language.exportToExcel}}</button>
        <button kendoGridPDFCommand icon="file-pdf" class="uploadFromExcel-{{theme}}">{{language.exportToPDF}}</button>
      </ng-template>
      <kendo-grid-column field="id_voucher" title="{{language.id}}" width="50">
      </kendo-grid-column>
      <kendo-grid-column field="date" title="{{language.date}}" width="150">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{dataItem.date | date: 'dd.MM.yyyy'}}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="amount" title="{{language.amount}}" width="50">
      </kendo-grid-column>
      <kendo-grid-column field="date_redeemed" title="{{language.date_redeemed}}" width="100">
        <ng-template kendoGridCellTemplate let-dataItem>
          {{dataItem.date_redeemed | date: 'dd.MM.yyyy'}}
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column field="customer_name" title="{{language.customer}}" width="120">
      </kendo-grid-column>
      <kendo-grid-column field="comment" title="{{language.comment}}" width="120">
      </kendo-grid-column>
      <kendo-grid-column width="50">
        <ng-template kendoGridCellTemplate let-dataItem>
          <button kendoButton [icon]="'k-icon k-i-edit'" (click)="editForm(dataItem)"></button>
        </ng-template>
      </kendo-grid-column>
      <kendo-grid-column width="50">
        <ng-template kendoGridCellTemplate let-dataItem>
          <button kendoButton [icon]="'k-icon k-i-delete'" (click)="open('dialog', dataItem.id)"></button>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-pdf fileName="Vauchers.pdf" [allPages]="true" paperSize="A4" [repeatHeaders]="true">
        <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
        <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
          <div class="page-template">
            <div class="header">
              <div>{{language.pagerPage}} {{ pageNum }} {{language.pagerOf}} {{ totalPages }}</div>
            </div>
          </div>
        </ng-template>
        <kendo-grid-column field="id_voucher" title="{{language.id}}">
        </kendo-grid-column>
        <kendo-grid-column field="date" title="{{language.date}}">
        </kendo-grid-column>
        <kendo-grid-column field="amount" title="{{language.amount}}">
        </kendo-grid-column>
        <kendo-grid-column field="date_redeemed" title="{{language.date_redeemed}}">
        </kendo-grid-column>
        <kendo-grid-column field="customer" title="{{language.customer}}">
        </kendo-grid-column>
        <kendo-grid-column field="comment" title="{{language.comment}}">
        </kendo-grid-column>
      </kendo-grid-pdf>
      <kendo-grid-excel fileName="Vauchers.xlsx"></kendo-grid-excel>
      <ng-template kendoGridNoRecordsTemplate>
        <div class="row no-results-element">
          <div class="text-center">
            <i class="fa fa-heartbeat no-results-icon"></i><br>
          </div>
          <div class="text-center m-t-md">
            <p class="m-b-none">
              You have no records yet! Let's start with adding records. </p>
          </div>
        </div>
      </ng-template>
    </kendo-grid>
  </div>

  <kendo-dialog title="Please confirm" *ngIf="vaucherDialogOpened" (close)="vaucherDialogOpened = false"
    [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Are you sure you want to import data from excel?</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="action('no')">No</button>
      <button kendoButton (click)="action('yes')" primary="true">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>

  <kendo-dialog title="Please confirm" *ngIf="dialog" (close)="dialog = false" [minWidth]="250" [width]="450">
    <p style="margin: 30px; text-align: center;">Are you sure you want to continue?</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="deleteVaucher('no')">No</button>
      <button kendoButton (click)="deleteVaucher('yes')" primary="true">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>

<kendo-window [title]="getTranslate(operationMode)" *ngIf="vaucher" [minWidth]="400" [width]="550" [minHeight]="300"
  (close)="vaucher = false">
  <form name="loginForm" class="loginForm"
    (ngSubmit)="operationMode === 'add' ? createVaucher(vaucher) : editVaucher(vaucher)" ngNativeValidate>
    <div class="col-md-12 col-xs-12">
      <p>{{language.id}}</p>
      <input *ngIf="operationMode === 'add'" class="col-xs-12" name="id_voucher" [(ngModel)]="data.id_voucher" id.id=''>

      <input kendoTextBox *ngIf="operationMode === 'edit'" class="col-xs-12" name="id_voucher" [(ngModel)]="data.id_voucher" id.id=''
        [disabled]="true">
    </div>
    <div class="col-md-12 col-xs-12">
      <p>{{language.date}}</p>
      <kendo-datepicker class="email col-md-12 col-xs-12 noPadding" name="Date" placeholder="Date"
        [(ngModel)]="dateConst" dateConst.value=''>
      </kendo-datepicker>
    </div>
    <div class="col-md-12 col-xs-12">
      <p>{{language.amount}}</p>
      <kendo-numerictextbox class="email col-md-12 col-xs-12 noPadding" name="Amount" placeholder="Amount"
        [(ngModel)]="data.amount" amount.value=''>
      </kendo-numerictextbox>
    </div>
    <div class="col-md-12 col-xs-12">
      <p>{{language.date_redeemed}}</p>
      <kendo-datepicker class="email col-md-12 col-xs-12 noPadding" name="Date redeemed" placeholder="Date redeemed"
        [(ngModel)]="dateredeemedConst" dateredeemedConst.value='' [disabled]="operationMode === 'edit' ? true : false">
      </kendo-datepicker>
    </div>
    <div class="col-md-12 col-xs-12">
      <p>{{language.customer}}</p>
      <kendo-combobox class="email col-md-12 col-xs-12 noPadding" [data]="customerUsers" [textField]="'shortname'"
        [valueField]="'id'" [(ngModel)]="customerUser" name="customer">
      </kendo-combobox>
    </div>
    <div class="col-md-12 col-xs-12">
      <p>{{language.comment}}</p>
      <input type="text" class="col-xs-12" name="comment" placeholder="Comment" [(ngModel)]="data.comment"
        comment.value=''>
    </div>
    <div class="col-md-12 col-xs-12">
      <p>{{language.cs}}</p>
    </div>
    <div class="form-group" style="text-align: center;">
      <button *ngIf="operationMode === 'add'" kendoButton [primary]="true" class="form-button" type="submit"
        [disabled]="dateConst === '' || data.amount === null || data.id_voucher === null">{{language.addVaucher}}</button>
      <button *ngIf="operationMode === 'edit'" kendoButton [primary]="true" class="form-button" type="submit"
        [disabled]="dateConst === '' || data.amount === null">{{language.updateVaucher}}</button>
    </div>
  </form>
</kendo-window>

<!--<kendo-upload [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl" [autoUpload]="false">

</kendo-upload>-->
<app-base-date *ngIf="selectedUser !== undefined" [data]="selectedUser" [type]="'details'"></app-base-date>