<body>

  <div class="thankyoucontent">
      <div class="wrapper-1">
          <div class="wrapper-2">
              <!--<img src="https://i.ibb.co/Lkn7rkG/thank-you-envelope.png" alt="thank-you-envelope" border="0">-->
              <div class="checkMark">
                  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 166 150.9">
                      <path d="M0.3 96l62.4 54.1L165.6 0.3" /></svg>
              </div>
              <h1 class="blueText">Thank you!</h1>
              <p class="blueText">Your arrival is confirmed. We expect you.</p>
              <p class="blueText">See ya!</p>
              <button class="go-home"><a href="www.clinicnode.com">
                      GO TO CLINICNODE</a>
              </button>
          </div>
      </div>

  </div>


  <div class="footer">
      <img src="http://app-production.eu:8081/assets/images/clinic_node.png">
      <p>Copyright © 2020 ClinicNode. All rights reserved.</p>
  </div>
</body>