<body>
  <div class="thankyoucontent">
    <div class="wrapper-1">
      <div class="wrapper-2">
        <!--<img src="https://i.ibb.co/Lkn7rkG/thank-you-envelope.png" alt="thank-you-envelope" border="0">-->
        <div class="checkMark">
          <svg
            width="133px"
            height="133px"
            viewBox="0 0 133 133"
            version="1.1"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g
              id="check-group"
              stroke="none"
              stroke-width="1"
              fill="none"
              fill-rule="evenodd"
            >
              <circle
                id="filled-circle"
                fill="#78B348"
                cx="66.5"
                cy="66.5"
                r="54.5"
              ></circle>
              <circle
                id="white-circle"
                fill="#FFFFFF"
                cx="66.5"
                cy="66.5"
                r="55.5"
              ></circle>
              <circle
                id="outline"
                stroke="#78B348"
                stroke-width="4"
                cx="66.5"
                cy="66.5"
                r="54.5"
              ></circle>
              <polyline
                id="check"
                stroke="#FFFFFF"
                stroke-width="4"
                points="41 70 56 85 92 49"
              ></polyline>
            </g>
          </svg>
        </div>
        <h1 class="blueText">{{ text1 }}</h1>
        <p class="blueText">{{ text2 }}</p>
        <p class="blueText">{{ text3 }}</p>
        <button class="go-home" (click)="onClick(href)">
          {{ link }}
        </button>
      </div>
    </div>
  </div>

  <div class="footer">
    <img src="./assets/images/brand-logo.png" />
    <p>Copyright © 2020 ClinicNode. All rights reserved.</p>
  </div>
</body>
