<div *ngIf="loading" style="height: 90vh;">
  <div class="spinner loading"></div>
</div>

<div *ngIf="!loading">
  <div *ngIf="selectedUser === undefined">
    <div class="user-options">
      <button kendoButton [icon]="'user'" (click)="newUser()" [primary]="true">{{language.newCustomer}}</button>
      <label class="uploadFromExcel"><span class='k-icon k-i-file-excel'></span> Upload from Excel<input type="file"
          name="files[]" multiple id="jsonFile" accept=".xlsx" (change)="onFileChange($event)"
          [(ngModel)]="fileValue" /></label>
    </div>

    <kendo-grid *ngIf="language !== undefined" [data]="gridData" [height]="800" [resizable]="true"
      [pageSize]="state.take" [skip]="state.skip" [sort]="state.sort" [filter]="state.filter" [sortable]="true"
      [pageable]="true" [filterable]="true" (dataStateChange)="dataStateChange($event)"
      (pageChange)="pageChange($event)" [kendoGridSelectBy]="mySelectionKey">
      <kendo-grid-messages pagerPage="{{language.pagerPage}}" pagerOf="{{language.pagerOf}}"
        pagerItems="{{language.pagerItems}}" pagerItemsPerPage="{{language.pagerItemsPerPage}}">
      </kendo-grid-messages>
      <ng-template kendoGridToolbarTemplate>
        <button type="button" kendoGridExcelCommand icon="file-excel"
          style="background: #098E60 !important;">{{language.exportToExcel}}</button>
        <button kendoGridPDFCommand icon="file-pdf"
          style="background: #FF0000 !important;">{{language.exportToPDF}}</button>
      </ng-template>
      <kendo-grid-column field="shortname" title="{{language.username}}" width="120">
      </kendo-grid-column>
      <kendo-grid-column field="firstname" title="{{language.firstname}}" width="180">
      </kendo-grid-column>
      <kendo-grid-column field="lastname" title="{{language.lastname}}" width="180">
      </kendo-grid-column>
      <kendo-grid-column field="telephone" title="{{language.telephone}}" width="250">
      </kendo-grid-column>
      <kendo-grid-column field="email" title="{{language.email}}" width="250">
      </kendo-grid-column>
      <kendo-grid-column title="{{language.preview}}" width="60">
        <ng-template kendoGridCellTemplate let-dataItem>
          <button kendoButton [icon]="'k-icon k-i-preview'" class='k-preview' (click)="previewUser(dataItem)"></button>
        </ng-template>
      </kendo-grid-column>

      <kendo-grid-pdf fileName="Customers.pdf" [allPages]="true" paperSize="A4" [repeatHeaders]="true">
        <kendo-grid-pdf-margin top="2cm" left="1cm" right="1cm" bottom="2cm"></kendo-grid-pdf-margin>
        <ng-template kendoGridPDFTemplate let-pageNum="pageNum" let-totalPages="totalPages">
          <div class="page-template">
            <div class="header">
              <div>{{language.pagerPage}} {{ pageNum }} {{language.pagerOf}} {{ totalPages }}</div>
            </div>
          </div>
        </ng-template>
        <kendo-grid-column field="shortname" title="{{language.username}}">
        </kendo-grid-column>
        <kendo-grid-column field="firstname" title="{{language.firstname}}">
        </kendo-grid-column>
        <kendo-grid-column field="lastname" title="{{language.lastname}}">
        </kendo-grid-column>
        <kendo-grid-column field="telephone" title="{{language.telephone}}">
        </kendo-grid-column>
      </kendo-grid-pdf>

      <kendo-grid-excel fileName="Customers.xlsx"></kendo-grid-excel>
    </kendo-grid>
  </div>

  <kendo-dialog title="Please confirm" *ngIf="customerDialogOpened" (close)="close('dialog')" [minWidth]="250"
    [width]="450">
    <p style="margin: 30px; text-align: center;">Are you sure you want to import data from excel?</p>
    <kendo-dialog-actions>
      <button kendoButton (click)="action('no')">No</button>
      <button kendoButton (click)="action('yes')" primary="true">Yes</button>
    </kendo-dialog-actions>
  </kendo-dialog>
</div>

<kendo-window title="{{language.createNewCustomer}}" *ngIf="customer" [minWidth]="700" [width]="850" [height]="700"
  (close)="closeCustomer()">
  <form name="loginForm" class="loginForm" (ngSubmit)="createCustomer(customer)" ngNativeValidate>
    <div class="form-group">
      <div class="panel-body">
        <div class="text-center vd_info-parent col-md-4 col-xs-12">
          <img *ngIf="data.gender === ''" alt="example image" style="width: 190px;"
            src="../../../../assets/images/users/{{imagePath}}.png" class="rounded-circle">
          <img *ngIf="data.gender !== '' && data.gender === 'male'" alt="example image" style="width: 190px;"
            src="../../../../assets/images/users/male-patient.png" class="rounded-circle">
          <img *ngIf="data.gender !== '' && data.gender === 'female'" alt="example image" style="width: 190px;"
            src="../../../../assets/images/users/female-patient.png" class="rounded-circle">
          <h2 class="font-semibold col-md-6 col-xs-12">{{data.firstname}} {{data.lastname}}</h2>
        </div>
        <div class="col-md-8 col-xs-12">
          <p>{{language.username}}</p>
          <input type="text" class="email col-md-12 col-xs-12" name="shortname" placeholder="Username"
            [(ngModel)]="data.shortname" [pattern]="unamePattern" #uname="ngModel" required>
          <p *ngIf="uname.errors?.pattern" class="validError">
            <span class="k-icon k-i-close"></span> Username not valid.
          </p>
          <p>{{language.firstname}}</p>
          <input type="text" class="email col-md-12 col-xs-12" name="firstname" placeholder="Firstname"
            [(ngModel)]="data.firstname" firstname.value=''>
          <p>{{language.lastname}}</p>
          <input type="text" class="email col-md-12 col-xs-12" name="lastname" placeholder="Lastname"
            [(ngModel)]="data.lastname" lastname.value=''>
          <div class="form-group col-md-12 col-xs-12">
            <div class="col-md-6 col-xs-12">
              <p>{{language.gender}}</p>
              <input type="radio" name="gender" id="female" class="k-radio" [(ngModel)]="data.gender"
                [value]="'female'">
              <label class="k-radio-label col-md-6 col-xs-12" for="female">Female</label>
              <input type="radio" name="gender" id="male" class="k-radio" checked="checked" [(ngModel)]="data.gender"
                [value]="'male'">
              <label class="k-radio-label col-md-6 col-xs-12" for="male">Male</label>
              <p *ngIf="data.gender === ''" class="validError">
                <span class="k-icon k-i-close"></span> Gender is not selected
              </p>
            </div>
            <p>{{language.birthday}}</p>
            <kendo-datepicker class="email col-md-6 col-xs-12" name="birthday" placeholder="Birthday"
              [value]="data.birthday"></kendo-datepicker>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group col-xs-12">
      <div class="email col-md-4 col-xs-12">
        <p>{{language.telephone}}</p>
        <input type="text" class="col-xs-12" name="telephone" placeholder="Telephone" [(ngModel)]="data.telephone"
          telephone.value=''>
      </div>
      <div class="email col-md-4 col-xs-12">
        <p>{{language.mobile}}</p>
        <input type="text" class="col-xs-12" name="mobile" placeholder="Mobile" [(ngModel)]="data.mobile"
          mobile.value=''>
      </div>
      <div class="email col-md-4 col-xs-12">
        <p>{{language.email}}</p>
        <input type="email" class="col-xs-12" name="email" placeholder="Email" [(ngModel)]="data.email"
          [pattern]="emailPattern" #email="ngModel" required>
      </div>
      <div class="email col-md-4 col-xs-12">
        <p>{{language.street}}</p>
        <input type="text" class="col-xs-12" name="street" placeholder="Street" [(ngModel)]="data.street"
          street.value=''>
      </div>
      <div class="email col-md-4 col-xs-12">
        <p>{{language.streetnumber}}</p>
        <input type="text" class="col-xs-12" name="streetnumber" placeholder="Street number"
          [(ngModel)]="data.streetnumber" streetnumber.value=''>
      </div>
      <div class="email col-md-4 col-xs-12">
        <p>{{language.city}}</p>
        <input type="text" class="col-xs-12" name="city" placeholder="City" [(ngModel)]="data.city" city.value=''>
      </div>
    </div>
    <!-- ./remember-row -->
    <div class="form-group">
      <button class="btn btn-lg btn-{{theme}}" type="submit">Create customer</button>
    </div>
  </form>
</kendo-window>

<!--<kendo-upload [saveUrl]="uploadSaveUrl" [removeUrl]="uploadRemoveUrl" [autoUpload]="false">

</kendo-upload>-->
<app-base-date *ngIf="selectedUser !== undefined" [data]="selectedUser" [type]="'details'"></app-base-date>