.user-options {
  padding: 3px 15px;
}

.user-options button {
  background: cornflowerblue;
  border: none;
}

.content-page .content {
  padding-bottom: 0px !important;
}

/*.k-radio-label {
  padding-left: 3vh !important;
}*/

.validError {
  color: red;
}

.spinner.loading {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 55%;
}

p {
  margin: 0px !important;
}

tr.k-grid-norecords:hover {
  background-color: #fff !important;
}

html, body {
  height: 100%;
}

.btn-grid {
  background-color: #091467;
  color: white;
  font-size: 17px;
  border: none;
  outline: none;
  width: 35px;
}

.dropdown-grid {
  position: absolute;
  display: inline-block;
}

.dropdown-content-grid {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 200px;
  z-index: 1;
  right: 0;
}

.dropdown-content-grid a {
  color: black;
  padding: 12px 12px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content-grid a label {
  margin-bottom: 0px;
}

.dropdown-content-grid a:hover {background-color: #ddd}

.dropdown-grid:hover .dropdown-content-grid {
  display: block;
}

.btn-grid:hover, .dropdown-grid:hover .btn-grid {
  background-color: #1e2c90;
}

.copyPatientForm {
  position: absolute;
  bottom: 10px;
}

.custom-close {
  position: absolute;
  right: 20px;
  top: 24px;
}